.main-section {
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .div-title {
        margin-top: 5rem;

        .title {
            font-size: 35px;
            font-weight: 800;
            color: black;
        }
    }

    .background-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        
        .card-items {
            width: 90%;
            border-radius: 15px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b1b1b1,
                -5px -5px 10px #ffffff;
            // background-color: green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 1rem;

            .course-title {
                font-size: 30px;
                color: blue;
            }
            .text {
                color: black;
                font-size: 15px;
            }
            .text-isStarted-true {
                color: green;
                font-weight: 600;
                font-size: 15px;
            }
            .text-isStarted-false {
                color: red;
                font-weight: 600;
                font-size: 15px;
            }
            .btn-click-student-show {
                height: 35px;
                width: 180px;
                border-radius: 10px;
                border: none;
                background: linear-gradient(145deg, #f0f0f0, #cacaca);
                box-shadow:  5px 5px 10px #9d9d9d,
                    -5px -5px 10px #ffffff;
            }

            .btn-click-student-show:hover {
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 768px) {
    .main-section {
        .background-card {
            flex-direction: row;
            
            .card-items {
                width: 50%;
            }
        }
    }
}
@media (min-width: 1150px) {
    .main-section {
        .background-card {
            gap: 2rem;

            .card-items {
                width: 320px;
            }
        }
    }
}