<h1 class="text-3xl font-bold text-blue-500">سلام، این یک تست از Tailwind در Angular است!</h1>
<!-- <section class="main-section">
    <header>
        <nav>
          <app-navbar />
        </nav>
    </header>

    <span class="title">درس های شما</span>
    <div class="background-cards">
        @for (course of courses; track $index) {
            @if (course) {
                <div class="card">
                    <span>{{course.title}}</span>
                    <span>{{course.hours}}</span>
                    <span>{{course.days}}</span>
                    <span>{{course.hoursPerClass}}</span>
                    <span>{{course.start}}</span>
                    <span>{{course.isStarted}}</span>
                </div>
            }
        }
    </div>
</section> -->