<section class="section-about-page">
    <header>
        <nav>
            <app-navbar />
        </nav>
    </header>

    <div class="div-items-mat-tab">
        <mat-tab-group color="warn">
            <mat-tab class="tab-mamoriat" label="ماموریت ما">
                <div class="div-background1-desctop">
                    <div class="div-left-photo">
                        <img src="../assets/images/about-us-girlPhotoRS.jpg" alt="">
                    </div>

                    <div class="neumorphisem-back">
                        <div class="top-side">
                            <img class="monitor" src="../assets/images/monitor.png" alt="">

                            <div class="div-background-code">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <span>const name = ("Toloo Fanavari");</span>
                                        <span>Console.log(name);</span>
                                        <span>=></span>
                                    </div>
                                    <div class="card-back">
                                        <span>Print => Toloo Fanavari</span>
                                    </div>
                                </div>
                            </div>

                            <div class="div-icons">
                                <ul class="example-2">
                                    <li class="icon-content">
                                        <a class="a1">
                                            <div class="filled"></div>
                                            <img src="../assets/images/iconProfessor.png" alt="">
                                        </a>
                                        <div class="tooltip">اساتید حرفه ای</div>
                                    </li>

                                    <li class="icon-content">
                                        <a class="a2">
                                            <div class="filled"></div>
                                            <img src="../assets/images/iconBitcoin.png" alt="">
                                        </a>
                                        <div class="tooltip">ورود سریع به بازارکار</div>
                                    </li>

                                    <li class="icon-content">
                                        <a class="a3">
                                            <div class="filled"></div>
                                            <img src="../assets/images/iconWebDeveloper.png" alt="">
                                        </a>
                                        <div class="tooltip">متد های خارجی</div>
                                    </li>

                                    <li class="icon-content">
                                        <a class="a4">
                                            <div class="filled"></div>
                                            <img src="../assets/images/iconDream.png" alt="">
                                        </a>
                                        <div class="tooltip">رویاهای شما</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="bottom-side">
                            <div class="card">
                                <p><span>
                                        <span class="title">اساتید حرفه ای</span>
                                        <span class="discription">
                                            در آکادمی طلوع فناوری، هدف ما فراتر از یک آموزش ساده است. ما با استفاده از
                                            متدهای آموزشی بین‌المللی و بهره‌گیری از اساتید حرفه‌ای، که تجربه و دانش
                                            آن‌ها برگرفته از جدیدترین شیوه‌های روز دنیا است، فضایی فراهم کرده‌ایم که شما
                                            چیزی را یاد بگیرید که در هیچ آموزشگاه دیگری پیدا نمی‌کنید.
                                        </span>
                                    </span></p>

                                <p><span>
                                        <span class="title">بازار کار</span>
                                        <span class="discription">
                                            ما به شما این امکان را می‌دهیم که برای برنامه‌ریزی کلاس‌ها رای‌گیری کنید،
                                            چرا که اولویت ما احترام به زمان و خواسته‌های شماست. از اولین قدم تا ورود به
                                            بازار کار، کنار شما هستیم. دوره‌های ما به گونه‌ای طراحی شده‌اند که مسیر
                                            یادگیری را کوتاه کرده و شما را به سرعت برای کار در دنیای واقعی آماده کنند.
                                        </span>
                                    </span></p>

                                <p><span>
                                        <span class="title">رویاهای شما</span>
                                        <span class="discription">
                                            اینجا فقط یادگیری نیست؛ اینجا آغاز یک آینده روشن است. جایی که مهارت‌های شما
                                            به موفقیت تبدیل می‌شود، و رویاهای شما به واقعیت.
                                        </span>
                                    </span></p>
                            </div>
                        </div>
                    </div>

                    <div class="div-right-photo">
                        <img src="../assets/images/photoHomePageBoy.png" alt="">
                    </div>

                    <div class="div-photos">
                        <div class="div-left-photo">
                            <img src="../assets/images/about-us-girlPhotoRS.jpg" alt="">
                        </div>

                        <div class="div-right-photo">
                            <img src="../assets/images/photoHomePageBoy.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="div-background1-mobile-tablet">
                    <div class="top-side">
                        <span>ماموریت ما</span>
                    </div>

                    <div class="div-icons">
                        <div class="div-master">
                            <button class="btn-style-neu">
                                <img src="../assets/images/iconProfessor.png" alt="">
                            </button>
                            <span class="title">اساتید حرفه ای</span>
                            <span class="discription">هدف ما فراتر از یک آموزش ساده هست</span>
                        </div>

                        <div class="div-master">
                            <button class="btn-style-neu">
                                <img src="../assets/images/iconBitcoin.png" alt="">
                            </button>
                            <span class="title">بازار کار</span>
                            <span class="discription">سعی در این داریم که شمارو به سرعت وارد بازارکار کنیم</span>
                        </div>

                        <div class="div-master">
                            <button class="btn-style-neu">
                                <img src="../assets/images/iconDream.png" alt="">
                            </button>
                            <span class="title">رویاهای شما</span>
                            <span class="discription">این جا آغاز یک آینده روشن است</span>
                        </div>
                    </div>

                    <div class="div-photo-monitor">
                        <img class="monitor" src="../assets/images/monitor.png" alt="">

                        <img class="photo-boy" src="../assets/images/photoHomePageBoy.png" alt="">
                        <img class="photo-girl" src="../assets/images/about-us-girlPhotoRS.jpg" alt="">
                    </div>

                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)">
                            <mat-expansion-panel-header>
                                <span class="title">اساتید حرفه ای</span>
                            </mat-expansion-panel-header>

                            <span class="discription">
                                در آکادمی طلوع فناوری، هدف ما فراتر از یک آموزش ساده است. ما با استفاده از متدهای آموزشی
                                بین‌المللی و بهره‌گیری از اساتید حرفه‌ای، که تجربه و دانش آن‌ها برگرفته از جدیدترین
                                شیوه‌های روز دنیا است، فضایی فراهم کرده‌ایم که شما چیزی را یاد بگیرید که در هیچ آموزشگاه
                                دیگری پیدا نمی‌کنید.
                            </span>
                        </mat-expansion-panel>

                        <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)">
                            <mat-expansion-panel-header>
                                <span class="title">بازار کار</span>
                            </mat-expansion-panel-header>

                            <span class="discription">
                                ما به شما این امکان را می‌دهیم که برای برنامه‌ریزی کلاس‌ها رای‌گیری کنید، چرا که اولویت
                                ما احترام به زمان و خواسته‌های شماست. از اولین قدم تا ورود به بازار کار، کنار شما هستیم.
                                دوره‌های ما به گونه‌ای طراحی شده‌اند که مسیر یادگیری را کوتاه کرده و شما را به سرعت برای
                                کار در دنیای واقعی آماده کنند.
                            </span>
                        </mat-expansion-panel>

                        <mat-expansion-panel [expanded]="step() === 2" (opened)="setStep(2)">
                            <mat-expansion-panel-header>
                                <span class="title">رویاهای شما</span>
                            </mat-expansion-panel-header>

                            <span class="discription">
                                اینجا فقط یادگیری نیست؛ اینجا آغاز یک آینده روشن است. جایی که مهارت‌های شما به موفقیت
                                تبدیل می‌شود، و رویاهای شما به واقعیت.
                            </span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-tab>

            <!-- <mat-tab label="تیم آکادمی">
                <div class="div-background2">
                    <div class="main">
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">REZA<br />TABA</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>مدیر کلاس</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">VAHID<br />HAYTI POOR</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">PARSA<br />JAFARI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">KHANOM<br />GHOLAMI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>مدیر و بنیان گذار</span>
                                        <span class="highlight">آکادمی</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">MOLA<br />JAN</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">ICDL</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">PARISA<br />BAHARI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>منشی</span>
                                        <span class="highlight">آکادمی</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab> -->

            <mat-tab label="درباره آکادمی">
                <div class="div-about-us">
                    <div class="div-photo">
                        <img src="../assets/images/aboutAcademyRS.jpg" alt="">
                    </div>

                    <div class="div-text-title">
                        <span class="title1">We <span class="title2">Do It</span></span>
                        <span class="title1">Together</span>
                        <span class="title3">ما باهم انجامش میدیم</span>
                    </div>

                    <div class="div-description">
                        <div class="div-top-title">
                            <span>درباره‌ی آکادمی ما</span>
                        </div>
                        <div class="div-bottom-des">
                            <span>
                                ما یه آکادمی هستیم، نه صرفاً یه آموزشگاه. جایی برای آدم‌های مشتاق به یادگیری واقعی، جایی
                                برای تجربه کردن دنیای واقعی برنامه‌نویسی، نه فقط حفظ کردن چند خط کد.

                                شروع این مسیر با استادی از قلب آمریکا بود؛ کسی که با تجربه‌ی سال‌ها آموزش در سطح جهانی،
                                متدهایی رو با خودش آورد که امروز به بخشی از هویت ما تبدیل شده.
                                اون متدها حالا مثل یه Legacy توی آکادمی ما زندگی می‌کنن — توی روش آموزش، توی برخورد با
                                دانش‌جوها، توی مسیر رشدشون.

                                ما با افتخار شاگردان اون استاد بزرگ رو داریم که حالا خودشون دارن نسل بعدی برنامه‌نویس‌ها
                                رو آموزش می‌دن. .

                                توی آکادمی ما جنس یادگیری، واقعی و انسانی‌ـه. فرقی نمی‌کنه دختر باشی یا پسر، مبتدی یا
                                حرفه‌ای؛ اینجا جاییه برای همه‌ی اونایی که می‌خوان متفاوت یاد بگیرن.
                            </span>
                        </div>
                    </div>

                    <div class="point-academy-text">
                        <span>. با هم یاد می‌گیریم، کد می‌زنیم، اشتباه می‌کنیم و با هم رشد می‌کنیم </span>
                    </div>

                    <div class="div-a-contact-us">
                        <a [routerLink]="['/' + 'contact-us']" routerLinkActive #rla="routerLinkActive">تماس با ما</a>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>