/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Vazir';
    src: url('assets/fonts/Vazir.woff2') format('woff2'),
        url('assets/fonts/Vazir.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

body {
    overflow-y: auto;
}

html,
body {
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

img,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}