/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Vazir';
    src: url('assets/fonts/Vazir.woff2') format('woff2'),
        url('assets/fonts/Vazir.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

body {
    width: 100%;
    background-color: #e0e0e0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// for style to snack bar

// .mat-mdc-snack-bar-container.snack-success {
//     --mdc-snackbar-container-color: #2e7d32;
//     --mdc-snackbar-supporting-text-color: #fff;
//     --mdc-snackbar-action-color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-info {
//     --mdc-snackbar-container-color: #1565c0;
//     --mdc-snackbar-supporting-text-color: #fff;
//     --mdc-snackbar-action-color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-error {
//     --mdc-snackbar-container-color: #c62828;
//     --mdc-snackbar-supporting-text-color: #fff;
//     --mdc-snackbar-action-color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-success .mdc-snackbar__surface {
//     background: blue;
// }

// .mat-mdc-snack-bar-container.snack-success .mdc-snackbar__label {
//     color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-success .mat-mdc-snack-bar-action {
//     color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-info .mdc-snackbar__surface {
//     background: red;
// }

// .mat-mdc-snack-bar-container.snack-info .mdc-snackbar__label {
//     color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-info .mat-mdc-snack-bar-action {
//     color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-error .mdc-snackbar__surface {
//     background: #c62828;
// }

// .mat-mdc-snack-bar-container.snack-error .mdc-snackbar__label {
//     color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-error .mat-mdc-snack-bar-action {
//     color: #fff;
// }