<header>
  <nav>
    <app-navbar />
  </nav>
</header>

<section id="main-section">
  <mat-tab-group>
    <mat-tab label="ثبت نام منشی">
      <form class="register-form" [formGroup]="addSecretaryFg" (ngSubmit)="addSecretary()">
        <div class="content">

          <div class="div-title-radio-input">
            <span class="title">ثبت نام منشی</span>

            <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="genderCtrl">
              <mat-radio-button class="radio-button" value="male">مرد</mat-radio-button>
              <mat-radio-button class="radio-button" value="female">زن</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input class="input" autoFocusDir type="email" formControlName="emailCtrl" matInput>
            <mat-hint>ایمیل خودرا وارد کنید</mat-hint>
            <mat-error *ngIf="SecretaryEmailCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="SecretaryEmailCtrl.hasError('pattern')">ایمیل رو به درستی وارد کنید</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>رمز عبور</mat-label>
            <input class="input" [type]="hideSecretaryPassword ? 'password' : 'text'" formControlName="passwordCtrl"
              matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideSecretaryPassword = !hideSecretaryPassword">
              <mat-icon>{{ hideSecretaryPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="SecretaryPasswordCtrl.hasError('required')">فرم رو پرکنید</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تکرار رمز عبور</mat-label>
            <input class="input" [type]="hideSecretaryConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPasswordCtrl" matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideSecretaryConfirmPassword = !hideSecretaryConfirmPassword">
              <mat-icon>{{ hideSecretaryConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="SecretaryConfirmPasswordCtrl.hasError('required')">فرم رو پرکنید</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام</mat-label>
            <input class="input" type="text" formControlName="nameCtrl" matInput>
            <mat-error *ngIf="SecretaryNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="SecretaryNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف</mat-error>
            <mat-error *ngIf="SecretaryNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام خانوادگی</mat-label>
            <input class="input" type="text" formControlName="lastNameCtrl" matInput>
            <mat-error *ngIf="SecretaryLastNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="SecretaryLastNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف</mat-error>
            <mat-error *ngIf="SecretaryLastNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="phone-field" floatLabel="always">
            <mat-label>شماره موبایل</mat-label>
            <span matPrefix dir="ltr" class="phone-label">+98&nbsp;</span>
            <input class="input" type="tel" maxlength="10" matInput formControlName="phoneNumCtrl" dir="ltr">
            <mat-error *ngIf="SecretaryPhoneNumCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="SecretaryPhoneNumCtrl.hasError('pattern')">شماره موبایل باید ۱۰ رقم و بدون ۰
              باشد</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تاریخ تولد</mat-label>
            <input class="input" [value]="shamsiDisplayDate" readonly (click)="uiIsVisible = true" matInput />
          </mat-form-field>

          <ng-persian-datepicker [calendarIsGregorian]="false" (dateOnSelect)="onSecretaryDateSelect($event)"
            [dateFormat]="'jYYYY/jMM/jDD'" [dateGregorianFormat]="'YYYY-MM-DD'" [(uiIsVisible)]="uiIsVisible"
            [uiTheme]="uiTheme" [uiYearView]="uiYearView" [uiMonthView]="uiMonthView"
            [uiHideAfterSelectDate]="uiHideAfterSelectDate" [uiHideOnOutsideClick]="uiHideOnOutsideClick"
            [uiTodayBtnEnable]="uiTodayBtnEnable">
          </ng-persian-datepicker>

          <div class="div-btn-add">
            <button type="submit" [disabled]="addSecretaryFg.invalid" mat-raised-button color="primary">ثبت نام</button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="ثبت نام دانشجو">
      <form class="register-form" [formGroup]="addStudentFg" (ngSubmit)="addStudent()">
        <div class="content">
          <div class="div-title-radio-input">
            <span class="title">ثبت نام دانشجو</span>
            <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="genderCtrl">
              <mat-radio-button class="radio-button" value="male">مرد</mat-radio-button>
              <mat-radio-button class="radio-button" value="female">زن</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input class="input" autoFocusDir type="email" formControlName="emailCtrl" matInput>
            <mat-hint>ایمیل خودرا وارد کنید</mat-hint>
            <mat-error *ngIf="StudentEmailCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="StudentEmailCtrl.hasError('pattern')">ایمیل رو به درستی وارد کنید</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>رمز عبور</mat-label>
            <input class="input" [type]="hideStudentPassword ? 'password' : 'text'" formControlName="passwordCtrl"
              matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideStudentPassword = !hideStudentPassword">
              <mat-icon>{{ hideStudentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تکرار رمز عبور</mat-label>
            <input class="input" [type]="hideStudentConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPasswordCtrl" matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideStudentConfirmPassword = !hideStudentConfirmPassword">
              <mat-icon>{{ hideStudentConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام</mat-label>
            <input class="input" type="text" formControlName="nameCtrl" matInput>
            <mat-error *ngIf="StudentNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="StudentNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف</mat-error>
            <mat-error *ngIf="StudentNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام خانوادگی</mat-label>
            <input class="input" type="text" formControlName="lastNameCtrl" matInput>
            <mat-error *ngIf="StudentLastNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="StudentLastNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف‍</mat-error>
            <mat-error *ngIf="StudentLastNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="phone-field" floatLabel="always">
            <mat-label>شماره موبایل</mat-label>
            <span matPrefix dir="ltr" class="phone-label">+98&nbsp;</span>
            <input class="input" type="tel" maxlength="10" matInput formControlName="phoneNumCtrl" dir="ltr">
            <mat-error *ngIf="StudentPhoneNumCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="StudentPhoneNumCtrl.hasError('pattern')">شماره موبایل باید ۱۰ رقم و بدون ۰
              باشد</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تاریخ تولد</mat-label>
            <input class="input" [value]="shamsiDisplayDate" readonly (click)="uiIsVisible = true" matInput />
          </mat-form-field>

          <ng-persian-datepicker [calendarIsGregorian]="false" (dateOnSelect)="onStudentDateSelect($event)"
            [dateFormat]="'jYYYY/jMM/jDD'" [dateGregorianFormat]="'YYYY-MM-DD'" [(uiIsVisible)]="uiIsVisible"
            [uiTheme]="uiTheme" [uiYearView]="uiYearView" [uiMonthView]="uiMonthView"
            [uiHideAfterSelectDate]="uiHideAfterSelectDate" [uiHideOnOutsideClick]="uiHideOnOutsideClick"
            [uiTodayBtnEnable]="uiTodayBtnEnable">
          </ng-persian-datepicker>

          <div class="div-btn-add">
            <button type="submit" [disabled]="addStudentFg.invalid" mat-raised-button color="primary">ثبت نام</button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="ثبت نام مدرس">
      <form class="register-form" [formGroup]="addTeacherFg" (ngSubmit)="addTeacherFg.valid && addTeacher()">
        <div class="content">

          <div class="div-title-radio-input">
            <span class="title">ثبت نام مدرس</span>

            <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="genderCtrl">
              <mat-radio-button class="radio-button" value="male">مرد</mat-radio-button>
              <mat-radio-button class="radio-button" value="female">زن</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input class="input" autoFocusDir type="email" formControlName="emailCtrl" matInput>
            <mat-hint>ایمیل خودرا وارد کنید</mat-hint>
            <mat-error *ngIf="TeacherEmailCtrl.hasError('required')">این فیلد الزامی است</mat-error>
            <mat-error *ngIf="TeacherEmailCtrl.hasError('pattern')">ایمیل را به‌درستی وارد کنید</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>رمز عبور</mat-label>
            <input class="input" [type]="hideTeacherPassword ? 'password' : 'text'" formControlName="passwordCtrl"
              matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideTeacherPassword = !hideTeacherPassword">
              <mat-icon>{{ hideTeacherPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تکرار رمز عبور</mat-label>
            <input class="input" [type]="hideTeacherConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPasswordCtrl" matInput>
            <button mat-icon-button matSuffix tabindex="-1" type="button"
              (click)="hideTeacherConfirmPassword = !hideTeacherConfirmPassword">
              <mat-icon>{{ hideTeacherConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام</mat-label>
            <input class="input" type="text" formControlName="nameCtrl" matInput>
            <mat-error *ngIf="TeacherNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="TeacherNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف</mat-error>
            <mat-error *ngIf="TeacherNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>نام خانوادگی</mat-label>
            <input class="input" type="text" formControlName="lastNameCtrl" matInput>
            <mat-error *ngIf="TeacherLastNameCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="TeacherLastNameCtrl.hasError('minlength')">خیلی کوتاهه حداقل :۲ حرف</mat-error>
            <mat-error *ngIf="TeacherLastNameCtrl.hasError('maxlength')">خیلی بلنده حداکثر: ۳۰ حرف</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="phone-field" floatLabel="always">
            <mat-label>شماره موبایل</mat-label>
            <span matPrefix dir="ltr" class="phone-label">+98&nbsp;</span>
            <input class="input" type="tel" maxlength="10" matInput formControlName="phoneNumCtrl" dir="ltr">
            <mat-error *ngIf="TeacherPhoneNumCtrl.hasError('required')">فرم رو پرکنید</mat-error>
            <mat-error *ngIf="TeacherPhoneNumCtrl.hasError('pattern')">شماره موبایل باید ۱۰ رقم و بدون ۰
              باشد</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تاریخ تولد</mat-label>
            <input class="input" [value]="shamsiDisplayDate" readonly (click)="uiIsVisible = true" matInput />
          </mat-form-field>

          <ng-persian-datepicker [calendarIsGregorian]="false" (dateOnSelect)="onTeacherDateSelect($event)"
            [dateFormat]="'jYYYY/jMM/jDD'" [dateGregorianFormat]="'YYYY-MM-DD'" [(uiIsVisible)]="uiIsVisible"
            [uiTheme]="uiTheme" [uiYearView]="uiYearView" [uiMonthView]="uiMonthView"
            [uiHideAfterSelectDate]="uiHideAfterSelectDate" [uiHideOnOutsideClick]="uiHideOnOutsideClick"
            [uiTodayBtnEnable]="uiTodayBtnEnable" [dateMin]="minDobTs" [dateMax]="maxDobTs">
          </ng-persian-datepicker>

          <div class="div-btn-add">
            <button type="submit" [disabled]="addTeacherFg.invalid" mat-raised-button color="primary">ثبت نام</button>
          </div>

        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</section>