.main {
    width: 100%;
    display: flex;
    flex-direction: row;

    .content {
        width: 100%;
    }

    .sidebar {
        display: none;
    }
}


@media (min-width:760px) {
    .main {
        .content {
            width: 85%;
        }

        .sidebar {
            display: block;
            width: 15%;
            height: 100vh;
            margin-top: 8rem;
            // position: fixed;
            // top: 8rem;
            // right: 0;
        }
    }
}

@media (min-width:1200px) {
    .main {
        .sidebar {
            // top: 6rem;
            margin-top: 6rem;
        }
    }
}