main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Vazir', sans-serif;

    .sec-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        gap: 1rem;

        .div-photo {
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: end;

            img {
                height: 100%;
                width: 70%;
            }
        }

        .div-matn-top {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .div-takhfif {
                width: 90%;
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: row-reverse;
                gap: 1rem;

                button {
                    background-color: rgb(52, 52, 255);
                    color: #fff;
                    height: 25px;
                    border-radius: 15px;
                    border: none;
                    direction: rtl;
                    padding: 15px 15px;
                    font-size: 15px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 5px;

                    animation: pulse-background 2s ease-in-out infinite;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }

                span {
                    font-size: 13px;
                    font-weight: bold;
                    color: rgb(52, 52, 255);
                    direction: rtl;
                }
            }

            .div-title {
                width: 90%;
                direction: rtl;

                span {
                    color: black;
                    line-height: 40px;
                    font-weight: bold;
                    font-size: 30px;
                }
            }

            .span-description {
                width: 90%;
                font-size: 13px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.589);
                direction: rtl;
                text-align: center;
            }

            .div-button-start {
                width: 90%;
                display: flex;
                justify-content: end;
                align-items: center;

                .button-start {
                    height: 40px;
                    padding: 10px 20px;
                    background-color: rgb(52, 52, 255);
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    border: none;
                    border-radius: 17px;
                }

                .button-start:hover {
                    cursor: pointer;
                    background-color: rgb(116, 116, 255);
                }
            }

        }
    }

    .sec-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .div-background-item-title-benefit {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow: 5px 5px 10px #bebebe,
                -5px -5px 10px #ffffff;

            .div-title {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                animation: pulse-scale 2s ease-in-out infinite;

                .btn-title {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 15px;
                    border: 1px solid rgba(0, 0, 0, 0.212);
                    border-radius: 10px;
                    background: linear-gradient(145deg, #f0f0f0, #fff);
                    box-shadow: 5px 5px 10px #bebebe,
                        -5px -5px 10px #ffffff;

                    position: absolute;
                    top: -20px;

                    span {
                        font-size: 15px;
                        font-weight: 900;
                    }
                }
            }

            .div-background-benefit {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 2rem;
                gap: 2rem;
                padding: 1rem;

                .item-book {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(0, 174, 255);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            opacity: 0.3;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(0, 174, 255);
                        font-weight: 500;
                        transition: 0.4s;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }

                .item-fire {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(255, 123, 0);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(255, 123, 0);
                        font-weight: 500;
                        transition: 0.4s;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }

                .item-chalesh {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(2, 129, 34);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            transition: 0.4s;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(2, 129, 34);
                        font-weight: 500;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }

                .item-chat {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(0, 26, 255);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(0, 26, 255);
                        font-weight: 500;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }

                .item-video {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(255, 0, 98);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(255, 0, 98);
                        font-weight: 500;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }

                .item-up-to-date {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .bg-icon {
                        background: linear-gradient(145deg, #f0f0f0, #fff);
                        box-shadow: 5px 5px 10px #bebebe,
                            -5px -5px 10px #ffffff;
                        border-radius: 50%;
                        padding: 1rem;
                        height: 75px;
                        width: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            color: rgb(43, 255, 0);
                            font-size: 33px;
                            width: auto;
                            height: auto;
                            animation: pulse-opacity 2s ease-in-out infinite;
                        }
                    }

                    span {
                        font-size: 15px;
                        color: rgb(43, 255, 0);
                        font-weight: 500;
                        animation: pulse-opacity 2s ease-in-out infinite;
                    }
                }
            }
        }

        .div-bg-course {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .div-course {
                width: 90%;
                border-radius: 15px;
                background: linear-gradient(145deg, #f0f0f0, #e7e7e7);
                box-shadow: 5px 5px 10px #bebebe,
                    -5px -5px 10px #ffffff;

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;

                .left-item {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    // margin-right: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(145deg, #f0f0f0, #cacaca);
                    box-shadow: 5px 5px 10px #bebebe,
                        -5px -5px 10px #ffffff;
                    transition: 0.3s;

                    mat-icon {
                        color: black;
                        font-size: 17px;
                        width: auto;
                        height: auto;
                        transition: 0.3s;
                    }
                }

                .left-item:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: 0.3s;

                    mat-icon {
                        transition: 0.3s;
                        color: blue;
                        font-size: 20px;
                    }
                }

                .center-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    margin-right: 15px;
                    width: 60%;

                    .title {
                        color: rgb(52, 52, 255);
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .bottom-title {
                        font-size: 15px;
                        color: black;
                    }
                }

                .right-item {
                    border-radius: 50%;
                    background-color: rgb(52, 52, 255);
                    height: 50px;
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    mat-icon {
                        color: #fff;
                    }
                }
            }
        }

        .div-slider-courses {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .button-nav {
                background: linear-gradient(145deg, #f0f0f0, #e7e7e7);
                box-shadow: 5px 5px 10px #bebebe,
                    -5px -5px 10px #ffffff;
                border-radius: 50%;
                border: none;
                padding: 10px;
            }

            .button-nav:hover {
                cursor: pointer;
            }

            .div-bg-course-from-backend {
                margin-top: 1rem;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // box-shadow: 0 0 10px black;
                padding-bottom: 10px;
                // border-radius: 5px;

                .div-bg-title-img {
                    width: 90%;
                    height: 200px;
                    border-radius: 15px;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        z-index: 1;
                    }

                    .span-course {
                        font-size: 19px;
                        color: #fff;
                        font-weight: 600;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        z-index: 2;
                        direction: rtl;
                        padding: 5px;
                        border-radius: 0px 15px 0px 0px;
                        background-color: rgba(0, 0, 0, 0.281);
                        backdrop-filter: blur(2px);
                        transition: 0.4s;
                    }
                }

                .div-bg-title-img:hover {
                    .span-course {
                        transition: 0.4s;
                        transform: translateY(20px);
                    }
                }

                .div-title-course {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: end;
                    align-items: center;
                    width: 80%;
                    padding: 1rem;
                    gap: 1rem;
                    border-radius: 20px;
                    background: linear-gradient(145deg, #f0f0f0, #fff);
                    box-shadow: 5px 5px 10px #bebebe,
                        -5px -5px 10px #ffffff;

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: end;
                        width: 80%;

                        .span-done {
                            color: rgb(4, 236, 4);
                            font-size: 14px;
                        }

                        .span-title {
                            color: black;
                            direction: rtl;
                            font-size: 14px;
                        }

                        .span-title-from-ts {
                            color: black;
                            font-size: 14px;
                        }
                    }

                    .left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20%;

                        .bg-icon {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background: linear-gradient(145deg, #f0f0f0, #ffff);
                            box-shadow: 5px 5px 10px #bebebe,
                                -5px -5px 10px #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.4s;

                            mat-icon {
                                color: black;
                                font-size: 30px;
                                width: auto;
                                height: auto;
                                transition: 0.4s;
                            }
                        }

                        .bg-icon:hover {
                            cursor: pointer;
                            transform: scale(1.3);
                            transition: 0.4s;

                            mat-icon {
                                transition: 0.1s;
                                color: red;
                            }
                        }
                    }
                }

                .div-time-buttonStart {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 1rem;

                    .top {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        gap: 1rem;

                        .div-matn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;

                            mat-icon {
                                color: gray;
                                font-size: 15px;
                                width: auto;
                                height: auto;
                            }

                            span {
                                font-size: 13px;
                                color: gray;
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: center;
                                align-items: center;
                                direction: rtl;
                            }
                        }

                    }

                    .center {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        flex-direction: row-reverse;
                        gap: 1rem;
                        margin-top: 1rem;

                        .div-profile {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            button {
                                border-radius: 50%;
                                border: none;
                                height: 50px;
                                width: 50px;
                                background: linear-gradient(145deg, #f0f0f0, #cacaca);
                                box-shadow: 5px 5px 10px #bebebe,
                                    -5px -5px 10px #ffffff;

                                mat-icon {
                                    color: rgb(52, 52, 255);
                                    font-size: 33px;
                                    width: auto;
                                    height: auto;
                                }
                            }
                        }

                        .div-teacher-name {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .span-title {
                                direction: rtl;
                                color: gray;
                                font-size: 15px;
                            }

                            .span-teacher-course {
                                color: black;
                                font-size: 14px;
                            }
                        }
                    }

                    .bottom {
                        width: 100%;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;

                        .btn-click-course {
                            border: none;
                            border-radius: 15px;
                            color: #fff;
                            // background-color: blue;
                            padding: 10px 20px;
                            background-color: rgb(52, 52, 255);
                            width: 80%;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            transition: 0.4s;

                            .icon-after-hover {
                                display: none;
                            }
                        }

                        .btn-click-course:hover {
                            cursor: pointer;
                            transition: 0.4s;
                            transform: translateX(20px);

                            .icon-befor-hover {
                                display: none;
                            }

                            .icon-after-hover {
                                display: flex;
                            }
                        }

                        .btn-like {
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            height: 35px;
                            width: 35px;
                            background: #e0e0e0;
                            box-shadow: inset 5px 5px 10px #bebebe,
                                inset -5px -5px 10px #ffffff;
                            transition: 0.3s;
                        }

                        .btn-like:hover {
                            cursor: pointer;
                            transition: 0.3s;
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .sec-bottom {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .div-title-about {
            width: 100%;

            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;

            .div-matn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 10px;
                padding: 10px;

                .title {
                    color: rgb(52, 52, 255);
                    font-size: 17px;
                }

                .matn {
                    color: rgba(0, 0, 0, 0.568);
                    font-size: 13px;
                    direction: rtl;
                }
            }

            .div-icon {
                margin-right: 10px;

                button {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: none;
                    background: rgb(52, 52, 255);
                    box-shadow: 5px 5px 10px #bebebe,
                        -5px -5px 10px #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    mat-icon {
                        color: #fff;
                        font-size: 25px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }

        .slider-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 1rem;
            width: 100%;
            background-color: #fff;
            padding: 1rem;
            width: 90%;
            border: 1px solid rgba(0, 0, 0, 0.377);
            border-radius: 10px;
            box-shadow: 0 0 10px black;

            .slider-window {
                width: 100%;
                height: auto;
                overflow: hidden;
                display: flex;
                justify-content: center;

                .slide {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .description {
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.705);
                    }

                    .bottom-description {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-top: 1rem;
                        gap: 10px;

                        .right {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .profile {
                                height: 45px;
                                width: 45px;
                            }
                        }

                        .left {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            flex-direction: column;

                            .name {
                                font-size: 15px;
                                color: black;
                                margin-top: 1rem;
                            }

                            .course {
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.534);
                                direction: rtl;
                            }
                        }
                    }
                }
            }

            .button-nav {
                font-size: 1.1rem;
                background: none;
                cursor: pointer;
                border-radius: 50%;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.37);
            }
        }
    }

    .div-footer {
        width: 100%;
        margin-top: 1rem;
    }
}

@keyframes pulse-opacity {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes pulse-background {
    0% {
        background-color: rgb(52, 52, 255);
    }

    50% {
        background-color: rgb(167, 167, 255);
    }

    100% {
        background-color: rgb(52, 52, 255);
    }
}

@keyframes pulse-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    main {
        margin-top: 2rem;

        .sec-top {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            .div-photo {
                height: 500px;

                img {
                    height: 100%;
                    width: 90%;
                }
            }

            .div-matn-top {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .div-title {
                    width: 90%;
                    direction: rtl;

                    span {
                        line-height: 50px;
                        font-size: 50px;
                    }
                }

                .span-description {
                    font-size: 17px;
                }
            }
        }

        .sec-center {
            .div-bg-course {
                .div-course {
                    .left-item {
                        width: 5%;

                        mat-icon {
                            color: black;
                            font-size: 17px;
                            width: auto;
                            height: auto;
                            transition: 0.3s;
                        }
                    }

                    .right-item {
                        width: 10%;
                    }

                    .center-item {
                        width: 80%;
                    }
                }
            }

            .div-slider-courses {
                .div-bg-course-from-backend {
                    width: 80%;

                    .div-bg-title-img {
                        width: 75%;
                    }

                    .div-title-course {
                        width: 70%;

                        .left {
                            margin-right: 230px;
                        }
                    }

                    .div-time-buttonStart {
                        width: 65%;
                    }
                }
            }
        }

        .sec-bottom {
            flex-direction: row-reverse;
            padding: 10px;

            .div-title-about {
                width: 40%;

                .div-matn {
                    .title {
                        direction: rtl;
                    }
                }
            }

            .slider-wrapper {
                width: 60%;
            }
        }
    }
}

@media (min-width: 1100px) {
    main {
        .sec-top {
            .div-photo {
                width: 40%;
                height: 500px;

                img {
                    height: 100%;
                    width: 60%;
                }
            }

            .div-matn-top {
                width: 55%;
            }
        }

        .sec-center {
            .div-background-item-title-benefit {
                .div-title {
                    .btn-title {
                        width: 20%;

                        span {
                            font-size: 20px;
                        }
                    }
                }
            }

            .div-bg-course {
                .div-course {
                    .center-item {
                        gap: 12px;

                        .title {
                            font-size: 22px;
                        }

                        .bottom-title {
                            font-size: 18px;
                        }
                    }

                    .right-item {
                        width: 5%;
                    }
                }
            }

            .div-slider-courses {

                .div-bg-course-from-backend {
                    width: 40%;

                    .div-bg-title-img {
                        width: 95%;
                    }

                    .div-title-course {
                        width: 80%;
                        // width: 45%;
                    }

                    .div-time-buttonStart {
                        width: 50%;
                    }
                }
            }
        }

        .sec-bottom {
            flex-direction: row-reverse;
            padding: 10px;
            gap: 2rem;

            .div-title-about {
                width: 40%;

                .div-matn {
                    .title {
                        font-size: 22px;
                        direction: rtl;
                    }

                    .matn {
                        font-size: 15px;
                    }
                }
            }

            .slider-wrapper {
                width: 40%;
            }
        }
    }
}