<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<main>
    <section class="sec-top">
        <div class="div-matn-top">
            <div class="div-takhfif">
                <button>جشنواره تخفیف!
                    <img src="../assets/images/icon-discount.png" alt="">
                </button>
                <span>به زودی:)</span>
            </div>

            <div class="div-title">
                <span>
                    داستان برنامه‌نویس شدنت
                    از اینجا شروع میشه!
                </span>
            </div>

            <span class="span-description">یادگیری برنامه‌نویسی آرزو نیست، فقط نیاز هست که تلاش و تمرین داشته باشید،
                بقیه‌اش
                با طلوع فناوری</span>

            <div class="div-button-start">
                <button class="button-start" [routerLink]="['contact-us']" routerLinkActive #rla="routerLinkActive">شروع
                    یادگیری برنامه نویسی
                </button>
            </div>
        </div>

        <div class="div-photo">
            <img src="../assets/images/homePhotoTitleRS.png" alt="">
        </div>

    </section>

    <section class="sec-center">
        <div class="div-background-item-title-benefit">
            <div class="div-title">
                <button class="btn-title">
                    <span>چرا آکادمی طلوع فناوری؟</span>
                </button>
            </div>

            <div class="div-background-benefit">
                <div class="item-book">
                    <div class="bg-icon"><mat-icon>menu_book</mat-icon></div>
                    <span>جامع</span>
                </div>

                <div class="item-fire">
                    <div class="bg-icon"><mat-icon>local_fire_department</mat-icon></div>
                    <span>پروژه محور</span>
                </div>

                <div class="item-chalesh">
                    <div class="bg-icon"><mat-icon>extension</mat-icon></div>
                    <span>چالش برانگیز</span>
                </div>

                <div class="item-chat">
                    <div class="bg-icon"><mat-icon>forum</mat-icon></div>
                    <span>منتورشیپ</span>
                </div>

                <div class="item-video">
                    <div class="bg-icon"><mat-icon>videocam</mat-icon></div>
                    <span>ویدیویی</span>
                </div>

                <div class="item-up-to-date">
                    <div class="bg-icon"><mat-icon>not_started</mat-icon></div>
                    <span>به روز</span>
                </div>
            </div>
        </div>

        <div class="div-bg-course">
            <div class="div-course">
                <div class="left-item" [routerLink]="['/courses']" routerLinkActive #rla="routerLinkActive">
                    <mat-icon>north_west</mat-icon>
                </div>
                <div class="center-item">
                    <span class="title">آخرین دوره های</span>
                    <span class="bottom-title">منتشر شده</span>
                </div>
                <div class="right-item">
                    <mat-icon>school</mat-icon>
                </div>
            </div>
        </div>

        <div class="div-slider-courses">
            <button class="button-nav" [class.disabled]="currentIndexCourse === 0" [disabled]="currentIndexCourse === 0"
                (click)="prevCourse()">❮</button>

            <div class="div-bg-course-from-backend"
                *ngFor="let sliderCourses of sliderCourses.slice(currentIndexCourse, currentIndexCourse + 1)"
                [@slideAnimation]="direction" [@.disabled]="disableAnimation" [@slideAnimation]="{
                value: direction.value,
                params: direction.params
                }">
                <div class="div-bg-title-img">
                    <img [src]="sliderCourses.image" [alt]="sliderCourses.nameTitleCourse">
                    <span class="span-course">دوره پروژه محور {{sliderCourses.nameTitleCourse}}</span>
                </div>
                <div class="div-title-course">
                    <div class="right">
                        <span class="span-done">تکمیل شده</span>
                        <span class="span-title">دوره پروژه محور</span>
                        <span class="span-title-from-ts">{{sliderCourses.nameTitleCourse}}</span>
                    </div>

                    <div class="left">
                        <div class="bg-icon" [routerLink]="['courses']" routerLinkActive #rla="routerLinkActive">
                            <mat-icon>chevron_left</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="div-time-buttonStart">
                    <div class="top">
                        <div class="div-matn">
                            <span>ساعت {{sliderCourses.hourse}}</span>
                            <mat-icon>schedule</mat-icon>
                        </div>
                        <div class="div-matn">
                            <span>فصل {{sliderCourses.chapter}}</span>
                            <mat-icon>file_copy</mat-icon>
                        </div>
                    </div>
                    <div class="center">
                        <div class="div-profile">
                            <button>
                                <mat-icon>person</mat-icon>
                            </button>
                        </div>
                        <div class="div-teacher-name">
                            <span class="span-title">مدرس دوره:</span>
                            <span class="span-teacher-course">{{sliderCourses.teacher}}</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <button class="btn-click-course" [routerLink]="['/courses']" routerLinkActive
                            #rla="routerLinkActive">
                            <mat-icon class="icon-after-hover">
                                keyboard_backspace
                            </mat-icon>
                            <mat-icon class="icon-befor-hover">
                                north_west
                            </mat-icon>مشاهده دوره
                        </button>

                        <button class="btn-like">
                            <mat-icon>favorite</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <button class="button-nav" [class.disabled]="currentIndexCourse === sliderCourses.length - 1"
                [disabled]="currentIndexCourse === sliderCourses.length - 1" (click)="nextCourse()">❯</button>
        </div>
    </section>

    <section class="sec-bottom">
        <div class="div-title-about">
            <div class="div-matn">
                <span class="title">درمورد طلوع فناوری چه میشنویم؟</span>
                <span class="matn">این‌ها، بخش خیلی کوچکی از نظراتی هستند که افراد مختلف در مورد طلوع فناوری
                    دارند.</span>
            </div>
            <div class="div-icon">
                <button>
                    <mat-icon>school</mat-icon>
                </button>
            </div>
        </div>

        <div class="slider-wrapper">
            <button class="button-nav" [disabled]="currentIndex === 0" [class.disabled]="currentIndex === 0"
                (click)="prev()">❮</button>

            <div class="slider-window">
                <div class="slide-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
                    <div class="slide" *ngFor="let slide of slides">
                        <span class="description">{{ slide.description }}</span>
                        <div class="bottom-description">
                            <div class="right">
                                <img class="profile" [src]="slide.image" [alt]="slide.name" />
                            </div>
                            <div class="left">
                                <span class="name">{{ slide.name }}</span>
                                <span class="course">{{ slide.course }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button-nav" [disabled]="currentIndex === slides.length - 1"
                [class.disabled]="currentIndex === slides.length - 1" (click)="next()">❯</button>
        </div>
    </section>

    <div class="div-footer">
        <app-footer />
    </div>
</main>