.section-attendence-card {
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 10px 10px 20px #a8a8a8, -10px -10px 20px #ffffff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Vazirmatn', sans-serif;
        border-radius: 40px;
        background-color: #ffffff93;

        th,
        td {
            padding: 1rem;
            text-align: center;
        }

        th {
            font-weight: bold;
            color: #333;
            border-radius: 10px;
        }

        td {
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }

        .absent {
            color: #d32f2f;
            font-weight: bold;
            direction: rtl;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.div-background-no-absent {
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
    text-align: center;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 1.2rem;
    color: #444;
}