.card-items {
    width: 250px;
    border-radius: 15px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #b1b1b1,
        -5px -5px 10px #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    .info-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .date-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .class-title {
        font-size: 30px;
        color: blue;
    }

    .text {
        color: black;
        font-size: 15px;
        margin: 0;
        padding: 0;
        direction: rtl;
    }

    .text-isStarted-true {
        color: green;
        font-weight: 600;
        font-size: 15px;
    }

    .text-isStarted-false {
        color: #999;
        font-weight: 600;
        font-size: 15px;
    }

    .btn-click-student-show {
        height: 35px;
        width: 180px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow: 5px 5px 10px #9d9d9d,
            -5px -5px 10px #ffffff;
    }

    .btn-edit-class {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    .main-section {
        .background-card {
            flex-direction: row;

            .card-items {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1150px) {
    .main-section {
        .background-card {
            gap: 2rem;

            .card-items {
                width: 320px;
            }
        }
    }
}