<nav>
    <section class="right">
        <!-- <div class="div-search">
            <input type="text" name="text" class="input" placeholder="جست و جو کنید...">

            <div class="cube-loader">
                <div class="cube-top"></div>
                <div class="cube-wrapper">
                    <span style="--i:0" class="cube-span"></span>
                    <span style="--i:1" class="cube-span"></span>
                    <span style="--i:2" class="cube-span"></span>
                    <span style="--i:3" class="cube-span"></span>
                </div>
            </div>
        </div> -->
        <div class="div-name-amozeshgah">
            <p>طلوع فناوری</p>
        </div>
    </section>

    <section class="center">
        <div class="div-links">
            <div class="div-transsform-style">
                <button class="btn1">درباره ما</button>
                <button class="btn2">درباره ما</button>
                <button class="btn3">درباره ما</button>
                <button class="btn4">درباره ما</button>
                <button class="btn5">درباره ما</button>
            </div>
        </div>
    </section>

    <section class="left">
        <div class="div-btns">
            <button class="btn1">ورود اساتید</button>

            <button class="btn2">
                <span class="text">ورود دانشجویان</span>
            </button>
        </div>
    </section>
</nav>