<nav>
    <section class="right">
        <div class="div-links">
            <div class="div-transsform-style">
                <button class="btn1">درباره ما</button>
                <button class="btn2">درباره ما</button>
                <button class="btn3">درباره ما</button>
                <button class="btn4" routerLink="">صفحه اصلی</button>
                <!-- <button class="btn5">درباره ما</button> -->
            </div>
        </div>
    </section>

    <section class="left">
        <div class="div-btns">
            <button class="btn1">ورود اساتید</button>

            <button class="btn2">
                <span class="text">ورود دانشجویان</span>
            </button>
        </div>
    </section>
</nav>