<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="container">
    <div class="div-profile">
        <div class="profile-card">
            <div class="profile-image">
                @if (profile?.gender == 'male') {
                <img src="../assets/images/menProfilePhoto.png" alt="Profile">
                }@else {
                <img src="../assets/images/womenProfilePhoto.png" alt="Profile">
                }
            </div>

            <div class="profile-info">
                <span class="description">ایمیل: {{profile?.email}}</span>
                <span class="description">نام: {{profile?.name}}</span>
                <span class="description">نام خانوادگی: {{profile?.lastName}}</span>
                <span class="description">تاریخ تولد: {{profile?.age}}</span>
                <span class="description">شماره تلفن: {{profile?.phoneNum}}</span>
                <span class="description">نام کاربری: {{profile?.userName}}</span>

                @if (profile?.gender == 'male') {
                <span class="gender-men-span">جنسیت: مرد</span>
                }@else {
                <span class="gender-women-span">جنسیت: زن</span>
                }
            </div>
        </div>
    </div>

    <div class="div-tabs">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="ادیت پروفایل">
                <div class="div-edit-profile">
                    <form class="update-member-form" [formGroup]="memberEditFg"
                        (ngSubmit)="memberEditFg.valid && updateMember()">
                        <div class="div-title">
                            <span class="title">تغییر در پروفایل خود</span>
                        </div>

                        <div class="content">
                            <mat-form-field appearance="outline">
                                <mat-label>ایمیل</mat-label>
                                <input class="input" autoFocusDir type="email" formControlName="emailCtrl" label="Email"
                                    placeHolder="ایمیل جدید را وارد کنید" matInput>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline">
                                <mat-label>نام کاربری</mat-label>
                                <input class="input" type="userName" formControlName="userNameCtrl" label="UserName" placeHolder="نام کاربری جدید خودرا وارد کنید" matInput> 
                            </mat-form-field> -->

                            <mat-form-field appearance="outline">
                                <mat-label>رمز قدیمی</mat-label>
                                <input class="input" type="password" formControlName="currentPasswordCtrl"
                                    label="Current Password" placeHolder="رمز قدیمی خودرا واردکنید" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>رمز جدید</mat-label>
                                <input class="input" type="password" formControlName="passwordCtrl" label="Password"
                                    placeHolder="رمز جدید خودرا وارد کنید" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تکرار رمز جدید</mat-label>
                                <input class="input" type="password" formControlName="confirmPasswordCtrl"
                                    label="Confirm Password" placeHolder="تکرار رمز جدید" matInput>
                            </mat-form-field>
                        </div>

                        <div class="div-button-submit">
                            <button class="button-edit-profile" type="submit" [disabled]="memberEditFg.invalid"
                                mat-raised-button color="primary">ثبت اطلاعات</button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('student') && courses) {
            <mat-tab label="دوره ها">
                <div class="div-courses">
                    <div class="div-title-course">
                        <span class="title-course">دوره‌های شما</span>
                    </div>

                    @if (!loading) {
                    <div class="course-container">
                        @if (error) {
                        <div class="error-message">
                            {{ error }}
                        </div>
                        }

                        @if (courses.length > 0) {
                        <div class="course-list">
                            @for (course of shamsiCourses; track $index) {
                            <div class="course-card">
                                @if (profile?.gender == 'male') {
                                <span class="name-of-course-men">{{ course.title }}</span>
                                }@else {
                                <span class="name-of-course-women">{{ course.title }}</span>
                                }
                                <div class="tozihat-course">
                                    <span class="text">شهریه: {{ course.tuition | currency:'IRR' }}</span>
                                    <span class="text">مدت زمان کلاس: <span class="red-text">{{ course.hours }}</span>
                                        ساعت</span>
                                    <span class="text">تاریخ شروع: {{ course.shamsiStart }}</span>
                                    @if (course.isStarted == 'true') {
                                    <span class="text">آغاز شده: <span class="green-text">بله</span></span>
                                    }@else {
                                    <span class="text">آغاز شده: <span class="red-text">خیر</span></span>
                                    }
                                </div>

                                <div class="div-button-show-classmate">
                                    <button [routerLink]="['/students-card/' + course.title]">مشاهده دانشجویان</button>
                                    <button [routerLink]="['/attendences-card/' + course.title]">دیدن حضور و
                                        غیاب</button>
                                    <button [routerLink]="['/' + 'member-enrolled-course/' + course.title]">مشاهده
                                        پرداخت ها</button>
                                </div>
                            </div>
                            }
                        </div>
                        }
                        @if (courses.length === 0) {
                        <div class="no-courses">
                            <span>
                                هیچ دوره‌ای ثبت‌نام نکرده‌اید.
                            </span>
                        </div>
                        }
                    </div>
                    }
                    @else {
                    <div class="loading">در حال بارگذاری...</div>
                    }
                </div>

                @if (courses.length === 0) {
                <div class="no-courses">
                    <span>هیچ دوره‌ای ثبت‌نام نکرده‌اید.</span>
                </div>
                }
            </mat-tab>
            }
        </mat-tab-group>
    </div>
</div>