.container {
    width: 100%;
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    .div-profile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-card {
            width: 80%;
            background: #e0e5ec;
            border-radius: 20px;
            box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.7);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            transition: all 0.3s ease;
            margin-bottom: 1rem;

            &:hover {
                box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15), -12px -12px 20px rgba(255, 255, 255, 0.8);
            }

            .profile-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .profile-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .description {
                    color: rgba(0, 0, 0, 0.603);
                    direction: rtl;
                    font-size: 17px;
                }

                .gender-men-span {
                    color: #00c4ad;
                    direction: rtl;
                    font-size: 15px;
                }

                .gender-women-span {
                    color: hsl(345deg 100% 47%);
                    direction: rtl;
                    font-size: 15px;
                }
            }

            .div-button-edit-profile {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .edit-btn {
                    height: 40px;
                    width: 200px;
                    border: none;
                    border-radius: 15px;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    background: linear-gradient(145deg, #f0f0f0, #cacaca);
                    box-shadow: 5px 5px 10px #989898,
                        -5px -5px 10px #ffffff;

                    &:hover {
                        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15), -6px -6px 15px rgba(255, 255, 255, 0.8);
                    }
                }

                .edit-btn:active {
                    transition: all .1s ease-in-out 0s;
                    background: #e0e0e0;
                    box-shadow: inset 5px 5px 10px #989898,
                        inset -5px -5px 10px #ffffff;
                }
            }

            .div-click-button-show-course {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    height: 40px;
                    width: 200px;
                    border: none;
                    border-radius: 15px;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    background: linear-gradient(145deg, #f0f0f0, #cacaca);
                    box-shadow: 5px 5px 10px #989898,
                        -5px -5px 10px #ffffff;

                    &:hover {
                        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15), -6px -6px 15px rgba(255, 255, 255, 0.8);
                    }
                }

                button:active {
                    transition: all .1s ease-in-out 0s;
                    background: #e0e0e0;
                    box-shadow: inset 5px 5px 10px #989898,
                        inset -5px -5px 10px #ffffff;
                }
            }

            .div-btn-exit-course-list {
                width: 100%;

                display: none;
                justify-content: center;
                align-items: center;

                button {
                    margin-right: 10px;
                    height: 40px;
                    // width: 35px;
                    border-radius: 10px;
                    border: none;
                    background: linear-gradient(145deg, #f0f0f0, #cacaca);
                    box-shadow: 5px 5px 10px #c3c3c3,
                        -5px -5px 10px #fdfdfd;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding: 5px;
                    transition: 0.3s;

                    span {
                        font-size: 13px;
                        color: red;
                        font-weight: 600;
                    }

                    svg {
                        height: 25px;
                        width: 25px;
                        fill: red;

                    }
                }

                button:hover {
                    cursor: pointer;
                    transform: scale(1.03);
                    transition: 0.3s;
                }

                button:active {
                    background: #e0e0e0;
                    box-shadow: inset 5px 5px 10px #c3c3c3,
                        inset -5px -5px 10px #fdfdfd;
                    transition: 0.3s;
                }
            }
        }
    }

    .div-tabs {
        width: 100%;

        .div-edit-profile {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .update-member-form {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: #e0e0e0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .div-title {
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .title {
                        color: black;
                        font-size: 15px;
                        font-weight: 800;
                    }
                }

                .content {
                    // height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;

                    mat-form-field {
                        border: none;
                        width: 80%;
                        // height: 60px;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;

                        mat-label {
                            border: none;
                        }

                        .input {
                            padding: 10px;
                            height: 54px;
                            width: 100%;
                            border: none;
                            // border-radius: 20px;
                            background: #e0e0e0;
                            box-shadow: inset 5px 5px 10px #cecece,
                                inset -5px -5px 10px #f2f2f2;
                            // direction: rtl;
                        }
                    }
                }

                .div-button-submit {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2rem;

                    .button-edit-profile {
                        width: 30%;
                        height: 35px;
                        border-radius: 10px;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow: 5px 5px 10px #5a5a5a,
                            -5px -5px 10px #ffffff;
                        color: black;
                        font-size: 13px;
                        font-weight: bold;
                    }

                    .button-edit-profile:active {
                        background: #e0e0e0;
                        box-shadow: inset 5px 5px 10px #c3c3c3,
                            inset -5px -5px 10px #fdfdfd;
                        transition: 0.3s;
                    }
                }
            }
        }

        .div-courses {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .div-title-course {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .title-course {
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .course-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .course-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;

                    .course-card {
                        width: 70%;
                        border-radius: 10px;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow: 5px 5px 10px #acacac,
                            -5px -5px 10px #ffffff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;

                        .name-of-course-men {
                            font-size: 16px;
                            color: #00c4ad;
                            font-weight: bold;
                        }

                        .name-of-course-women {
                            font-size: 16px;
                            color: hsl(345deg 100% 47%);
                            font-weight: bold;
                        }

                        .tozihat-course {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            gap: 10px;

                            .text {
                                font-size: 15px;
                                color: black;
                                direction: rtl;

                                .red-text {
                                    font-size: 15px;
                                    color: red;
                                }

                                .green-text {
                                    font-size: 15px;
                                    color: green;
                                    font-weight: bold;
                                }
                            }
                        }

                        .div-button-show-classmate {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 15px;

                            button {
                                height: 35px;
                                width: 70%;
                                font-size: 13px;
                                border-radius: 10px;
                                border: none;
                                background: linear-gradient(145deg, #f0f0f0, #cacaca);
                                box-shadow: 5px 5px 10px #b5b5b5,
                                    -5px -5px 10px #ffffff;
                                transition: 0.3s;
                            }

                            button:hover {
                                cursor: pointer;
                                transition: 0.3s;
                                transform: scale(1.04);
                            }
                        }
                    }
                }

                .no-courses {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 16px;
                        color: red;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        .div-profile {
            .profile-card {
                width: 70%;

                .profile-info {
                    flex-direction: row;
                    flex-wrap: wrap;
                    direction: rtl;
                    justify-content: space-evenly;
                }
            }
        }

        .div-tabs {
            .div-edit-profile {
                .update-member-form {
                    .content {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 3rem;

                        mat-form-field {
                            width: 40%;
                        }
                    }

                    .div-btn-exit-edit-page {
                        margin-top: 1rem;
                    }

                    .div-button-submit {
                        margin-top: 2rem;
                    }
                }
            }

            .div-courses {
                .course-container {
                    .course-list {
                        .course-card {
                            flex-wrap: wrap;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    .container {
        height: 83vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .div-profile {
            height: 100%;
            width: 30%;
            margin: 0;

            .profile-card {
                margin: 0;
                height: 97%;
                width: 100%;

                .profile-info {
                    justify-content: center;
                    width: 100%;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }

        .div-tabs {
            width: 65%;
            height: 100%;

            .div-edit-profile {
                .update-member-form {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #e0e0e0;

                    .div-button-submit {
                        .button-edit-profile {
                            width: 200px;
                        }
                    }

                    .div-title {
                        .title {
                            font-size: 20px;
                        }
                    }

                    .div-btn-exit-edit-page {
                        margin-top: 2rem;
                    }

                    .content {
                        height: 100%;
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        // gap: 1rem;

                        mat-form-field {
                            border: none;
                            width: 40%;
                        }
                    }
                }
            }

            .div-courses {
                height: 100%;

                .div-title-course {
                    .title-course {
                        font-size: 20px;
                    }
                }

                .course-container {
                    .course-list {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .course-card {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

::ng-deep mat-form-field {
    height: 40px !important;

    // mat-label {
    //     direction: rtl;
    //     text-align: right;
    // }
    .mat-mdc-text-field-wrapper {
        padding: 0px !important;
    }

    .mat-mdc-form-field-infix {
        text-align: right;
        padding: 0px !important;
    }
}

// ::ng-deep mat-tab-group {
//     background-color: #00c4ad;
// }