<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="container">
    <div class="div-profile">
        <div class="profile-card">
            <div class="profile-image">
                <div class="avatar-wrapper" (click)="fileInput.click()">
                    <img [src]="getProfilePhoto()" alt="Profile" />

                    <div class="avatar-hover-overlay">
                        <div class="hover-circle">
                            <span class="hover-plus">+</span>
                        </div>
                    </div>

                    <div class="avatar-plus-badge" (click)="$event.stopPropagation(); fileInput.click()">
                        <span>+</span>
                    </div>
                </div>

                <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
            </div>

            <div class="profile-info">
                <span class="description">نام: {{profile?.name}}</span>
                <span class="description">نام خانوادگی: {{profile?.lastName}}</span>
                <span class="description">نام کاربری: {{profile?.userName}}</span>
                <span class="description">ایمیل: {{profile?.email}}</span>
                <span class="description">شماره تلفن: {{profile?.phoneNum}}</span>
                <span class="description">سن: {{profile?.age}}</span>

                @if (profile?.gender === 'Male') {
                <span class="gender-men-span">جنسیت: آقا</span>
                } @else {
                <span class="gender-women-span">جنسیت: خانم</span>
                }
            </div>
        </div>
    </div>


    <div class="div-tabs">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">

            <mat-tab label="ویرایش پروفایل">
                <div class="div-edit-profile">
                    <form class="update-member-form" [formGroup]="profileFg" (ngSubmit)="saveProfileChanges()">

                        <div class="content">
                            <mat-form-field appearance="outline">
                                <mat-label>نام</mat-label>
                                <input class="input" matInput type="text" formControlName="nameCtrl" />
                                <mat-hint>لطفا نام خود را وارد کنید</mat-hint>
                                @if (NameCtrl.hasError('required')) {
                                <mat-error>وارد کردن نام الزامیست</mat-error>
                                }
                                @if (NameCtrl.errors && NameCtrl.hasError('minlength')) {
                                <mat-error>حداقل ۲ کاراکتر</mat-error>
                                }
                                @if (NameCtrl.errors && NameCtrl.hasError('maxlength')) {
                                <mat-error>حداکثر ۳۰ کاراکتر</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>نام خانوادگی</mat-label>
                                <input class="input" matInput type="text" formControlName="lastNameCtrl" />
                                <mat-hint>لطفا نام خانوادگی خود را وارد کنید</mat-hint>
                                @if (LastNameCtrl.hasError('required')) {
                                <mat-error>وارد کردن نام خانوادگی الزامیست</mat-error>
                                }
                                @if (LastNameCtrl.errors && LastNameCtrl.hasError('minlength')) {
                                <mat-error>حداقل ۲ کاراکتر</mat-error>
                                }
                                @if (LastNameCtrl.errors && LastNameCtrl.hasError('maxlength')) {
                                <mat-error>حداکثر ۳۰ کاراکتر</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>شماره تلفن</mat-label>
                                <span class="span-phone" matPrefix dir="ltr">+98&nbsp;</span>
                                <input class="input" type="tel" maxlength="10" matInput formControlName="phoneNumCtrl"
                                    dir="ltr" />
                                <mat-hint>لطفا شماره تلفن خود را بدون صفر وارد کنید</mat-hint>
                                @if (PhoneNumCtrl.hasError('required')) {
                                <mat-error>وارد کردن شماره تلفن الزامیست</mat-error>
                                }
                                @else if (PhoneNumCtrl.hasError('pattern')) {
                                <mat-error>فرمت شماره موبایل معتبر نیست</mat-error>
                                }
                            </mat-form-field>

                            <div class="datepicker-wrapper" [class.disabled]="!profileEditMode">
                                <app-datepicker [formControl]="DateOfBirthCtrl" [maxDate]="maxDob" [minDate]="minDob"
                                    [label]="'تاریخ تولد'">
                                </app-datepicker>
                                <mat-hint *ngIf="!DateOfBirthCtrl.errors">لطفا تاریخ تولد خود را وارد کنید</mat-hint>
                                @if (DateOfBirthCtrl.hasError('required')) {
                                <mat-error>وارد کردن تاریخ تولد الزامیست</mat-error>
                                }
                            </div>

                            <mat-form-field appearance="outline">
                                <mat-label>جنسیت</mat-label>
                                <mat-select formControlName="genderCtrl">
                                    <mat-option value="female">خانم</mat-option>
                                    <mat-option value="male">آقا</mat-option>
                                </mat-select>
                                <mat-hint>لطفا جنسیت را مشخض کنید</mat-hint>
                                @if (GenderCtrl.invalid && (GenderCtrl.dirty || GenderCtrl.touched)) {
                                <mat-error>وارد کردن جنسیت الزامی است</mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <div class="div-button-submit">
                            <button *ngIf="!profileEditMode" class="button-edit-profile" type="button" mat-raised-button
                                (click)="enableProfileEdit()">
                                ایجاد تغییرات
                            </button>

                            <button *ngIf="profileEditMode" class="button-edit-profile" type="submit" mat-raised-button
                                color="primary" [disabled]="profileFg.invalid">
                                ذخیره تغییرات
                            </button>

                            <button *ngIf="profileEditMode" class="button-cancel" type="button" mat-stroked-button
                                (click)="cancelProfileEdit()">
                                انصراف
                            </button>
                        </div>

                    </form>
                </div>
            </mat-tab>

            <mat-tab label="ویرایش رمز ورود">
                <div class="div-edit-profile password-tab">
                    <form class="update-member-form password-form" [formGroup]="memberEditFg"
                        (ngSubmit)="memberEditFg.valid && updateMember()">

                        <div class="content">
                            <mat-form-field appearance="outline">
                                <mat-label>رمز قدیمی</mat-label>
                                <input class="input" type="password" formControlName="currentPasswordCtrl"
                                    placeholder="****" matInput>
                                <mat-hint>لطفا رمز فعلی خود را وارد کنید</mat-hint>
                                <mat-error *ngIf="CurrentPasswordCtrl.hasError('required')">
                                    رمز فعلی را وارد نکرده اید
                                </mat-error>
                                <mat-error
                                    *ngIf="CurrentPasswordCtrl.errors && CurrentPasswordCtrl.hasError('minlength')">حداقل
                                    ۷ کاراکتر</mat-error>
                                <mat-error
                                    *ngIf="CurrentPasswordCtrl.errors && CurrentPasswordCtrl.hasError('maxlength')">حداکثر
                                    ۲۰ کاراکتر</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>رمز جدید</mat-label>
                                <input class="input" type="password" formControlName="passwordCtrl" placeholder="****"
                                    matInput>
                                <mat-hint>لطفا رمز جدید را وارد کنید</mat-hint>
                                <mat-error *ngIf="PasswordCtrl.hasError('required')">
                                    برای تغییر رمز، لطفاً رمز جدید را وارد کنید
                                </mat-error>
                                <mat-error *ngIf="PasswordCtrl.errors && PasswordCtrl.hasError('minlength')">حداقل ۷
                                    کاراکتر</mat-error>
                                <mat-error *ngIf="PasswordCtrl.errors && PasswordCtrl.hasError('maxlength')">حداکثر ۲۰
                                    کاراکتر</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تکرار رمز جدید</mat-label>
                                <input class="input" type="password" formControlName="confirmPasswordCtrl"
                                    label="Confirm Password" placeholder="****" matInput>
                                <mat-hint>لطفا رمز جدید را مجدد وارد کنید</mat-hint>
                                <mat-error *ngIf="ConfirmPasswordCtrl.hasError('required')">
                                    برای تایید، لطفاً رمز جدید را مجدد وارد کنید
                                </mat-error>
                                <mat-error
                                    *ngIf="ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('minlength')">حداقل
                                    ۷ کاراکتر</mat-error>
                                <mat-error
                                    *ngIf="ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('maxlength')">حداکثر
                                    ۲۰ کاراکتر</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="div-button-submit password-buttons">
                            <button class="button-edit-profile" type="submit" [disabled]="memberEditFg.invalid"
                                mat-raised-button color="primary">
                                ذخیره تغییرات
                            </button>

                            <button class="button-cancel" type="button" mat-stroked-button
                                (click)="cancelPasswordEdit()">
                                انصراف
                            </button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('student') && courses) {
            <mat-tab label="دوره ها">
                <div class="div-courses">
                    <div class="div-title-course">
                        <span class="title-course">دوره‌های شما</span>
                    </div>

                    @if (!loading) {
                    <div class="course-container">
                        @if (error) {
                        <div class="error-message">
                            {{ error }}
                        </div>
                        }

                        @if (courses.length > 0) {
                        <div class="course-list">
                            @for (course of shamsiCourses; track $index) {
                            <div class="course-card">
                                @if (profile?.gender == 'male') {
                                <span class="name-of-course-men">{{ course.title }}</span>
                                }@else {
                                <span class="name-of-course-women">{{ course.title }}</span>
                                }
                                <div class="tozihat-course">
                                    <span class="text">شهریه: {{ course.tuition | currency:'IRR' }}</span>
                                    <span class="text">مدت زمان کلاس: <span class="red-text">{{ course.hours }}</span>
                                        ساعت</span>
                                    <span class="text">تاریخ شروع: {{ course.shamsiStart }}</span>
                                    @if (course.isStarted == true) {
                                    <span class="text">آغاز شده: <span class="green-text">بله</span></span>
                                    }@else {
                                    <span class="text">آغاز شده: <span class="red-text">خیر</span></span>
                                    }
                                </div>

                                <div class="div-button-show-classmate">
                                    <button [routerLink]="['/students-card/' + course.title]">مشاهده دانشجویان</button>
                                    <button [routerLink]="['/attendences-card/' + course.title]">دیدن حضور و
                                        غیاب
                                    </button>
                                    <button [routerLink]="['/' + 'member-enrolled-course/' + course.title]">مشاهده
                                        پرداخت ها
                                    </button>
                                </div>
                            </div>
                            }
                        </div>
                        }
                        @if (courses.length === 0) {
                        <div class="no-courses">
                            <span>
                                هیچ دوره‌ای ثبت‌نام نکرده‌اید.
                            </span>
                        </div>
                        }
                    </div>
                    }
                    @else {
                    <div class="loading">در حال بارگذاری...</div>
                    }
                </div>

                @if (courses.length === 0) {
                <div class="no-courses">
                    <span>هیچ دوره‌ای ثبت‌نام نکرده‌اید.</span>
                </div>
                }
            </mat-tab>
            }
        </mat-tab-group>
    </div>
</div>