<section  class="section-register">
    <mat-tab-group class="slider">
        <mat-tab label="ثبت نام دانشجو">
          <form [formGroup]="addStudentFg" (ngSubmit)="addStudentFg.valid && addStudent()">
            <div class="content">
              <!-- Gender -->
              <div class="gender">
                <strong>I am a</strong>
                <mat-radio-group formControlName="genderStudentCtrl" aria-label="Select your gender" color="primary">
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
              </div>
          
              <!-- Email -->
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autoFocusDir type="email" formControlName="emailStudentCtrl" label="Email" placeHolder="Your email" matInput>
                <mat-hint>Enter a your email.</mat-hint>
                @if (EmailStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (EmailStudentCtrl.hasError('pattern')) {
                <mat-error>Enter a valid email.</mat-error>
                }
              </mat-form-field>
          
              <!-- UserName -->
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" formControlName="userNameStudentCtrl" label="Username" placeHolder="Your username"
                  matInput>
                <mat-hint>Between 1 to 30 characters.</mat-hint>
                @if (UserNameStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
              </mat-form-field>
          
              <!-- Password -->
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="passwordStudentCtrl" label="Password" placeHolder="Your password" matInput>
                @if (PasswordStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (PasswordStudentCtrl.errors && PasswordStudentCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: {{PasswordStudentCtrl.errors['minlength'].requiredLength}} is required.</mat-error>
                }
                @else if(PasswordStudentCtrl.errors && PasswordStudentCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: {{PasswordStudentCtrl.errors['maxlength'].requiredLength}} characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Confirm Password -->
              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input type="password" formControlName="confirmPasswordStudentCtrl" label="Confirm Password"
                  placeHolder="Re-enter password" matInput>
                @if (ConfirmPasswordStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (ConfirmPasswordStudentCtrl.errors && ConfirmPasswordStudentCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: {{ConfirmPasswordStudentCtrl.errors['minlength'].requiredLength}} is
                  required.</mat-error>
                }
                @else if(ConfirmPasswordStudentCtrl.errors && ConfirmPasswordStudentCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: {{ConfirmPasswordStudentCtrl.errors['maxlength'].requiredLength}} characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Name -->
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="nameStudentCtrl" label="Name" placeHolder="Enter your name." matInput>
                @if (NameStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (NameStudentCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: 2 characters.</mat-error>
                }
                @else if(NameStudentCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: 30 characters.</mat-error>
                }
              </mat-form-field>
        
              <!-- LastName -->
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" formControlName="lastNameStudentCtrl" label="Last Name" placeHolder="Enter your lastName." matInput>
                @if (LastNameStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (LastNameStudentCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: 2 characters.</mat-error>
                }
                @else if(LastNameStudentCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: 30 characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Date of Birth -->
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input formControlName="dateOfBirthStudentCtrl" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3"
                  placeholder="Enter your date of birth">
                <mat-hint>Between {{minDate.getFullYear()}} to {{maxDate.getFullYear()}}</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
                @if (DateOfBirthStudentCtrl.hasError('required')) {
                <mat-error>This field is required</mat-error>
                }
              </mat-form-field>
          
              <!-- PhoneNumber -->
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="phoneNumStudentCtrl" label="Phone Number" placeHolder="Enter your phone PhoneNumber" matInput>
                @if (PhoneNumStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (PhoneNumStudentCtrl.hasError('minlength')) {
                <mat-error>Min 10</mat-error>
                }
                @else if(PhoneNumStudentCtrl.hasError('maxlength')) {
                <mat-error>Max 10</mat-error>
                }
              </mat-form-field>
        
              <!-- Lesson -->
              <mat-form-field appearance="outline">
                <mat-label>Lesson</mat-label>
                <input type="text" formControlName="lessonStudentCtrl" label="Lesson" placeHolder="Enter lesson" matInput>
                @if (LessonStudentCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
              </mat-form-field>
          
              <button type="submit" [disabled]="addStudentFg.invalid" mat-raised-button color="primary">ثبت</button>
          
              @if (passowrdsNotMatch) {
                <p>Passwords don't match!</p>
              }
              <mat-error>{{emailExistsError}}</mat-error>
            </div>
          </form>
        </mat-tab>
  
        <mat-tab label="ثبت نام استاد">
          
        </mat-tab>
  
        <mat-tab label="ثبت نام منشی">
         
        </mat-tab>
    </mat-tab-group>
</section>