.form-filters {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        gap: 1rem;

        .title {
            font-size: 20px;
            color: black;
        }

        .filter-by {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.404);
        }

        mat-form-filed {
            height: 40px !important;
        }

        .input-search {
            direction: rtl;
        }
    }

    .age {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row-reverse;

        button {
            border-radius: 50px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow: 5px 5px 10px #a1a1a1,
                -5px -5px 10px #ffffff;
            border: none;
            height: 35px;
            width: 150px;
        }
    }
}

.div-cards-member {
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.members-container {
    // position: relative;
    min-height: 70dvh;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .div-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 17px;
            color: black;
            font-weight: bold;
        }
    }

    .paginator {
        margin-bottom: 1rem;
        width: 90%;
        border-radius: 10px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow: 5px 5px 10px #747474,
            -5px -5px 10px #ffffff;
    }
}

@media (min-width: 768px) {
    .members-container {
        .paginator {
            width: 70%;
        }
    }
}

@media (min-width: 1100px) {
    .members-container {
        .paginator {
            width: 40%;
        }
    }
}