<header>
  <nav>
    <app-navbar />
  </nav>
</header>

<form [formGroup]="filterFg" class="form-filters">
  <div class="filter">
    <span class="title">جست و جو کاربران</span>
    <span class="filter-by">نام/نام خانوادگی/نام کاربری</span>
    <mat-form-field>
      <input class="input-search" formControlName="searchCtrl" matInput placeholder="جست و جو کاربر" type="text">
    </mat-form-field>
  </div>

  <div class="age">
    <span>فیلتر با سن کاربر</span>
    <div class="slider">
      <mat-slider discrete max="{{maxAge}}" min="{{minAge}}">
        <input formControlName="minAgeCtrl" matSliderStartThumb>
        <input formControlName="maxAgeCtrl" matSliderEndThumb>
      </mat-slider>
    </div>
  </div>

  <div class="btns">
    <button (click)="updateMemberParams(); getAll();" color="primary" mat-stroked-button>
      ثبت تغیرات
    </button>
    <button (click)="reset()" mat-stroked-button color="warn">
      حذف تغییرات
    </button>
  </div>
</form>

<section class="members-container">
  <div class="div-title">
    <span class="title">کاربران آموزشگاه</span>
  </div>

  <div class="div-cards-member">
    @for (member of members; track $index) {
    <app-member-card [memberInput]="member"></app-member-card>
    }
  </div>

  @if (pagination && memberParams) {
  <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
    [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
    [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false" [pageIndex]="memberParams.pageNumber - 1"
    aria-label="Select page" class="paginator">
    <!-- pageIndex must start from 0 -->
  </mat-paginator>
  }
</section>