<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="background">
    <app-back-forward-button class="bf-btns"></app-back-forward-button>

    <div class="div-title-radio-input">
        <span class="title">افزودن دوره جدید</span>
    </div>

    <form class="course-form" [formGroup]="courseFg" (ngSubmit)="courseFg.valid && createCourse()">
        <div class="content">

            <div class="form-item">
                <mat-form-field appearance="outline">
                    <mat-label>نام دوره</mat-label>

                    <input class="input" autoFocusDir type="text" matInput dir="auto" formControlName="titleCtrl"
                        placeholder="بین ۲ تا ۳۰ کاراکتر باشد">
                    <mat-hint>اسم دوره جدید را وارد کنید</mat-hint>
                    @if (TitleCtrl.hasError('required')) {
                    <mat-error>لطفاً نام دوره را وارد کنید</mat-error>
                    }
                    @else if (TitleCtrl.errors && TitleCtrl.hasError('minlength')) {
                    <mat-error>حداقل ۲ کاراکتر</mat-error>
                    }
                    @else if (TitleCtrl.errors && TitleCtrl.hasError('maxlength')) {
                    <mat-error>حداکثر ۳۰ کاراکتر</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field appearance="outline">
                    <mat-label>توضیحات دوره</mat-label>

                    <textarea matInput dir="auto" formControlName="descriptionCtrl"
                        placeholder="توضیحات دوره را وارد کنید"></textarea>
                    @if (DescriptionCtrl.hasError('required')) {
                    <mat-error>لطفاً توضیحات دوره را وارد کنید</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field appearance="outline">
                    <mat-label>مدت دوره</mat-label>
                    <input class="input" type="text" matInput formControlName="hoursCtrl" min="0.5" max="20000"
                        appDecimalFormatter inputmode="decimal" step="0.5" dir="ltr" placeholder="مجموع ساعت دوره">
                    <mat-hint>بین ۰۰:۳۰ تا ۲۰.۰۰۰</mat-hint>
                    @if (HoursCtrl.hasError('required')) {
                    <mat-error>لطفاً ساعت کل دوره را وارد کنید</mat-error>
                    }
                    @else if (HoursCtrl.errors && HoursCtrl.hasError('min')) {
                    <mat-error>حداقل ۰,۵ ساعت</mat-error>
                    }
                    @else if (HoursCtrl.errors && HoursCtrl.hasError('max')) {
                    <mat-error>حداکثر ۲۰,۰۰۰ ساعت</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="radio-section">
                <mat-radio-group aria-label="Select an option" formControlName="isStartedCtrl"
                    class="custom-radio-group">
                    <mat-radio-button [value]="false">غیر فعال</mat-radio-button>
                    <mat-radio-button [value]="true">فعال</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="action-buttons">

                <button type="button" class="neumorphic-btn cancel-btn" (click)="onCancel()">
                    انصراف
                </button>

                <button type="submit" [disabled]="courseFg.invalid" class="neumorphic-btn submit-btn">
                    ثبت دوره جدید
                </button>

            </div>
        </div>
    </form>
</div>