<section  class="section-register">
    <mat-tab-group class="slider">
        <mat-tab label="ثبت نام دانشجو">
          <form [formGroup]="addManagerFg" (ngSubmit)="addManagerFg.valid && add()">
            <div class="content">
              <h1>Add Manager</h1>
          
              <!-- Gender -->
              <div class="gender">
                <strong>I am a</strong>
                <mat-radio-group formControlName="genderCtrl" aria-label="Select your gender" color="primary">
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
              </div>
          
              <!-- Email -->
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autoFocusDir type="email" formControlName="emailCtrl" label="Email" placeHolder="Your email" matInput>
                <mat-hint>Enter a your email.</mat-hint>
                @if (EmailCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (EmailCtrl.hasError('pattern')) {
                <mat-error>Enter a valid email.</mat-error>
                }
              </mat-form-field>
          
              <!-- UserName -->
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" formControlName="userNameCtrl" label="Username" placeHolder="Your username"
                  matInput>
                <mat-hint>Between 1 to 30 characters.</mat-hint>
                @if (EmailCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
              </mat-form-field>
          
              <!-- Password -->
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="passwordCtrl" label="Password" placeHolder="Your password" matInput>
                @if (PasswordCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (PasswordCtrl.errors && PasswordCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: {{PasswordCtrl.errors['minlength'].requiredLength}} is required.</mat-error>
                }
                @else if(PasswordCtrl.errors && PasswordCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: {{PasswordCtrl.errors['maxlength'].requiredLength}} characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Confirm Password -->
              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input type="password" formControlName="confirmPasswordCtrl" label="Confirm Password"
                  placeHolder="Re-enter password" matInput>
                @if (ConfirmPasswordCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: {{ConfirmPasswordCtrl.errors['minlength'].requiredLength}} is
                  required.</mat-error>
                }
                @else if(ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: {{ConfirmPasswordCtrl.errors['maxlength'].requiredLength}} characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Name -->
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="nameCtrl" label="Name" placeHolder="Enter your name." matInput>
                @if (NameCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (NameCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: 2 characters.</mat-error>
                }
                @else if(NameCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: 30 characters.</mat-error>
                }
              </mat-form-field>
        
              <!-- LastName -->
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" formControlName="lastNameCtrl" label="Last Name" placeHolder="Enter your lastName." matInput>
                @if (LastNameCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (LastNameCtrl.hasError('minlength')) {
                <mat-error>It's too short. Min: 2 characters.</mat-error>
                }
                @else if(LastNameCtrl.hasError('maxlength')) {
                <mat-error>It's too long. Max: 30 characters.</mat-error>
                }
              </mat-form-field>
          
              <!-- Date of Birth -->
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input formControlName="dateOfBirthCtrl" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3"
                  placeholder="Enter your date of birth">
                <mat-hint>Between {{minDate.getFullYear()}} to {{maxDate.getFullYear()}}</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
                @if (DateOfBirthCtrl.hasError('required')) {
                <mat-error>This field is required</mat-error>
                }
              </mat-form-field>
          
              <!-- PhoneNumber -->
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="phoneNumCtrl" label="Phone Number" placeHolder="Enter your phone PhoneNumber" matInput>
                @if (PhoneNumCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
                @else if (PhoneNumCtrl.hasError('minlength')) {
                <mat-error>Min 10</mat-error>
                }
                @else if(PhoneNumCtrl.hasError('maxlength')) {
                <mat-error>Max 10</mat-error>
                }
              </mat-form-field>
        
              <!-- Lesson -->
              <mat-form-field appearance="outline">
                <mat-label>Lesson</mat-label>
                <input type="text" formControlName="lessonCtrl" label="Lesson" placeHolder="Enter lesson" matInput>
                @if (LessonCtrl.hasError('required')) {
                <mat-error>This field is required.</mat-error>
                }
              </mat-form-field>
          
              <button type="submit" [disabled]="addManagerFg.invalid" mat-raised-button color="primary">Add</button>
          
              @if (passowrdsNotMatch) {
                <p>Passwords don't match!</p>
              }
              <mat-error>{{emailExistsError}}</mat-error>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="ثبت نام استاد">
          
        </mat-tab>

        <mat-tab label="3">
            <h2>adjasd</h2>
        </mat-tab>

        <mat-tab label="4">
            <h3>adijasd</h3>
        </mat-tab>
    </mat-tab-group>
</section>


  