<main>
    <section class="top-side">
        <div class="left-items">
            <!-- <div class="container">
                <div class="loader"></div>
                <div class="loader"></div>
                <div class="loader"></div>
            </div> -->
            <div class="div-background-neum">
                <span>چرا مارو انتخاب کنید؟</span>
                <div class="div-image">
                    <img src="../assets/images/homeImage1NoB.png" alt="">
                    <!-- <img src="../assets/images/homeImage3.jpg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage5.jpeg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage6.jpeg" alt=""> -->
                </div>
                <div class="div-image">
                    <!-- <img src="../assets/images/homeImage2.jpg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage4.jpg" alt=""> -->
                    <img src="../assets/images/homeImage4NoB.png" alt="">
                </div>
            </div>
        </div>

        <div class="center-photo">
            <div class="div-laptop-item">
                <img class="monitor" src="../assets/images/laptop1.png" alt="">
                <!-- <img class="into-laptop" src="../assets/images/sky1.avif" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/sky3.webp" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/sky4.webp" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/programmingPhoto2.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/programmingPhoto3.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/homePicture1.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/cloudAiPhoto.jpg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/cloudAiPhoto1.jpg" alt=""> -->
                <img class="into-laptop" src="../assets/images/cloudAiPhoto3.jpg" alt="">

                <div class="div-title">
                    <span class="title1">آکادمی طلوع فناوری</span>
                    <div class="div-buttons">
                        <button class="btn-yadgiri">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front text">
                                شروع یادگیری
                            </span>
                        </button>
                        <button class="btn-dore">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front text">
                                 دوره ها
                            </span>
                        </button>
                    </div>
                </div>

                <nav>
                    <div class="div-transsform-style">
                        <div class="links">
                            @if (loggedInUserSig && loggedInUserSig()) {
                                @if (loggedInUserSig()?.roles?.includes('manager')) {
                                    <!-- <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button> -->
                                    <button class="btn" [routerLink]="['/' + 'manager-panell']" routerLinkActive #rla="routerLinkActive">پنل-مدیر</button>
                                }
                                @if (loggedInUserSig()?.roles?.includes('teacher')) {
                                    <!-- <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button> -->
                                    <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پنل-معلم</button>
                                } 
                                <!-- @if (loggedInUserSig()?.roles?.includes('student')) { -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پروفایل</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button> -->
                                @else {
                                    <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button>
                                    <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پروفایل</button>
                                    <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button>
                                    <button class="btn" [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button>
                                    <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button>
                                }
                            }@else {
                                <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button>
                                <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button>
                                <button class="btn" [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button>
                                <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button>
                            } 
                        </div>
                    </div>

                    <div class="div-menu-button">
                        <button class="menu-button" (click)="openMenu()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>

                    <div class="hamburger-menu">
                        <div class="top">
                            <button class="Btn" (click)="closeMenu()">
                                <div class="sign">
                                    <svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg>
                                </div>
                        
                                <div class="text">خروج</div>
                            </button>
                        </div>
                
                        <div class="bottom">
                            @if (loggedInUserSig && loggedInUserSig()) {
                                @if (loggedInUserSig()?.roles?.includes('manager')) {
                                    <button [routerLink]="['/' + 'manager-panell']" routerLinkActive #rla="routerLinkActive">پنل-مدیر</button>
                                }
                                @if (loggedInUserSig()?.roles?.includes('teacher')) {
                                    <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پنل-معلم</button>
                                } 
                                <!-- @if (loggedInUserSig()?.roles?.includes('student')) { -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پروفایل</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button> -->
                                    <!-- <button class="btn" [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button> -->
                                @else {
                                    <button [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button>
                                    <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">پروفایل</button>
                                    <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button>
                                    <button [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button>
                                    <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button>
                                }
                            }@else {
                                <button [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive">خانه</button>
                                <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">دوره ها</button>
                                <button [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button>
                                <button [routerLink]="['/' + 'not-found']" routerLinkActive #rla="routerLinkActive">تماس با ما</button>
                            } 
                        </div>
                    </div>

                    <section class="left">
                        @if (loggedInUserSig && loggedInUserSig(); as user) {
                            <div class="div-btn-log-out">
                                <button (click)="logout()">
                                    <span>خروج</span>
                                </button>
                            </div>
                        }
                        @else {
                            <div class="div-btns">
                                <button class="btn1" routerLink="/account/login">ورود اساتید</button>
                    
                                <button class="btn2" routerLink="/account/login">
                                    <span class="text">ورود دانشجویان</span>
                                </button>
                            </div>
                        }
                    </section>
                </nav>
            </div>
        </div>

        <div class="right-items">
            <img src="../assets/images/phonePhoto.png" alt="">
            <!-- <img class="background" src="../assets/images/homePicture1.jpeg" alt=""> -->
            <img class="background" src="../assets/images/cloudAiPhoto3.jpg" alt="">
            <div class="div-background-matn">
                <span class="p1">آموزش</span>
                <span class="p2">برنامه نویسی</span>
                <span class="p3">و</span>
                <span class="p4">طراحی وبسایت</span>
                <span class="p5">از مبتدی تا</span>
                <span class="p6">پیشرفته</span>
            </div>
        </div>
    </section>

    <div class="left-items-media">
        <div class="div-background-neum">
            <span>چرا مارو انتخاب کنید؟</span>
            <div class="div-image">
                <img src="../assets/images/homeImage1NoB.png" alt="">
                <!-- <img src="../assets/images/homeImage3.jpg" alt=""> -->
                <!-- <img src="../assets/images/homeImage5.jpeg" alt=""> -->
                <!-- <img src="../assets/images/homeImage6.jpeg" alt=""> -->
            </div>
            <div class="div-image">
                <!-- <img src="../assets/images/homeImage2.jpg" alt=""> -->
                <!-- <img src="../assets/images/homeImage4.jpg" alt=""> -->
                <img src="../assets/images/homeImage4NoB.png" alt="">
            </div>
        </div>

        <div class="cube-loader">
            <div class="cube-top">
            </div>
            <div class="cube-wrapper">
            <span style="--i:0" class="cube-span">
                <img src="../assets/images/angularIcon.png" alt="">
            </span>
            <span style="--i:1" class="cube-span">
                <img src="../assets/images/typeScriptIcon.png" alt="">
            </span>
            <span style="--i:2" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            <span style="--i:3" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            </div>
        </div>
    </div>

    <section class="bottom-side">
        <div class="cube-loader">
            <div class="cube-top">
                <!-- <div class="div-background-black">
                    <span>console.log</span>
                </div> -->
            </div>
            <div class="cube-wrapper">
            <span style="--i:0" class="cube-span">
                <img src="../assets/images/angularIcon.png" alt="">
            </span>
            <span style="--i:1" class="cube-span">
                <img src="../assets/images/typeScriptIcon.png" alt="">
            </span>
            <span style="--i:2" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            <span style="--i:3" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            </div>
        </div>

        <div class="cards">
            <span>ورود سریع به بازار  کار</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic1.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>

        <div class="cards">
            <span>پروژه های تخصصی</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic2.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>

        <div class="cards">
            <span>شروع از صفر</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic3.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>
    </section>
</main>

<section id="section-page-mobile">
    <header>
        <nav>
          <app-navbar />
        </nav>
    </header>

    <div class="div-photo-start">
        <img src="../assets/images/cloudAiPhoto3.jpg" alt="">

        <div class="div-start-item">
            <div class="div-titles">
                <span class="title1">آکادمی</span>
                <span class="title2"> طلوع فناوری</span>
            </div>

            <div class="div-buttons">
                <button class="btn-yadgiri">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text">
                        شروع یادگیری
                    </span>
                </button>
                <button class="btn-dore">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text">
                         دوره ها
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- From Uiverse.io by MikeAndrewDesigner --> 
    <div class="e-card playing">
        <div class="image"></div>
        
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        
    
        <div class="infotop">
    
            
        </div>
    </div>

   


    <!-- <div class="right-items">
        <img src="../assets/images/phonePhoto.png" alt="">
        <img class="background" src="../assets/images/homePicture1.jpeg" alt="">
        <img class="background" src="../assets/images/cloudAiPhoto3.jpg" alt="">
        <div class="div-background-matn">
            <span class="p1">آموزش</span>
            <span class="p2">برنامه نویسی</span>
            <span class="p3">و</span>
            <span class="p4">طراحی وبسایت</span>
            <span class="p5">از مبتدی تا</span>
            <span class="p6">پیشرفته</span>
        </div>
    </div> -->

</section>