main {
    background-color: #e0e0e0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .top-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .left-items {
            width: 20%;
            height: 100%;
            // background-color: blue;

        }
        .center-photo {
            width: 60%;
            height: 400px;

            .div-laptop-item {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;
                
                .monitor {
                    margin-left: 20px;
                    width: 120%;
                    height: 420px;
                    overflow: hidden;
                }
                .into-laptop {
                    position: absolute;
                    left: 47px;
                    top: 50px;
                    width: 670px;
                    height: 292px;
                    border-radius: 5px;
                }
                nav {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    height: 4rem;
                    width: 670px;
                    background-color: #e0e0e0;
                    box-shadow: 0 0 10px black;
                    position: absolute;
                    top: 50px;
                    left: 47px;
                
                    .center {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        .div-name-amozeshgah {
                            text-align: center;
                
                            p {
                                margin: 0;
                                font-size: 25px;
                                // font-weight: bold;
                                font-family: 'Courier New', monospace;
                            }
                        }
                    }
                    .right {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        perspective: 1000px;

                        .btn-icon {
                            background-color: red;
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            border: none;
                        }
                
                        .div-links {
                            height: 100%;
                            width: 100%;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.5s ease-in-out;
                            transform-style: preserve-3d;
                
                            .div-transsform-style {
                                display: flex;
                                gap: 10px;
                                transform-style: preserve-3d;
                
                                .btn1 {
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 10px;
                                    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                                    color: #4d4d4d;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 10px;
                                    border: 2px solid rgb(206, 206, 206);
                                    background-color: #e0e0e0;
                                    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
                                }
                                .btn2 {
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 10px;
                                    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                                    color: #4d4d4d;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 10px;
                                    border: 2px solid rgb(206, 206, 206);
                                    background-color: #e0e0e0;
                                    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
                                }
                                .btn3 {
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 10px;
                                    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                                    color: #4d4d4d;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 10px;
                                    border: 2px solid rgb(206, 206, 206);
                                    background-color: #e0e0e0;
                                    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
                                }
                                .btn4 {
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 10px;
                                    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                                    color: #4d4d4d;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 10px;
                                    border: 2px solid rgb(206, 206, 206);
                                    background-color: #e0e0e0;
                                    transition: transform 0.2s ease-in-out 0.9s, box-shadow 0.2s ease-in-out 0.9s;
                                }
                                .btn5 {
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 10px;
                                    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                                    color: #4d4d4d;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: bold;
                                    padding: 10px;
                                    border: 2px solid rgb(206, 206, 206);
                                    background-color: #e0e0e0;
                                    transition: transform 0.2s ease-in-out 0.12s, box-shadow 0.2s ease-in-out 0.12s;
                                }
                
                                button:hover {
                                    transition: 0.2s ease;
                                    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
                                }
                                button:focus {
                                    outline: none;
                                    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
                                }
                            }
                
                        }
                        .div-links:hover {
                            transform: scale(1.08);
                        }
                        .div-links:hover button {
                            transform: translate3d(0, 0, 50px);
                            box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
                        }
                    }
                    .left {
                        margin-left: 10px;
                
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        .div-btns {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                
                            .btn1 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn1:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn1:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                
                            .btn2 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn2:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn2:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                        }
                    }
                }
            }

        }
        .right-items {
            width: 20%;
            height: 100%;

            // background-color: yellow;
        }
    }
}
// #main-section {
//     font-family: 'Arial', sans-serif;
//     width: 100%;
//     height: 95vh;
    
//     perspective: 1000px; /* برای ایجاد عمق */
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
//     background: rgb(172,172,172);
//     background: radial-gradient(circle, rgba(172,172,172,1) 12%, rgba(224,224,224,1) 55%);
//     position: relative;
//     // display: flex;
//     // justify-content: center;
//     // align-items: flex-start;

//     .background-one {
//         width: 55%;
//         height: 90vh;
//         // margin-left: 25%;
//         border-radius: 20px; 
//         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
//         transform: rotateX(60deg) rotate(-40deg) ; /* چرخاندن برای ایجاد زاویه سه‌بعدی */
//         transform-style: preserve-3d; /* ایجاد جلوه سه‌بعدی */
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-start;
//         background: #e0e0e0;
//         box-shadow: inset -11px 11px 22px #bcbcbc,
//             inset 11px -11px 22px #ffffff;
//         position: absolute;
//         top: -60px;
//         right: 7%;

//         .background-two {
//             width: 96%;
//             height: 85vh;
//             border-radius: 18px; 
//             box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
//             transform-style: preserve-3d; /* ایجاد جلوه سه‌بعدی */
//             background-color: #8ecae6;
//             // background: linear-gradient(225deg, #98d8f6, #80b6cf);
//             // box-shadow:  -11px 11px 22px #77aac1,
//             //     11px -11px 22px #a5eaff;
//             background: linear-gradient(225deg, #f0f0f0, #cacaca);
//             box-shadow:  -11px 11px 22px #bcbcbc,
//                 11px -11px 22px #ffffff;
//         }
//         .div-black-screen {
//             position: absolute;
//             width: 93%;
//             height: 82vh;
//             background: #333;
//             border-radius: 5px;
//             box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
//             color: #00ff00;
//             font-family: 'Courier New', monospace;
//             padding: 10px;
//             font-size: 14px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             text-align: center;
//             border-radius: 20px;
//             background: linear-gradient(145deg, #3a3939, #313030);
//             box-shadow:  5px 5px 10px #161515,
//                 -5px -5px 10px #565555;
                  
    
//             p {
//                 margin: 0;
//                 color: #00ff00;
//             }
//         }

//         .item {
//             width: 200px;
//             height: 150px;
//             background-color: #f0f0f0;
//             border: 1px solid #ccc;
//             box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
//             transform: rotate(-10deg) translate(10px, 20px);
//             transform-origin: center; /* نقطه محوری برای تغییر زاویه */
//             transition: transform 0.3s ease-in-out; /* انیمیشن برای تغییرات */
//         }
              
//         /* برای ایجاد حالت سه‌بعدی */
//         .item-3d {
//             transform: rotateX(15deg) rotateY(-15deg) translateZ(50px);
//             transform-style: preserve-3d;
//             perspective: 1000px; /* ایجاد عمق در صفحه */
//         }
              
//         /* افکت هنگام هاور */
//         .item:hover {
//             transform: rotate(0deg) translate(0px, 0px) scale(1.05); /* بازگشت به حالت اصلی */
//         }
//     }
//     .mainKeyboard {
//         height: 170px;
//         width: 300px;
//         position: absolute;
//         bottom: 100px;
//         right: 30px;
//         transform: rotate(-10deg) rotateY(25deg);
//     }
// }