main {
    background-color: #e0e0e0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
  
    .top-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;

        .left-items {
            width: 20%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            .container {
                position: relative;
                width: 100%;
                height: 170px;

                .loader {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 10;
                    width: 160px;
                    height: 100px;
                    margin-left: -80px;
                    margin-top: -50px;
                    border-radius: 5px;
                    background: #1e3f57;
                    animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
                }
                .loader:nth-child(2) {
                    z-index: 11;
                    width: 150px;
                    height: 90px;
                    margin-top: -45px;
                    margin-left: -75px;
                    border-radius: 3px;
                    background: #3c517d;
                    animation-name: dot2_;
                }
                .loader:nth-child(3) {
                    z-index: 12;
                    width: 40px;
                    height: 20px;
                    margin-top: 50px;
                    margin-left: -20px;
                    border-radius: 0 0 5px 5px;
                    background: #6bb2cd;
                    animation-name: dot3_;
                }
                @keyframes dot1_ {
                    3%,97% {
                    width: 160px;
                    height: 100px;
                    margin-top: -50px;
                    margin-left: -80px;
                    }
                
                    30%,36% {
                    width: 80px;
                    height: 120px;
                    margin-top: -60px;
                    margin-left: -40px;
                    }
                
                    63%,69% {
                    width: 40px;
                    height: 80px;
                    margin-top: -40px;
                    margin-left: -20px;
                    }
                }
                @keyframes dot2_ {
                    3%,97% {
                    height: 90px;
                    width: 150px;
                    margin-left: -75px;
                    margin-top: -45px;
                    }
                
                    30%,36% {
                    width: 70px;
                    height: 96px;
                    margin-left: -35px;
                    margin-top: -48px;
                    }
                
                    63%,69% {
                    width: 32px;
                    height: 60px;
                    margin-left: -16px;
                    margin-top: -30px;
                    }
                }
                @keyframes dot3_ {
                    3%,97% {
                    height: 20px;
                    width: 40px;
                    margin-left: -20px;
                    margin-top: 50px;
                    }
                
                    30%,36% {
                    width: 8px;
                    height: 8px;
                    margin-left: -5px;
                    margin-top: 49px;
                    border-radius: 8px;
                    }
                
                    63%,69% {
                    width: 16px;
                    height: 4px;
                    margin-left: -8px;
                    margin-top: -37px;
                    border-radius: 10px;
                    }
                }
            }

            .cube-loader {
                position: relative;
                width: 85px;
                height: 85px;
                transform-style: preserve-3d;
                transform: rotateX(-25deg);
                animation: animate 6s linear infinite;
            }
            @keyframes animate {
                0% {
                transform: rotateX(-25deg) rotateY(0);
                }
            
                100% {
                transform: rotateX(-25deg) rotateY(360deg);
                }
            }
            .cube-loader .cube-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                /* top: 0;
                left: 0; */
                transform-style: preserve-3d;
            }
            .cube-loader .cube-wrapper .cube-span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                transform: rotateY(calc(90deg * var(--i))) translateZ(42.5px);
                background: linear-gradient(
                to bottom,
                hsl(330, 3.13%, 25.1%) 0%,
                hsl(177.27, 21.71%, 32.06%) 5.5%,
                hsl(176.67, 34.1%, 36.88%) 12.1%,
                hsl(176.61, 42.28%, 40.7%) 19.6%,
                hsl(176.63, 48.32%, 43.88%) 27.9%,
                hsl(176.66, 53.07%, 46.58%) 36.6%,
                hsl(176.7, 56.94%, 48.91%) 45.6%,
                hsl(176.74, 62.39%, 50.91%) 54.6%,
                hsl(176.77, 69.86%, 52.62%) 63.4%,
                hsl(176.8, 76.78%, 54.08%) 71.7%,
                hsl(176.83, 83.02%, 55.29%) 79.4%,
                hsl(176.85, 88.44%, 56.28%) 86.2%,
                hsl(176.86, 92.9%, 57.04%) 91.9%,
                hsl(176.88, 96.24%, 57.59%) 96.3%,
                hsl(176.88, 98.34%, 57.93%) 99%,
                hsl(176.89, 99.07%, 58.04%) 100%
                );
                img {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    padding: 5px;
                    background: linear-gradient(145deg, #00fff1, #00e6cb);
                    box-shadow:  5px 5px 10px #00665a,
                                -5px -5px 10px #00ffff;
                }
            }
            .cube-top {
                position: absolute;
                width: 85px;
                height: 85px;
                background: hsl(330, 3.13%, 25.1%) 0%;
                transform: rotateX(90deg) translateZ(42.5px);
                transform-style: preserve-3d;
            }
            .cube-top::before {
                content: '';
                position: absolute;
                width: 85px;
                height: 85px;
                background: hsl(176.61, 42.28%, 40.7%) 19.6%;
                transform: translateZ(-90px);
                filter: blur(10px);
                box-shadow: 0 0 10px #323232,
                            0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                            0 0 30px #323232,
                            0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
            }
        }

        .center-photo {
            width: 60%;
            height: 400px;

            .div-laptop-item {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;
                
                .monitor {
                    margin-left: 20px;
                    margin-top: -15px;
                    width: 120%;
                    height: 420px;
                    overflow: hidden;
                    z-index: 3;
                }
                .into-laptop {
                    position: absolute;
                    left: 47px;
                    bottom: 70px;
                    width: 673px;
                    height: 250px;
                    border-radius: 5px;
                    z-index: 3;
                }
                .div-title {
                    position: absolute;
                    left: 210px;
                    top: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 3rem;
                    width: 350px;
                    text-align: center;
                    z-index: 3;

                    .title1 {
                        font-family: 'Courier New', monospace;
                        font-size: 30px;
                        font-weight: bold;
                        color: #fff;
                        // color: hsl(345deg 100% 47%);
                    }
                    .title2 {
                        font-size: 15px;
                        font-weight: bold;
                        color: #fff;
                    }
                    .matn {
                        font-size: 15px;
                        color: #fff;
                    }
                    .div-buttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;

                        .btn-yadgiri {
                            position: relative;
                            border: none;
                            background: transparent;
                            padding: 0;
                            cursor: pointer;
                            outline-offset: 4px;
                            transition: filter 250ms;
                            user-select: none;
                            touch-action: manipulation;
                            .shadow {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 12px;
                                background: hsl(0deg 0% 0% / 0.25);
                                will-change: transform;
                                transform: translateY(2px);
                                transition: transform
                                600ms
                                cubic-bezier(.3, .7, .4, 1);
                            }
                            .edge {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 12px;
                                background: linear-gradient(
                                to left,
                                hsl(340deg 100% 16%) 0%,
                                hsl(340deg 100% 32%) 8%,
                                hsl(340deg 100% 32%) 92%,
                                hsl(340deg 100% 16%) 100%
                                );
                            }
                            .front {
                                display: block;
                                position: relative;
                                padding: 8px 20px;
                                border-radius: 12px;
                                font-size: 15px;
                                font-weight: bold;
                                color: white;
                                background: hsl(345deg 100% 47%);
                                will-change: transform;
                                transform: translateY(-4px);
                                transition: transform
                                600ms
                                cubic-bezier(.3, .7, .4, 1);
                            }
                        }
                        .btn-dore {
                            position: relative;
                            border: none;
                            background: transparent;
                            padding: 0;
                            cursor: pointer;
                            outline-offset: 4px;
                            transition: filter 250ms;
                            user-select: none;
                            touch-action: manipulation;
                            .shadow {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 12px;
                                background: hsl(0deg 0% 0% / 0.25);
                                // background: linear-gradient(315deg, #02fee181, #02d5bcc6);
                                will-change: transform;
                                transform: translateY(2px);
                                transition: transform
                                600ms
                                cubic-bezier(.3, .7, .4, 1);
                            }
                            .edge {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 12px;
                                background: linear-gradient(
                                to left,
                                hsl(179, 100%, 16%) 0%,
                                hsl(193, 100%, 50%) 8%,
                                hsl(193, 100%, 50%) 92%,
                                hsl(179, 100%, 16%) 100%
                                );
                            }
                            .front {
                                display: block;
                                position: relative;
                                padding: 8px 20px;
                                border-radius: 12px;
                                font-size: 15px;
                                color: white;
                                font-weight: bold;
                                background: linear-gradient(315deg, #02fee1, #02d5bd);
                                will-change: transform;
                                transform: translateY(-4px);
                                transition: transform
                                600ms
                                cubic-bezier(.3, .7, .4, 1);
                            }
                        }
                        button:hover {
                            filter: brightness(110%);
                        }
                        button:hover .front {
                            transform: translateY(-6px);
                            transition: transform
                            250ms
                            cubic-bezier(.3, .7, .4, 1.5);
                        }
                        button:active .front {
                            transform: translateY(-2px);
                            transition: transform 34ms;
                        }
                        button:hover .shadow {
                            transform: translateY(4px);
                            transition: transform
                            250ms
                            cubic-bezier(.3, .7, .4, 1.5);
                        }
                        button:active .shadow {
                            transform: translateY(1px);
                            transition: transform 34ms;
                        }
                        button:focus:not(:focus-visible) {
                            outline: none;
                        }
                    }
                }

                nav {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    height: 4rem;
                    width: 673px;
                    background-color: #e0e0e0;
                    box-shadow: 0 0 10px black;
                    position: absolute;
                    top: 38px;
                    left: 47px;
                    border-radius: 5px 5px 0px 0px;
                    z-index: 3;
                
                    .right {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        perspective: 1000px;

                        .menu-button {
                            margin-right: 10px;
                            border: none;
                            border-radius: 5px;
                            height: 40px;
                            width: 40px;
                            background: #e0e0e0;
                            box-shadow:  5px 5px 10px #868686,
                                -5px -5px 10px #ffffff;
                        }
                        .menu-button:active {
                            background: #e0e0e0;
                            box-shadow: inset 5px 5px 10px #929292,
                                inset -5px -5px 10px #ffffff;
                        }
                        .menu-button:hover {
                            cursor: pointer;
                        }
                    }
                    .left {
                        margin-left: 10px;
                
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        .div-btns {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                
                            .btn1 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn1:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn1:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                
                            .btn2 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn2:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn2:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                        }
                    }
                }
            }
        }

        .right-items {
            width: 20%;
            height: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                z-index: 2;
            }
            .background {
                position: absolute;
                left: 26px;
                top: 10px;
                height: 359px;
                width: 207px;
                z-index: 1;
                border-radius: 20px;
            }
            .div-background-matn {
                position: absolute;
                left: 26px;
                top: 10px;
                height: 359px;
                width: 207px;
                background-color: rgba(0, 0, 0, 0.323);
                backdrop-filter: blur(3px);
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .p1 {
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                }
                .p2 {
                    // color: #fff;
                    color: hsl(345deg 100% 47%);
                    font-size: 25px;
                    font-weight: bold;
                }
                .p3 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                }
                .p4 {
                    // color: #fff;
                    color: #02fee1;
                    font-size: 25px;
                    font-weight: bold;
                }
                .p5 {
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                }
                .p6 {
                    color: hsl(345deg 100% 47%);
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }

    .bottom-side {
        width: 100%;
        height: 170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .div-page-size-small {
            height: 100%;
            width: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b3b3b3,
                -5px -5px 10px #ffffff;
            position: relative;

            .navbar {
                height: 35px;
                width: 100%;
                background-color: #e0e0e0;
                border-radius: 10px 10px 0px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;
                    margin-left: 10px;

                    button {
                        height: 23px;
                        width: 45px;
                        border: none;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        border-radius: 3px;
                        font-size: 8px;
                    }
                }
                .right {
                    margin-right: 10px;

                    button {
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        border-radius: 3px;
                        border: none;
                        height: 27px;
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            img {
                height: 110px;
                width: 100%;
            }
            // .div-matn {
            //     width: 80%;
            //     position: absolute;
            //     left: 10%;
            //     top: 50px;
            //     text-align: center;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     align-items: center;

            //     .text-top {
            //         font-size: 15px;
            //         color: #fff;
            //     }
            //     .text-bottom {
            //         font-size: 10px;
            //         color: #fff;
            //     }
            // }
            .bottom-side {
                height: 25px;
                width: 100%;
                background-color: rgb(163, 163, 163);
                border-radius: 0px 0px 10px 10px;
            }
        }
        .cards {
            height: 95%;
            width: 200px;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            // gap: 5px;

            span {
                font-size: 13px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.611);
            }
            .div-photo {
                width: 170px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background: #e0e0e0;
                box-shadow: inset 5px 5px 10px #a1a1a1,
                    inset -5px -5px 10px #ffffff;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            button {
                height: 30px;
                width: 130px;
                margin-top: 8px;
                font-weight: bold;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.611);
                border: none;
                border-radius: 10px;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.2s ease;
                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                box-shadow:  -5px 5px 10px #5a5a5a,
                    5px -5px 10px #ffffff;
            }
            button:active {
                will-change: transform;
                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                transition: all .1s ease-in-out 0s;
            }
            button:hover {
                transition: all 0.2s ease;
                scale: 1.05;
            }
        }
    }
}

::ng-deep .mat-menu {
    background-color: #e0e0e0!important;
    height: 250px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: -150px;
    .div-transsform-style {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform-style: preserve-3d; 

        .links {
            background-color: red;
            .btn1 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
            }
            .btn2 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
            }
            .btn3 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
            }
            .btn4 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.9s, box-shadow 0.2s ease-in-out 0.9s;
            }
            .btn5 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.12s, box-shadow 0.2s ease-in-out 0.12s;
            }
    
            button:hover {
                transition: 0.2s ease;
                box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
            }
            button:focus {
                outline: none;
                box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
            }
        }
    }
    .links:hover {
        transform: scale(1.08);
    }
    .links:hover button {
        transform: translate3d(0, 0, 50px);
        box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
    }
}