main {
    background-color: #e0e0e0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .top-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;

        .left-items {
            width: 20%;
            height: 100%;
            // background-color: blue;

        }
        .center-photo {
            width: 60%;
            height: 400px;

            .div-laptop-item {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;
                
                .monitor {
                    margin-left: 20px;
                    width: 120%;
                    height: 420px;
                    overflow: hidden;
                }
                .into-laptop {
                    position: absolute;
                    left: 47px;
                    top: 50px;
                    width: 670px;
                    height: 292px;
                    border-radius: 5px;
                }
                .div-title {
                    position: absolute;
                    left: 210px;
                    top: 130px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    width: 350px;
                    text-align: center;

                    .title1 {
                        font-family: 'Courier New', monospace;
                        font-size: 30px;
                        font-weight: bold;
                        color: #fff;
                    }
                    .title2 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff;
                    }
                    .matn {
                        font-size: 15px;
                        color: #fff;
                    }

                    button {
                        position: relative;
                        border: none;
                        background: transparent;
                        padding: 0;
                        cursor: pointer;
                        outline-offset: 4px;
                        transition: filter 250ms;
                        user-select: none;
                        touch-action: manipulation;
                    }
                    .shadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: hsl(0deg 0% 0% / 0.25);
                        will-change: transform;
                        transform: translateY(2px);
                        transition: transform
                        600ms
                        cubic-bezier(.3, .7, .4, 1);
                    }
                    .edge {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background: linear-gradient(
                        to left,
                        hsl(340deg 100% 16%) 0%,
                        hsl(340deg 100% 32%) 8%,
                        hsl(340deg 100% 32%) 92%,
                        hsl(340deg 100% 16%) 100%
                        );
                    }
                    .front {
                        display: block;
                        position: relative;
                        padding: 8px 20px;
                        border-radius: 12px;
                        font-size: 15px;
                        color: white;
                        background: hsl(345deg 100% 47%);
                        will-change: transform;
                        transform: translateY(-4px);
                        transition: transform
                        600ms
                        cubic-bezier(.3, .7, .4, 1);
                    }
                    button:hover {
                        filter: brightness(110%);
                    }
                    button:hover .front {
                        transform: translateY(-6px);
                        transition: transform
                        250ms
                        cubic-bezier(.3, .7, .4, 1.5);
                    }
                    button:active .front {
                        transform: translateY(-2px);
                        transition: transform 34ms;
                    }
                    button:hover .shadow {
                        transform: translateY(4px);
                        transition: transform
                        250ms
                        cubic-bezier(.3, .7, .4, 1.5);
                    }
                    button:active .shadow {
                        transform: translateY(1px);
                        transition: transform 34ms;
                    }
                    button:focus:not(:focus-visible) {
                        outline: none;
                    }
                }

                nav {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    height: 4rem;
                    width: 670px;
                    background-color: #e0e0e0;
                    box-shadow: 0 0 10px black;
                    position: absolute;
                    top: 50px;
                    left: 47px;
                
                    .right {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        perspective: 1000px;

                        .menu-button {
                            margin-right: 10px;
                            border: none;
                            border-radius: 5px;
                            height: 40px;
                            width: 40px;
                            background: #e0e0e0;
                            box-shadow:  5px 5px 10px #868686,
                                -5px -5px 10px #ffffff;
                        }
                        .menu-button:active {
                            background: #e0e0e0;
                            box-shadow: inset 5px 5px 10px #929292,
                                inset -5px -5px 10px #ffffff;
                        }
                    }
                    .left {
                        margin-left: 10px;
                
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        .div-btns {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                
                            .btn1 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn1:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn1:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                
                            .btn2 {
                                height: 40px;
                                width: 100px;
                                font-weight: bold;
                                font-size: 12px;
                                color: black;
                                background: linear-gradient(225deg, #f0f0f0, #cacaca);
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                position: relative;
                                cursor: pointer;
                                overflow: hidden;
                                transition: all 0.2s ease;
                                box-shadow:  -5px 5px 10px #5a5a5a,
                                    5px -5px 10px #ffffff;
                            }
                            .btn2:active {
                                will-change: transform;
                                transform: perspective(80px) rotateX(5deg) rotateY(1deg) translateY(3px) scale(0.96);
                                transition: all .1s ease-in-out 0s;
                            }
                            .btn2:hover {
                                transition: all 0.2s ease;
                                scale: 1.05;
                            }
                        }
                    }
                }
            }
        }
        .right-items {
            width: 20%;
            height: 100%;
        }
    }

    .bottom-side {
        width: 100%;
        height: 170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        .div-mobile {
            height: 100%;
            width: 200px;
            // background-color: blue;
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;

            img {
                height: 220px;
                width: 260px;
                margin-top: -40px;
                z-index: 2;
            }
            .background {
                height: 181px;
                width: 83px;
                position: absolute;
                left: 59px;
                top: 19px;
                border-radius: 10px;
                z-index: 1;
            }
            .navbar {
                background-color: #e0e0e0;
                height: 40px;
                width: 83px;
                position: absolute;
                left: 59px;
                top: -20px;
                z-index: 1;
                border-radius: 10px 10px 0px 0px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .top-menu-button-div {
                    button {
                        margin-top: 10px;
                        border: none;
                        height: 20px;
                        width: 25px;
                        border-radius: 5px;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .bottom-div-buttons {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;

                    button {
                        height: 20px;
                        width: 40px;
                        border: none;
                        border-radius: 5px;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        font-size: 8px;
                    }
                }
            }
            .div-matn {
                position: absolute;
                left: 70px;
                bottom: 60px;
                width: 60px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                text-align: center;

                .text-top {
                    font-size: 10px;
                    color: #fff;
                }
                .text-bottom {
                    font-size: 8px;
                    color: #fff;
                }
            }
            .footer {
                background-color: rgb(163, 163, 163);
                height: 20px;
                width: 83px;
                position: absolute;
                left: 59px;
                bottom: 10px;
                z-index: 2;
                border-radius: 0px 0px 10px 10px;
            }
        }
        .div-page-size-small {
            height: 100%;
            width: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b3b3b3,
                -5px -5px 10px #ffffff;
            position: relative;

            .navbar {
                height: 35px;
                width: 100%;
                background-color: #e0e0e0;
                border-radius: 10px 10px 0px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;
                    margin-left: 10px;

                    button {
                        height: 23px;
                        width: 45px;
                        border: none;
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        border-radius: 3px;
                        font-size: 8px;
                    }
                }
                .right {
                    margin-right: 10px;

                    button {
                        background: linear-gradient(145deg, #f0f0f0, #cacaca);
                        box-shadow:  5px 5px 10px #b3b3b3,
                            -5px -5px 10px #ffffff;
                        border-radius: 3px;
                        border: none;
                        height: 27px;
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            img {
                height: 110px;
                width: 100%;
            }
            .div-matn {
                width: 80%;
                position: absolute;
                left: 10%;
                top: 40px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text-top {
                    font-size: 15px;
                    color: #fff;
                }
                .text-bottom {
                    font-size: 10px;
                    color: #fff;
                }
            }
            .bottom-side {
                height: 25px;
                width: 100%;
                background-color: rgb(163, 163, 163);
                border-radius: 0px 0px 10px 10px;
            }
        }
        .div-card1 {
            height: 100%;
            width: 200px;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                font-size: 15px;
                font-weight: bold;
            }
            img {
                width: 180px;
                height: 100px;

            }
            button {
                margin-top: 5px;
                height: 30px;
                width: 100px;
                border-radius: 20px;
                border: none;
                color: #fff;
background: linear-gradient(315deg, #fe0229, #d50222);
box-shadow:  -50px -50px 100px #eb0226,
             50px 50px 100px #ef0226;
                    // background: hsl(345deg 100% 47%);


            }
        }
        .div-card2 {
            height: 100%;
            width: 200px;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #b3b3b3,
             -5px -5px 10px #ffffff;
        }
        .div-card3 {
            height: 100%;
            width: 200px;
            border-radius: 10px;
            background: linear-gradient(145deg, #c7c7c7, #a7a7a7);
            box-shadow:  5px 5px 10px #959595,
             -5px -5px 10px #dfdfdf;
        }
    }
}

::ng-deep .mat-menu {
    background-color: #e0e0e0!important;
    height: 250px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: -150px;
    .div-transsform-style {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform-style: preserve-3d;

        .links {
            background-color: red;
            .btn1 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
            }
            .btn2 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
            }
            .btn3 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
            }
            .btn4 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.9s, box-shadow 0.2s ease-in-out 0.9s;
            }
            .btn5 {
                height: 35px;
                width: 80px;
                border-radius: 10px;
                box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
                color: #4d4d4d;
                cursor: pointer;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                border: 2px solid rgb(206, 206, 206);
                background-color: #e0e0e0;
                transition: transform 0.2s ease-in-out 0.12s, box-shadow 0.2s ease-in-out 0.12s;
            }
    
            button:hover {
                transition: 0.2s ease;
                box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
            }
            button:focus {
                outline: none;
                box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
            }
        }
    }
    .links:hover {
        transform: scale(1.08);
    }
    .links:hover button {
        transform: translate3d(0, 0, 50px);
        box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
    }
}


// #main-section {
//     font-family: 'Arial', sans-serif;
//     width: 100%;
//     height: 95vh;
    
//     perspective: 1000px; /* برای ایجاد عمق */
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
//     background: rgb(172,172,172);
//     background: radial-gradient(circle, rgba(172,172,172,1) 12%, rgba(224,224,224,1) 55%);
//     position: relative;
//     // display: flex;
//     // justify-content: center;
//     // align-items: flex-start;

//     .background-one {
//         width: 55%;
//         height: 90vh;
//         // margin-left: 25%;
//         border-radius: 20px; 
//         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
//         transform: rotateX(60deg) rotate(-40deg) ; /* چرخاندن برای ایجاد زاویه سه‌بعدی */
//         transform-style: preserve-3d; /* ایجاد جلوه سه‌بعدی */
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-start;
//         background: #e0e0e0;
//         box-shadow: inset -11px 11px 22px #bcbcbc,
//             inset 11px -11px 22px #ffffff;
//         position: absolute;
//         top: -60px;
//         right: 7%;

//         .background-two {
//             width: 96%;
//             height: 85vh;
//             border-radius: 18px; 
//             box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
//             transform-style: preserve-3d; /* ایجاد جلوه سه‌بعدی */
//             background-color: #8ecae6;
//             // background: linear-gradient(225deg, #98d8f6, #80b6cf);
//             // box-shadow:  -11px 11px 22px #77aac1,
//             //     11px -11px 22px #a5eaff;
//             background: linear-gradient(225deg, #f0f0f0, #cacaca);
//             box-shadow:  -11px 11px 22px #bcbcbc,
//                 11px -11px 22px #ffffff;
//         }
//         .div-black-screen {
//             position: absolute;
//             width: 93%;
//             height: 82vh;
//             background: #333;
//             border-radius: 5px;
//             box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
//             color: #00ff00;
//             font-family: 'Courier New', monospace;
//             padding: 10px;
//             font-size: 14px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             text-align: center;
//             border-radius: 20px;
//             background: linear-gradient(145deg, #3a3939, #313030);
//             box-shadow:  5px 5px 10px #161515,
//                 -5px -5px 10px #565555;
                  
    
//             p {
//                 margin: 0;
//                 color: #00ff00;
//             }
//         }

//         .item {
//             width: 200px;
//             height: 150px;
//             background-color: #f0f0f0;
//             border: 1px solid #ccc;
//             box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
//             transform: rotate(-10deg) translate(10px, 20px);
//             transform-origin: center; /* نقطه محوری برای تغییر زاویه */
//             transition: transform 0.3s ease-in-out; /* انیمیشن برای تغییرات */
//         }
              
//         /* برای ایجاد حالت سه‌بعدی */
//         .item-3d {
//             transform: rotateX(15deg) rotateY(-15deg) translateZ(50px);
//             transform-style: preserve-3d;
//             perspective: 1000px; /* ایجاد عمق در صفحه */
//         }
              
//         /* افکت هنگام هاور */
//         .item:hover {
//             transform: rotate(0deg) translate(0px, 0px) scale(1.05); /* بازگشت به حالت اصلی */
//         }
//     }
//     .mainKeyboard {
//         height: 170px;
//         width: 300px;
//         position: absolute;
//         bottom: 100px;
//         right: 30px;
//         transform: rotate(-10deg) rotateY(25deg);
//     }
// }