<main>
    <section class="top-side">
        <div class="left-items">
            <!-- <div class="container">
                <div class="loader"></div>
                <div class="loader"></div>
                <div class="loader"></div>
            </div> -->
            <div class="div-background-neum">
                <span>چرا مارو انتخاب کنید؟</span>
                <div class="div-image">
                    <img src="../assets/images/homeImage1NoB.png" alt="">
                    <!-- <img src="../assets/images/homeImage3.jpg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage5.jpeg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage6.jpeg" alt=""> -->
                </div>
                <div class="div-image">
                    <!-- <img src="../assets/images/homeImage2.jpg" alt=""> -->
                    <!-- <img src="../assets/images/homeImage4.jpg" alt=""> -->
                    <img src="../assets/images/homeImage4NoB.png" alt="">
                </div>
            </div>
        </div>

        <div class="center-photo">
            <div class="div-laptop-item">
                <img class="monitor" src="../assets/images/laptop1.png" alt="">
                <!-- <img class="into-laptop" src="../assets/images/sky1.avif" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/sky3.webp" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/sky4.webp" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/programmingPhoto2.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/programmingPhoto3.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/homePicture1.jpeg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/cloudAiPhoto.jpg" alt=""> -->
                <!-- <img class="into-laptop" src="../assets/images/cloudAiPhoto1.jpg" alt=""> -->
                <img class="into-laptop" src="../assets/images/cloudAiPhoto3.jpg" alt="">

                <div class="div-title">
                    <span class="title1">آکادمی طلوع فناوری</span>
                    <div class="div-buttons">
                        <button class="btn-yadgiri">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front text">
                                شروع یادگیری
                            </span>
                        </button>
                        <button class="btn-dore">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front text">
                                 دوره ها
                            </span>
                        </button>
                    </div>
                </div>

                <nav>
                    <div class="div-transsform-style">
                        <div class="links">
                            <button class="btn1" routerLink="about">درباره ما</button>
                            <button class="btn2" routerLink="not-found">دوره ها</button>
                            <button class="btn3" routerLink="not-found">تماس با ما</button>
                            <button class="btn4" routerLink="not-found">خانه</button>
                            <!-- <button class="btn5">درباره ما</button> -->
                        </div>
                    </div>
                    <div class="div-menu-btn">
                        <button><mat-icon>menu</mat-icon></button>
                    </div>

                    <section class="left">
                        <div class="div-btns">
                            <button class="btn1" routerLink="account/login">ورود اساتید</button>
                
                            <button class="btn2" routerLink="account/login">
                                <span class="text">ورود دانشجویان</span>
                            </button>
                        </div>
                    </section>
                </nav>
            </div>
        </div>

        <div class="right-items">
            <img src="../assets/images/phonePhoto.png" alt="">
            <!-- <img class="background" src="../assets/images/homePicture1.jpeg" alt=""> -->
            <img class="background" src="../assets/images/cloudAiPhoto3.jpg" alt="">
            <div class="div-background-matn">
                <span class="p1">آموزش</span>
                <span class="p2">برنامه نویسی</span>
                <span class="p3">و</span>
                <span class="p4">طراحی وبسایت</span>
                <span class="p5">از مبتدی تا</span>
                <span class="p6">پیشرفته</span>
            </div>
        </div>
    </section>

    <div class="left-items-media">
        <div class="div-background-neum">
            <span>چرا مارو انتخاب کنید؟</span>
            <div class="div-image">
                <img src="../assets/images/homeImage1NoB.png" alt="">
                <!-- <img src="../assets/images/homeImage3.jpg" alt=""> -->
                <!-- <img src="../assets/images/homeImage5.jpeg" alt=""> -->
                <!-- <img src="../assets/images/homeImage6.jpeg" alt=""> -->
            </div>
            <div class="div-image">
                <!-- <img src="../assets/images/homeImage2.jpg" alt=""> -->
                <!-- <img src="../assets/images/homeImage4.jpg" alt=""> -->
                <img src="../assets/images/homeImage4NoB.png" alt="">
            </div>
        </div>

        <div class="cube-loader">
            <div class="cube-top">
            </div>
            <div class="cube-wrapper">
            <span style="--i:0" class="cube-span">
                <img src="../assets/images/angularIcon.png" alt="">
            </span>
            <span style="--i:1" class="cube-span">
                <img src="../assets/images/typeScriptIcon.png" alt="">
            </span>
            <span style="--i:2" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            <span style="--i:3" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            </div>
        </div>
    </div>

    <section class="bottom-side">
        <div class="cube-loader">
            <div class="cube-top">
                <!-- <div class="div-background-black">
                    <span>console.log</span>
                </div> -->
            </div>
            <div class="cube-wrapper">
            <span style="--i:0" class="cube-span">
                <img src="../assets/images/angularIcon.png" alt="">
            </span>
            <span style="--i:1" class="cube-span">
                <img src="../assets/images/typeScriptIcon.png" alt="">
            </span>
            <span style="--i:2" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            <span style="--i:3" class="cube-span">
                <img src="../assets/images/cSharpIcon.png" alt="">
            </span>
            </div>
        </div>

        <div class="cards">
            <span>ورود سریع به بازار  کار</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic1.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>

        <div class="cards">
            <span>پروژه های تخصصی</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic2.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>

        <div class="cards">
            <span>شروع از صفر</span>
            <div class="div-photo">
                <img src="../assets/images/cardHomePic3.png" alt="">
            </div>
            <button>شروع کن</button>
        </div>
    </section>
</main>