.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .div-title-and-phone-numbers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            .div-title-academy {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                mat-icon {
                    color: rgb(52, 52, 255);
                    margin-right: 10px;
                }

                .bottom-title-span {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .title {
                        font-size: 17px;
                        color: black;
                        font-weight: bold;
                    }

                    .title-color {
                        font-size: 17px;
                        color: rgb(52, 52, 255);
                    }
                }
            }

            .div-phone-numbers {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row-reverse;
                width: 100%;
                gap: 1rem;

                .right {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;

                    button {
                        background-color: rgba(128, 128, 128, 0.151);
                        border: none;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            font-size: 1.2rem;
                            color: rgba(0, 0, 0, 0.664);
                        }
                    }

                    .desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;

                        .title {
                            color: rgb(52, 52, 255);
                            font-size: 16px;
                        }

                        .phone-number {
                            color: 15px;
                            color: black;
                        }
                    }
                }

                .left {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;

                    button {
                        background-color: rgba(128, 128, 128, 0.151);
                        border: none;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        mat-icon {
                            font-size: 1.2rem;
                            color: rgba(0, 0, 0, 0.664);
                        }
                    }

                    .desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;

                        .title {
                            color: rgb(52, 52, 255);
                            font-size: 16px;
                        }

                        .time {
                            color: 15px;
                            color: black;
                        }
                    }
                }
            }
        }

        .div-links {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            padding: 10px;

            .div-title {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                span {
                    font-size: 17px;
                    color: black;
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 5px;

                .div-span-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.493);
                    }
                }

                .div-span-link:hover {
                    cursor: pointer;
                }
            }
        }

        .div-social {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;

            .title {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .social-media {
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                width: 100%;

                button {
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 50%;
                    padding: 10px;

                    mat-icon {
                        color: black;
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .divider {
            width: 80%;
            background-color: rgba(0, 0, 0, 0.466);
            height: 1px;
        }

        .legacy {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.664);
            }
        }
    }
}

@media (min-width: 1100px) {
    .main {
        .top {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}