<section class="main">
    <div class="top">
        <div class="div-title-and-phone-numbers">
            <div class="div-title-academy">
                <mat-icon>emoji_objects</mat-icon>
                <div class="bottom-title-span">
                    <span class="title">آکادمی</span>
                    <span class="title-color">طلوع فناوری</span>
                </div>
            </div>

            <div class="div-phone-numbers">
                <div class="right">
                    <button>
                        <mat-icon>call</mat-icon>
                    </button>
                    <div class="desc">
                        <span class="title">شماره تلفن</span>
                        <span class="phone-number">026332404654</span>
                    </div>
                </div>

                <div class="left">
                    <button>
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <div class="desc">
                        <span class="title">ساعت کاری</span>
                        <span class="time">09:00 - 21:00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-links">
            <div class="div-title">
                <span>لینک های اپلیکیشن</span>
                <mat-icon>scatter_plot</mat-icon>
            </div>

            <div class="links">
                <div class="div-span-link" routerLink="/contact-us">
                    <span>تماس با ما</span>
                </div>
                <div class=" div-span-link" routerLink="/about">
                    <span>درباره ما</span>
                </div>
                <div class="div-span-link" routerLink="/courses">
                    <span>دوره های ما</span>
                </div>
            </div>
        </div>

        <div class="div-social">
            <div class="title">
                <span>شبکه های اجتماعی</span>
                <mat-icon>scatter_plot</mat-icon>
            </div>

            <div class="social-media">
                <button><mat-icon>mail</mat-icon></button>
                <button><mat-icon>mail</mat-icon></button>
                <button><mat-icon>mail</mat-icon></button>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="divider"></div>

        <div class="legacy">
            <span>کلیه حقوق این وبسایت محفوظ است</span>
        </div>
    </div>
</section>