<div class="container">
    <section class="head">
        <h1 class="title">Your Profile</h1>
    </section>

    @if(user) {
    <div class="content">
        <section class="user-card">
            <mat-card>
                <img mat-card-image src="../assets/images/member.png" width="240" height="240" priority
                    alt="Photo of {{user.name}}">

                <mat-card-content>
                    <div>
                        <strong>Email</strong>
                        <p>{{user.email}}</p>
                    </div>
                    <div>
                        <strong>UserName</strong>
                        <p>{{user.userName}}</p>
                    </div>
                    <div>
                        <strong>Age</strong>
                        <p>{{user.age}}</p>
                    </div>
                    <div>
                        <strong>Phone Number</strong>
                        <p>{{user.phoneNum}}</p>
                    </div>
                    <div>
                        <strong>Name</strong>
                        <p>{{user.name}}</p>
                    </div>
                    <div>
                        <strong>Last Name</strong>
                        <p>{{user.lastName}}</p>
                    </div>
                    <div>
                        <strong>Password</strong>
                        <p>{{user.password}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </section>

        <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="user-info">
            <mat-tab label="About {{user.name}}">
                <div class="tab-contents">
                    <form [formGroup]="userEditFg" (ngSubmit)="userEditFg.value" class="about-contents">
                        
                        
                        
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group> -->
    </div>
    }
</div>