<form class="register-form" [formGroup]="teacherFg" (ngSubmit)="addTeacher()" #stuForm="ngForm">
    <div class="content">
        <div class="div-title-radio-input">
            <span class="title">ثبت مدرس</span>
            <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="genderCtrl">
                <mat-radio-button class="radio-button" value="male">مرد</mat-radio-button>
                <mat-radio-button class="radio-button" value="female">زن</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- name -->
        <div class="form-item">
            <mat-form-field appearance="outline">
                <mat-label>نام</mat-label>
                <input class="input" type="text" formControlName="nameCtrl" matInput dir="auto">
                <mat-hint>نام را وارد کنید</mat-hint>
                @if (TeacherNameCtrl.hasError('required')) {
                <mat-error>وارد کردن نام الزامیست</mat-error>
                }
                @else if (TeacherNameCtrl.errors && TeacherNameCtrl.hasError('minlength')) {
                <mat-error>حداقل ۲ حرف</mat-error>
                }
                @else if (TeacherNameCtrl.errors && TeacherNameCtrl.hasError('maxlength')) {
                <mat-error>حداکثر ۳۰ حرف</mat-error>
                }
                @else if (TeacherNameCtrl.errors && TeacherNameCtrl.hasError('pattern')) {
                <mat-error>فقط حروف فارسی/انگلیسی، فاصله و خط‌تیره مجاز
                    است</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- lastName -->
        <div class="form-item">
            <mat-form-field appearance="outline">
                <mat-label>نام خانوادگی</mat-label>
                <input class="input" type="text" formControlName="lastNameCtrl" matInput dir="auto">
                <mat-hint>نام خانوادگی را وارد کنید</mat-hint>
                @if (TeacherLastNameCtrl.hasError('required')) {
                <mat-error>وارد کردن نام خانوادگی الزامیست</mat-error>
                }
                @else if (TeacherLastNameCtrl.errors && TeacherLastNameCtrl.hasError('minlength')) {
                <mat-error>حداقل ۲ حرف</mat-error>
                }
                @else if (TeacherLastNameCtrl.errors && TeacherLastNameCtrl.hasError('maxlength')) {
                <mat-error>حداکثر ۳۰ حرف</mat-error>
                }
                @else if (TeacherLastNameCtrl.errors && TeacherLastNameCtrl.hasError('pattern')) {
                <mat-error>فقط حروف فارسی/انگلیسی، فاصله و خط‌تیره مجاز
                    است</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- email -->
        <div class="form-item">
            <mat-form-field appearance="outline">
                <mat-label>ایمیل</mat-label>
                <input class="input" autoFocusDir type="email" formControlName="emailCtrl" matInput maxlength="50"
                    dir="auto">
                <mat-hint>ایمیل وارد کنید</mat-hint>
                @if (TeacherEmailCtrl.hasError('required')) {
                <mat-error>وارد کردن ایمیل الزامیست</mat-error>
                }
                @else if (TeacherEmailCtrl.errors && TeacherEmailCtrl.hasError('pattern')) {
                <mat-error>ایمیل رو به درستی وارد کنید</mat-error>
                }
                @else if (TeacherEmailCtrl.errors && TeacherEmailCtrl.hasError('maxlength')) {
                <mat-error>حداکثر 50 کاراکتر</mat-error>
                }
                @else if (TeacherEmailCtrl.errors && TeacherEmailCtrl.hasError('server')) {
                <mat-error>{{TeacherEmailCtrl.getError('server')}}</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- phone -->
        <div class="form-item">
            <mat-form-field appearance="outline" class="phone-field" floatLabel="always">
                <mat-label>شماره موبایل</mat-label>
                <span matPrefix dir="ltr" class="phone-label">+98&nbsp;</span>
                <input class="input" type="tel" maxlength="10" matInput formControlName="phoneNumCtrl" dir="ltr">
                <mat-hint>شماره تلفن را بدون 0 وارد کنید</mat-hint>
                @if (TeacherPhoneNumCtrl.hasError('required')) {
                <mat-error>وارد کردن شماره تلفن الزامیست</mat-error>
                }
                @else if (TeacherPhoneNumCtrl.errors && TeacherPhoneNumCtrl.hasError('pattern')) {
                <mat-error>شماره موبایل باید 10 رقم و بدون 0 باشد</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- password -->
        <div class="form-item">
            <mat-form-field appearance="outline">
                <mat-label>رمز عبور</mat-label>
                <input class="input" [type]="hideTeacherPassword ? 'password' : 'text'" formControlName="passwordCtrl"
                    matInput dir="auto">
                <mat-hint>رمز عبور را وارد کنید</mat-hint>
                @if (TeacherPasswordCtrl.hasError('required')) {
                <mat-error>وارد کردن رمز عبور الزامیست</mat-error>
                }
                @else if (TeacherPasswordCtrl.errors && TeacherPasswordCtrl.hasError('minlength')) {
                <mat-error>حداقل 7 کاراکتر</mat-error>
                }
                @else if (TeacherPasswordCtrl.errors && TeacherPasswordCtrl.hasError('maxlength')) {
                <mat-error>حداکثر 20 کاراکتر</mat-error>
                }
                @else if (TeacherPasswordCtrl.errors && TeacherPasswordCtrl.hasError('server')) {
                <mat-error>{{TeacherPasswordCtrl.hasError('server')}}</mat-error>
                }
                <button mat-icon-button matSuffix tabindex="-1" type="button"
                    (click)="hideTeacherPassword = !hideTeacherPassword">
                    <mat-icon>{{ hideTeacherPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <!-- confirm password -->
        <div class="form-item">
            <mat-form-field appearance="outline">
                <mat-label>تکرار رمز عبور</mat-label>
                <input class="input" [type]="hideTeacherConfirmPassword ? 'password' : 'text'"
                    formControlName="confirmPasswordCtrl" matInput dir="auto">
                <mat-hint>تکرار رمز عبور را وارد کنید</mat-hint>
                @if (TeacherConfirmPasswordCtrl.hasError('required')) {
                <mat-error>وارد کردن تکرار رمز عبور الزامیست</mat-error>
                }
                @else if (TeacherConfirmPasswordCtrl.errors && TeacherConfirmPasswordCtrl.hasError('minlength')) {
                <mat-error>حداقل 7 کاراکتر</mat-error>
                }
                @else if (TeacherConfirmPasswordCtrl.errors && TeacherConfirmPasswordCtrl.hasError('maxlength')) {
                <mat-error>حداکثر 20 کاراکتر</mat-error>
                }
                @else if (TeacherConfirmPasswordCtrl.errors && TeacherConfirmPasswordCtrl.hasError('server')) {
                <mat-error>{{TeacherConfirmPasswordCtrl.hasError('server')}}</mat-error>
                }
                <button mat-icon-button matSuffix tabindex="-1" type="button"
                    (click)="hideTeacherConfirmPassword = !hideTeacherConfirmPassword">
                    <mat-icon>{{ hideTeacherConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="form-item date-item">
            <app-datepicker [formControl]="TeacherDateOfBirthCtrl" [maxDate]="max" [minDate]="min"
                [label]="'تاریخ تولد'">
            </app-datepicker>
        </div>

        <div class="div-btn-add">
            <button type="submit" [disabled]="teacherFg.invalid" mat-raised-button color="primary">ثبت نام</button>
        </div>
    </div>
</form>