<section class="section-about-page">
    <header>
        <nav>
          <app-navbar />
        </nav>
    </header>

    <div class="div-items-mat-tab">
        <mat-tab-group>
            <mat-tab class="tab-mamoriat" label="ماموریت ما">
                <div class="div-background1">
                    <div class="neumorphisem-back">
                        <div class="top-side">
                            <span>ماموریت ما</span>
                        </div>
                        
                        <div class="center-side">

                        </div>

                        <div class="bottom-side">

                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="تیم آکادمی">
                <div class="div-background2">
                    <div class="main">
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">REZA<br />TABA</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>مدیر کلاس</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">VAHID<br />HAYTI POOR</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">PARSA<br />JAFARI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">FullStack</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">KHANOM<br />GHOLAMI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>مدیر و بنیان گذار</span>
                                        <span class="highlight">آکادمی</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">MOLA<br />JAN</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>معلم</span>
                                        <span class="highlight">ICDL</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-background">
                            <div class="container noselect">
                                <div class="canvas">
                                <div class="tracker tr-1"></div>
                                <div class="tracker tr-2"></div>
                                <div class="tracker tr-3"></div>
                                <div class="tracker tr-4"></div>
                                <div class="tracker tr-5"></div>
                                <div class="tracker tr-6"></div>
                                <div class="tracker tr-7"></div>
                                <div class="tracker tr-8"></div>
                                <div class="tracker tr-9"></div>
                                <div id="card">
                                    <div class="card-content">
                                        <img class="photo" src="../assets/images/photoHomePageBoy.png" alt="">
                                        <div class="card-glare"></div>
                                        <div class="cyber-lines">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <p id="prompt">HOVER ME</p>
                                    <div class="title">PARISA<br />BAHARI</div>
                                    <div class="glowing-elements">
                                        <div class="glow-1"></div>
                                        <div class="glow-2"></div>
                                        <div class="glow-3"></div>
                                    </div>
                                    <div class="subtitle">
                                        <span>منشی</span>
                                        <span class="highlight">آکادمی</span>
                                    </div>
                                    <div class="card-particles">
                                        <span></span><span></span><span></span> <span></span><span></span
                                        ><span></span>
                                    </div>
                                    <div class="corner-elements">
                                        <span></span><span></span><span></span><span></span>
                                    </div>
                                    <div class="scan-line"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="درباره آکادمی">
                <div class="div-background3">

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>