<header>
  <nav>
    <app-navbar />
  </nav>
</header>

@if (enrolledCourse) {
<section class="section-enrolled-course">
  <div class="div-top">
    <span class="title-course">{{ enrolledCourse.courseTitle }}</span>
    <span>هزینه دوره: {{ formatCurrency(enrolledCourse.courseTuition) }}</span>
    <span>تعداد پرداخت‌ها: {{ enrolledCourse.numberOfPayments }}</span>
    <span>مقدار باقی‌مانده: <span class="value">{{ formatCurrency(enrolledCourse.tuitionRemainder) }}</span></span>
  </div>

  <div class="div-title-payments">
    <span>پرداخت های شما</span>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> رسید پرداخت </th>
      <td mat-cell *matCellDef="let payment; let i = index">
        <ng-container *ngIf="payment.photo">
          <div class="gallery" (click)="openLightbox(i)" title="دیدن تصویر رسید">
            <img gallerize [src]="_apiPhotoUrl + payment.photo.url_165" alt="رسید پرداخت">
            <mat-icon>zoom_in</mat-icon>
          </div>
        </ng-container>
        <ng-container *ngIf="!payment.photo">
          <span class="no-photo">!عکس وجود ندارد</span>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef> نوع پرداخت </th>
      <td mat-cell *matCellDef="let payment">
        <ng-container *ngIf="payment.method === 0">کارت به کارت</ng-container>
        <ng-container *ngIf="payment.method === 1">پرداخت نقدی</ng-container>
        <ng-container *ngIf="payment.method === 2">پرداخت با پوز</ng-container>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="paidOn">
      <th mat-header-cell *matHeaderCellDef> تاریخ پرداخت </th>
      <td mat-cell *matCellDef="let payment"> {{ toJalali(payment.paidOn) }} </td>
    </ng-container> -->

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> مبلغ پرداخت </th>
      <td mat-cell *matCellDef="let payment"> {{ formatCurrency(payment.amount) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>
}