<section class="section-main">
    <div class="background-gradient">
        <div class="div-items">
            <div class="div-profile-title">
                <div class="div-background-img-neu">
                    <div class="div-img-gradient">
    
                    </div>
                </div>
                <span class="title">تماس با ما</span>
            </div>

            <div class="description1">

            </div>

            <div class="description2">

            </div>

            <div class="div-social-media">
                <div class="div-icon">
                    <img src="../assets/images/iconInstagramCU.png" alt="">
                </div>
                <div class="div-icon">
                    <img src="../assets/images/iconGmailCU.png" alt="">

                </div>
                <div class="div-icon">
                    <img src="../assets/images/iconPhoneCU.png" alt="">

                </div>
                <div class="div-icon">
                    <img src="../assets/images/iconInstagramCU.png" alt="">

                </div>
            </div>

            <div class="div-address">
                <span class="span-address"> آدرس: کرج خیابان بهشتی خیابان محقق آموزشگاه سپنتا</span>
            </div>
        </div>
    </div> 
</section>