<section class="section-main">
    <header>
        <nav>
          <app-navbar />
        </nav>
    </header>

    <div class="div-photo-text">
        <div class="div-left">
            <img src="../assets/images/photoAboutPage2.jpeg" alt="">
        </div>
        <div class="div-right">
            <span class="title-text">ما اینجاییم که</span>
            <span class="title-text">بشنویم</span>
            <span class="title-text">کمک کنیم </span>
            <span class="title-text">و</span>
            <span class="title-text">همراهت</span>
            <span class="title-text">باشیم</span>
        </div>
    </div>

    <div class="div-description">
        <div class="neu-back">
            <span class="title">سوالی داری؟ مشکلی پیش اومده؟ یا شاید فقط می‌خوای سلامی بدی!</span>
            <span class="text-information">
                توی آکادمی، ما به ارتباط مستقیم و واقعی با دانش‌جوها باور داریم. چه قبل از ثبت‌نام، چه بعدش، همیشه می‌تونی روی پشتیبانی ما حساب کنی.
            </span>
        </div>
    </div>

    <div class="div-contact-us">
        <div class="div-address">
            <span class="text1">
                <img src="../assets/images/icons-location.png" alt="">
                آدرس ما:
            </span>
            <span class="text2">تهران، خیابان فلان، مجتمع آموزشی بهمان، طبقه دوم – آکادمی</span>
        </div>

        <div class="div-phone">
            <span class="text1">
                <img src="../assets/images/icons-phone.png" alt="">
                شماره تماس:
            </span>
            <span class="text2">09038467050</span>
        </div>

        <div class="div-email">
            <span class="text1">
                <img src="../assets/images/icons-email.png" alt="">
                ایمیل:
            </span>
            <span class="text2">83arshiarezaie83</span>
        </div>

        <div class="div-clock">
            <span class="text1">
                <img src="../assets/images/icons-clock.png" alt="">
                ساعت پاسخ گویی:
            </span>
            <span class="text2">هر روز از ساعت ۹ صبح تا ۶ عصر (به جز جمعه‌ها)</span>
        </div>
    </div>
</section>

<!-- <div class="background-gradient">
    <div class="div-items">
        <div class="div-profile-title">
            <div class="div-background-img-neu">
                <div class="div-img-gradient">

                </div>
            </div>
            <span class="title">تماس با ما</span>
        </div>

        <div class="description1">

        </div>

        <div class="description2">

        </div>

        <div class="div-social-media">
            <div class="div-icon">
                <img src="../assets/images/iconInstagramCU.png" alt="">
            </div>
            <div class="div-icon">
                <img src="../assets/images/iconGmailCU.png" alt="">

            </div>
            <div class="div-icon">
                <img src="../assets/images/iconPhoneCU.png" alt="">

            </div>
            <div class="div-icon">
                <img src="../assets/images/iconInstagramCU.png" alt="">

            </div>
        </div>

        <div class="div-address">
            <span class="span-address"> آدرس: کرج خیابان بهشتی خیابان محقق آموزشگاه سپنتا</span>
        </div>
    </div>
</div>  -->