<section class="section-main">
    <header>
        <nav>
            <app-navbar />
        </nav>
    </header>

    <div class="div-background">
        <div class="right">
            <div class="div-title">
                <span class="title">سوالی داری؟ مشکلی پیش اومده؟ یا شاید فقط می‌خوای سلامی بدی!</span>
                <span class="text-information">
                    توی آکادمی، ما به ارتباط مستقیم و واقعی با دانش‌جوها باور داریم. چه قبل از ثبت‌نام، چه بعدش، همیشه
                    می‌تونی روی پشتیبانی ما حساب کنی.
                </span>
            </div>
        </div>

        <div class="left">
            <div class="div-title-and-phone-numbers">
                <div class="div-title-academy">
                    <mat-icon>emoji_objects</mat-icon>
                    <div class="bottom-title-span">
                        <span class="title">آکادمی</span>
                        <span class="title-color">طلوع فناوری</span>
                    </div>
                </div>

                <div class="div-phone-numbers">
                    <div class="right-side">
                        <button>
                            <mat-icon>call</mat-icon>
                        </button>
                        <div class="desc">
                            <span class="title">شماره تلفن:</span>
                            <a href="tel:026332404654" class="phone-number">026332404654</a>
                            <span class="forward-slash"> / </span>
                            <a href="tel:09194575315" class="phone-number">09194575315</a>
                        </div>
                    </div>

                    <div class="left-side">
                        <button>
                            <mat-icon>schedule</mat-icon>
                        </button>
                        <div class="desc">
                            <span class="title">ساعت کاری:</span>
                            <span class="time">09:00-21:00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-location">
                <span class="span-title-address">آدرس آکادمی:</span>
                <span class="span-address">کرج,خیابان شهید بهشتی نبش خیابان محقق (روبروی خیابان فروغی) طبقه فوقانی بانک
                    ایران زمین</span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="legacy">
            <span>کلیه حقوق این وبسایت محفوظ است</span>
        </div>
    </div>
</section>