.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    .div-photo-text {
        margin-top: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .div-left {
            width: 50%;
            height: 300px;
            border-radius: 5px;

            img {
                box-shadow: 0 0 10px black;
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
        }

        .div-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-align: center;

            .title-text {
                font-size: 27px;
                color: black;
                font-weight: bold;
            }
        }
    }

    .div-description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .neu-back {
            height: 95%;
            width: 95%;
            border-radius: 10px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow: 5px 5px 10px #989898,
                -5px -5px 10px #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            padding: 10px;
            gap: 1rem;

            .title {
                font-size: 18px;
                color: red;
                // font-weight: bold;
                direction: rtl;
            }

            .text-information {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.596);
                direction: rtl;
            }
        }
    }

    .div-contact-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .div-address {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 10px;

            .text1 {
                direction: rtl;
                font-size: 16px;
                color: black;

                img {
                    height: 15px;
                    width: 15px;
                }
            }

            .text2 {
                direction: rtl;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.89);
            }
        }

        .div-phone {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 10px;

            .text1 {
                direction: rtl;
                font-size: 16px;
                color: black;

                img {
                    height: 15px;
                    width: 15px;
                }
            }

            .text2 {
                direction: rtl;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.89);
            }
        }

        .div-email {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 10px;

            .text1 {
                direction: rtl;
                font-size: 16px;
                color: black;

                img {
                    height: 15px;
                    width: 15px;
                }
            }

            .text2 {
                direction: rtl;
                font-size: 14px;
                color: blue;
            }
        }

        .div-clock {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 10px;

            .text1 {
                direction: rtl;
                font-size: 16px;
                color: black;

                img {
                    height: 15px;
                    width: 15px;
                }
            }

            .text2 {
                direction: rtl;
                font-size: 14px;
                color: red;
            }
        }
    }
}

@media (min-width: 760px) {
    .section-main {
        .div-description {
            .neu-back {
                height: 95%;
                width: 70%;
            }
        }
    }
}

@media (min-width: 1100px) {
    .section-main {
        .div-photo-text {
            .div-left {
                width: 60%;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 95%;
                    width: 95%;
                }
            }

            .div-right {
                width: 40%;
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                text-align: center;

                .title-text {
                    font-size: 40px;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}