.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    .div-background {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;

        .right {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px;

            .div-title {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                align-items: center;

                .title {
                    direction: rtl;
                    font-size: 15px;
                    text-align: center;
                }

                .text-information {
                    text-align: center;
                    font-size: 13px;
                    direction: rtl;
                    color: rgba(0, 0, 0, 0.596);
                }
            }

            .div-photo {
                height: 200px;
                width: 250px;
                display: none;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .div-title-and-phone-numbers {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .div-title-academy {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    mat-icon {
                        color: rgb(52, 52, 255);
                    }

                    .bottom-title-span {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .title {
                            font-size: 16px;
                            color: black;
                        }

                        .title-color {
                            font-size: 16px;
                            color: rgb(52, 52, 255);
                        }
                    }
                }

                .div-phone-numbers {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    .right-side {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        button {
                            border: none;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            box-shadow: 0 0 10px black;

                            mat-icon {
                                color: rgb(52, 52, 255);
                            }
                        }

                        .desc {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 5px;
                            flex-direction: column;

                            .title {
                                font-size: 15px;
                                color: black;
                                direction: rtl;
                            }

                            .phone-number {
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.603);
                            }
                        }
                    }

                    .left-side {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        button {
                            border: none;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            box-shadow: 0 0 10px black;

                            mat-icon {
                                color: rgb(52, 52, 255);
                            }
                        }

                        .desc {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 5px;
                            flex-direction: column;

                            .title {
                                font-size: 15px;
                                color: black;
                                direction: rtl;
                            }

                            .time {
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.603);
                            }
                        }
                    }
                }
            }

            .div-location {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .span-title-address {
                    font-size: 15px;
                    color: black;
                    direction: rtl;
                }

                .span-address {
                    font-size: 14px;
                    direction: rtl;
                    color: rgba(0, 0, 0, 0.589);
                }
            }
        }

        .divider {
            background-color: rgba(0, 0, 0, 0.582);
            height: 1px;
            width: 90%;
            margin-top: 2rem;
        }

        .legacy {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            span {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.582);
            }
        }
    }
}

@media (min-width: 400px) {
    .section-main {
        .div-background {
            .left {
                .div-title-and-phone-numbers {
                    .div-phone-numbers {
                        .right-side {
                            .desc {
                                flex-direction: row-reverse;
                            }
                        }

                        .left-side {
                            .desc {
                                flex-direction: row-reverse;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section-main {
        .div-background {
            .right {
                .div-title {
                    width: 90%;
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    .section-main {
        .div-background {
            .right {
                .div-title {
                    .title {
                        font-size: 20px;
                    }

                    .text-information {
                        font-size: 16px;
                    }
                }
            }

            .divider {
                margin-top: 6rem;
            }
        }
    }
}