@if (loggedInUserSig && loggedInUserSig()) {
@if (loggedInUserSig()?.roles?.includes('manager')) {
@if (memberIn) {
<div class="member-card" [routerLink]="['/' + 'dashboard/target-user-profile/' + memberIn.userName]" routerLinkActive
    #rla="routerLinkActive">

    @if (memberIn.photo) {
    <img class="profile" [src]="memberIn.photo">
    }
    @else {
    @if (memberIn.gender && memberIn.gender.toLowerCase() === 'female') {
    <img class="profile" src="../assets/images/femial-profilePhoto1.png">
    }
    @else {
    <img class="profile" src="../assets/images/menProfilePhoto1.png">
    }
    }

    <span>نام: {{memberIn.name}}</span>
    <span>نام خانوادگی: {{memberIn.lastName}}</span>

    <div class="div-btns">
        <button [routerLink]="['/' + 'dashboard/target-user-profile/' + memberIn.userName]" routerLinkActive
            #rla="routerLinkActive" class="button-view">
            <span>بیشتر</span>
        </button>
    </div>
</div>
}
}
}