.member-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #929292,
        -5px -5px 10px #ffffff;
    padding: 1rem;
    // width: 220px;
    // height: 240px;
    
    .profile {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-top: 5px;
    }
    
    span {
        font-size: 15px;
        direction: rtl;
        color: black;
    }

    .div-btns {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;

        .button-view {
            height: 30px;
            padding: 1rem;
            font-size: 15px;
            border: none;
            border-radius: 10px;
            background: #e0e0e0;
            box-shadow: inset 5px 5px 10px #a8a8a8,
                inset -5px -5px 10px #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        }
        .button-view:hover {
            cursor: pointer;
            transition: 0.3s;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow:  5px 5px 10px #a8a8a8,
                -5px -5px 10px #ffffff;
        }

        // .button-add-enrolledCourse {
        //     height: 30px;
        //     padding: 1rem;
        //     font-size: 15px;
        //     border: none;
        //     border-radius: 10px;
        //     background: #e0e0e0;
        //     box-shadow: inset 5px 5px 10px #a8a8a8,
        //         inset -5px -5px 10px #ffffff;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     transition: 0.3s;
        // }
        // .button-add-enrolledCourse:hover {
        //     cursor: pointer;
        //     transition: 0.3s;
        //     background: linear-gradient(145deg, #f0f0f0, #cacaca);
        //     box-shadow:  5px 5px 10px #a8a8a8,
        //         -5px -5px 10px #ffffff;
        // }
    }
}