<header>
    <nav>
      <app-navbar />
    </nav>
</header>

<form class="member-form" [formGroup]="memberEditFg" (ngSubmit)="memberEditFg.valid && updateUser()">
    <div class="content">
        <div class="div-radio-input">
            <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="genderCtrl">
              <mat-radio-button class="radio-button" value="male">مرد</mat-radio-button>
              <mat-radio-button class="radio-button" value="femaile">زن</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input class="input" autoFocusDir type="email" formControlName="emailCtrl" label="Email" placeHolder="Your email" matInput>
            <mat-hint>ایمیل را وارد کنید</mat-hint>
            @if (EmailCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
            @else if (EmailCtrl.hasError('pattern')) {
            <mat-error>ایمیل رو به درستی وارد کنید</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>نام کاربری</mat-label>
            <input class="input" type="text" formControlName="userNameCtrl" label="Username" placeHolder="Your username"
              matInput>
            <mat-hint>بین ۱ تا ۳۰ حرف</mat-hint>
            @if (EmailCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>نام</mat-label>
            <input class="input" type="text" formControlName="nameCtrl" label="Name" placeHolder="Enter your desired name." matInput>
            @if (NameCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
            @else if (NameCtrl.hasError('minlength')) {
            <mat-error>خیلی کوتاهه حداقل :۲ حرف</mat-error>
            }
            @else if(NameCtrl.hasError('maxlength')) {
            <mat-error>خیلی بلنده حداقل: ۳۰ حرف</mat-error>
            }
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>نام خانوادگی</mat-label>
            <input class="input" type="text" formControlName="lastNameCtrl" label="Last Name" placeHolder="Enter your desired name." matInput>
            @if (LastNameCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
            @else if (LastNameCtrl.hasError('minlength')) {
            <mat-error>خیلی کوتاهه حداقل :۲ حرف‍</mat-error>
            }
            @else if(LastNameCtrl.hasError('maxlength')) {
            <mat-error>خیلی بلنده حداقل: ۳۰ حرف</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>شماره تلفن</mat-label>
            <input class="input" type="text" formControlName="phoneNumCtrl" label="Phone Number" placeHolder="Enter your phone number." matInput>
            @if (LastNameCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>تاریخ تولد</mat-label>
            <input class="input" formControlName="dateOfBirthCtrl" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3" matInput>
            <!-- @if (DateOfBirthCtrl.invalid) { -->
            <mat-hint>بین {{minDate.getFullYear()}} تا {{maxDate.getFullYear()}}</mat-hint>
            <!-- } -->
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
            @if (DateOfBirthCtrl.hasError('required')) {
            <mat-error>فرم رو پرکنید</mat-error>
            }
        </mat-form-field>

        <div class="div-btn-add">
            <button type="submit" [disabled]="memberEditFg.invalid">
                <span>ثبت تغییرات</span>
            </button>
        </div>
    </div>
</form>