.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.courses-container {
    // position: relative;
    // min-height: 70dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .div-title-course {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8.5rem;
        margin-bottom: 1.5rem;

        span {
            font-size: 35px;
            color: black;
            font-weight: 700;
        }
    }

    .div-btn-add-course {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            text-decoration: none;
            border: none;
            background-color: transparent;
            margin-right: 1rem;
            border-radius: 10px;
            padding: 1rem;
            background: #e0e0e0;
            box-shadow: inset 5px 5px 10px #a6a6a6af,
                inset -5px -5px 10px #ffffff;
            transition: 0.4s;

            .btn2 {
                color: red;
                font-weight: bold;
            }
        }

        button:hover {
            cursor: pointer;
            transform: scale(1.03);
            transition: 0.4s;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow: 5px 5px 10px #b1b1b1,
                -5px -5px 10px #ffffff;
            transition: 0.4s;
        }
    }

    .paginator {
        margin-top: 1.5rem;
        border-radius: 10px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow: 5px 5px 10px #b1b1b1,
            -5px -5px 10px #ffffff;
    }
}

@media (min-width: 768px) {
    .courses {
        flex-direction: row;
    }
}

@media (min-width: 1100px) {
    .courses-container {
        .div-title-course {
            margin-top: 8rem;
        }
    }
}