@if (courseIn) {
<div class="card-items">
    <span class="course-title">{{ courseIn.title }}
        @if (courseIn.isStarted == 'true') {
        <span class="text-isStarted-true">✅</span>
        }@else {
        <span class="text-isStarted-false">⏳</span>
        }
    </span>
    <span class="text">🕒 مدت دوره: {{ courseIn.hours }} ساعت</span>
    <span class="text">📅 روزهای دوره: {{ courseIn.days }}</span>
    <span class="text">⏳ ساعت به ازای هر کلاس: {{ courseIn.hoursPerClass }}</span>

    <div class="div-start-day">
        <span class="title">🕒 تاریخ شروع دوره</span>
        <span class="result">{{ shamsiStartDate }}</span>
    </div>

    @if (courseIn.professorNames.length) {
    <div class="div-professors-name">
        <span class="teachers-name">
            {{ courseIn.professorNames.length === 1 ? 'استاد:' : 'اساتید:' }}
        </span>
        <div class="result-teachers-name">
            {{ courseIn.professorNames.join(', ') }}
        </div>
    </div>
    }

    @if (courseIn.isStarted == true) {
    <span class="text-isStarted-true">در حال اجرا ✅</span>
    }@else {
    <span class="text-isStarted-false">هنوز شروع نشده ⏳</span>
    }

    @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('manager')) {
    <div class="div-button-edit-course" [routerLink]="['/' + 'dashboard/' + 'update-course/' + courseIn.title]"
        routerLinkActive #rla="routerLinkActive">
        <button>ادیت دوره</button>
    </div>
    }
</div>
}