<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="background">
    <form class="course-form" [formGroup]="courseFg" (ngSubmit)="courseFg.valid && createCourse()">
        <div class="div-title">
            <span>اضافه کردن دوره جدید</span>
        </div>

        <div class="content">
            <mat-form-field appearance="outline">
                <mat-label>اسم دوره</mat-label>
                <input class="input" autoFocusDir type="text" formControlName="titleCtrl" label="Title" placeHolder=""
                    matInput>
                <mat-hint>اسم دوره جدید را وارد کنید</mat-hint>
                @if (TitleCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>شهریه</mat-label>
                <input class="input" type="text" matInput formControlName="tuitionCtrl" appCurrencyFormatter />
                <span matSuffix class="suffix-text">تومان</span>
                <mat-hint>شهریه دوره را وارد کنید</mat-hint>
                <mat-error *ngIf="TuitionCtrl.hasError('required')">
                    فرم رو پرکنید
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ساعت دوره</mat-label>
                <input class="input" autoFocusDir type="number" formControlName="hourseCtrl" label="Hourse"
                    placeHolder="" matInput>
                <mat-hint>ساعت کل دوره را وارد کنید</mat-hint>
                @if (HourseCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ساعت هر کلاس</mat-label>
                <input class="input" autoFocusDir type="number" formControlName="hoursePerClassCtrl"
                    label="Hourse Per Class" placeHolder="" matInput>
                <mat-hint>ساعت هر کلاس را وارد کنید</mat-hint>
                @if (HoursePerClassCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <div>
                <app-datepicker [formControl]="StartCtrl" [maxDate]="max" [minDate]="min"></app-datepicker>
            </div>

            <div class="div-btn-add">
                <button type="submit" [disabled]="courseFg.invalid" mat-raised-button color="warn">ثبت دوره
                    جدید
                </button>
            </div>
        </div>
    </form>
</div>