<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="div-edit-course">
    <app-back-forward-button class="bf-btns"></app-back-forward-button>

    <form class="update-course-form" [formGroup]="courseFg" (ngSubmit)="courseFg.valid && updateCourse()">

        <div class="div-title">
            <span class="title">ویرایش دوره</span>
        </div>

        <div class="content">
            <mat-form-field appearance="outline">
                <mat-label>نام دوره</mat-label>
                <input class="input" autoFocusDir type="text" formControlName="titleCtrl" matInput dir="auto"
                    placeholder="بین ۲ تا ۳۰ کاراکتر">
                <mat-hint>نام جدید دوره</mat-hint>
                @if (TitleCtrl.hasError('required')) {
                <mat-error>لطفاً نام دوره را وارد کنید</mat-error>
                }
                @else if (TitleCtrl.errors && TitleCtrl.hasError('minlength')) {
                <mat-error>حداقل ۲ کاراکتر</mat-error>
                }
                @else if (TitleCtrl.errors && TitleCtrl.hasError('maxlength')) {
                <mat-error>حداکثر ۳۰ کاراکتر</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>مدت دوره (دقیقه)</mat-label>
                <input class="input" type="number" formControlName="totalMinutesCtrl" matInput min="1"
                    placeholder="مدت به دقیقه">
                <mat-hint>زمان کل دوره به دقیقه</mat-hint>
                @if (TotalMinutesCtrl.hasError('required')) {
                <mat-error>مدت دوره الزامی است</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>توضیحات دوره</mat-label>
                <textarea matInput cdkTextareaAutosize formControlName="descriptionCtrl" dir="auto"
                    placeholder="توضیحات دوره..."></textarea>
                <mat-hint>توضیحات کامل دوره</mat-hint>
                @if (DescriptionCtrl.hasError('required')) {
                <mat-error>توضیحات الزامی است</mat-error>
                }
            </mat-form-field>

            <div class="div-isStarted">
                <span>وضعیت دوره:</span>
                <mat-radio-group class="radio-group" aria-label="وضعیت" formControlName="isActiveCtrl">
                    <mat-radio-button class="radio-button" [value]="false">غیر فعال</mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="true">فعال</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="div-button-submit">
            <button class="button-edit-course" type="submit" [disabled]="courseFg.invalid">ثبت تغییرات</button>
        </div>
    </form>
</div>