<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="div-edit-course">
    <app-back-forward-button class="bf-btns"></app-back-forward-button>

    <form class="update-course-form" [formGroup]="courseFg" (ngSubmit)="courseFg.valid && updateCourse()">

        <div class="div-title">
            <span class="title">تغییر در دوره موردنظر</span>
        </div>

        <div class="content">
            <!-- title -->
            <mat-form-field appearance="outline">
                <mat-label>نام دوره</mat-label>
                <input class="input" autoFocusDir type="text" formControlName="titleCtrl" matInput dir="auto"
                    placeholder="بین ۲ تا ۳۰ کاراکتر باشد">
                <mat-hint *ngIf="!showErr(TitleCtrl),">در صورت تغییر، اسم جدید دوره را وارد کنید</mat-hint>
                <mat-error *ngIf="TitleCtrl.hasError('required')">لطفاً نام دوره را وارد کنید</mat-error>
                <mat-error *ngIf="TitleCtrl.hasError('minlength')">حداقل ۲ کاراکتر</mat-error>
                <mat-error *ngIf="TitleCtrl.hasError('maxlength')">حداکثر ۳۰ کاراکتر</mat-error>
            </mat-form-field>

            <!-- class name -->
            <mat-form-field appearance="outline">
                <mat-label>نام کلاس</mat-label>
                <input class="input" autoFocusDir type="text" formControlName="classNameCtrl" matInput dir="auto"
                    placeholder="بین ۲ تا ۳۰ کاراکتر باشد">
                <mat-hint *ngIf="!showErr(ClassNameCtrl)">در صورت تغییر، اسم جدید دوره را وارد کنید</mat-hint>
                <mat-error *ngIf="ClassNameCtrl.hasError('required')">لطفاً نام دوره را وارد کنید</mat-error>
                <mat-error *ngIf="ClassNameCtrl.hasError('minlength')">حداقل ۲ کاراکتر</mat-error>
                <mat-error *ngIf="ClassNameCtrl.hasError('maxlength')">حداکثر ۳۰ کاراکتر</mat-error>
            </mat-form-field>

            <!-- tuition -->
            <mat-form-field appearance="outline" class="tuition-field">
                <mat-label>شهریه</mat-label>
                <input class="input" type="text" matInput formControlName="tuitionCtrl" appCurrencyFormatter
                    inputmode="numeric" dir="ltr" placeholder="از ۱۰.۰۰۰ تومان">
                <span matSuffix matSuffix *ngIf="TuitionCtrl.value">تومان</span>
                <mat-hint *ngIf="!showErr(TuitionCtrl)">بین ۱۰,۰۰۰ تا ۱۰۰,۰۰۰,۰۰۰</mat-hint>
                <mat-error *ngIf="TuitionCtrl.hasError('required')">لطفاً مبلغ شهریه را مشخص کنید</mat-error>
                <mat-error *ngIf="TuitionCtrl.hasError('min')">حداقل شهریه ۱۰.۰۰۰ تومان است</mat-error>
                <mat-error *ngIf="TuitionCtrl.hasError('max')">حداکثر شهریه ۱۰۰.۰۰۰.۰۰۰ تومان (صد میلیون تومان)
                    است</mat-error>
            </mat-form-field>

            <!-- total hours -->
            <mat-form-field appearance="outline">
                <mat-label>ساعت دوره</mat-label>
                <input class="input" type="text" formControlName="hoursCtrl" matInput min="0.5" max="20000"
                    appDecimalFormatter inputmode="decimal" step="0.5" dir="ltr" placeholder="مجموع ساعت دوره">
                <mat-hint *ngIf="!showErr(HoursCtrl)">
                    بین ۰۰:۳۰ تا ۲۰.۰۰۰
                </mat-hint>
                <mat-error *ngIf="HoursCtrl.hasError('required')">لطفاً ساعت کل دوره را وارد کنید</mat-error>
                <mat-error *ngIf="HoursCtrl.hasError('min')">حداقل ۰,۵ ساعت</mat-error>
                <mat-error *ngIf="HoursCtrl.hasError('max')">حداکثر ۲۰,۰۰۰ ساعت</mat-error>
            </mat-form-field>

            <!-- hours per class -->
            <mat-form-field appearance="outline">
                <mat-label>ساعت هرکلاس</mat-label>
                <input class="input" type="number" formControlName="hoursPerClassCtrl" matInput min="0.5" max="10"
                    step="0.5" inputmode="decimal" dir="ltr" placeholder="شروع از 0.5 ساعت">
                <mat-hint *ngIf="!showErr(HoursPerClassCtrl)">بین ۰۰:۳۰ تا ۱۰</mat-hint>
                <mat-error *ngIf="HoursPerClassCtrl.hasError('required')">لطفا ساعت هر کلاس را مشخص کنید</mat-error>
                <mat-error *ngIf="HoursPerClassCtrl.hasError('pattern')">فقط اعداد ۰,۵ تا ۱۰ با گام ۰,۵ مجاز
                    است</mat-error>
                <mat-error *ngIf="HoursPerClassCtrl.hasError('min')">حداقل زمان کلاس: نیم ساعت</mat-error>
                <mat-error *ngIf="HoursPerClassCtrl.hasError('max')">حداکثر زمان کلاس: ۱۰ ساعت</mat-error>
            </mat-form-field>

            <div>
                <app-datepicker [formControl]="StartCtrl" [maxDate]="max" [minDate]="min"></app-datepicker>
                <mat-error *ngIf="StartCtrl.hasError('required')">بدون وارد کردن تاریخ شروع، ثبت دوره ممکن
                    نیست</mat-error>
            </div>

            <div class="div-isStarted">
                <span>دوره شروع شده است؟</span>

                <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="isStartedCtrl">
                    <mat-radio-button class="radio-button" value="false">خیر</mat-radio-button>
                    <mat-radio-button class="radio-button" value="true">بله</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="div-button-submit">
            <button class="button-edit-course" type="submit" [disabled]="courseFg.invalid">ثبت تغییرات</button>
        </div>
    </form>

    <div class="div-get-all-teachers">
        @if (teachers.length > 0) {
        <div class="background-teacher-card">
            <div class="div-title">
                <span>مشاهده مدرس ها</span>
            </div>

            @for (teacher of teachers; track $index) {
            <div class="teacher-card">
                @if (teacher.photo) {
                <img class="profile" [src]="photoUrl + teacher.photo.url_165" alt="">
                }
                @else {
                @if (teacher.gender == 'Male') {
                <img class="profile" src="../assets/images/menProfilePhoto.png" alt="">
                } @else {
                <img class="profile" src="../assets/images/womenProfilePhoto.png" alt="">
                }
                }
                <span>نام: <span class="information">{{teacher.name}}</span></span>
                <span>نام خانوادگی: <span class="information">{{teacher.lastName}}</span></span>

                <div class="div-add-or-remove-teacher-btn">
                    <button class="button add-professor" *ngIf="!professorUserNames.includes(teacher.userName)"
                        (click)="addProfessor(teacher)">

                        <ng-container>
                            <mat-icon>person_add</mat-icon>
                        </ng-container>
                        <ng-template #loadingAdd>
                            <mat-spinner class="spinner-icon" diameter="20"></mat-spinner>
                        </ng-template>
                    </button>

                    <button class="button delete-professor" *ngIf="professorUserNames.includes(teacher.userName)"
                        (click)="removeProfessor(teacher)">

                        <ng-container>
                            <mat-icon>person_remove</mat-icon>
                        </ng-container>
                        <ng-template #loadingDelete>
                            <mat-spinner class="spinner-icon" diameter="20"></mat-spinner>
                        </ng-template>
                    </button>
                </div>
            </div>
            }
        </div>
        }@else {
        <span>هیچ مدرسی وجود ندارد</span>
        }
    </div>
</div>