.students-container {
    // position: relative;
    // min-height: 70dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;

    .title {
        font-size: 30px;
        color: black;
        font-weight: 700;
        margin-top: 6.5rem;
    }
    .div-cards-student {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .paginator {
        // position: absolute;
        // bottom: 1rem;
        width: 90%;
        border-radius: 10px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  5px 5px 10px #5a5a5a,
            -5px -5px 10px #ffffff;
    }
}

@media (min-width: 750px) {
    .students-container {
        .div-cards-student {
            width: 80%;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .paginator {
            width: 70%;
        }
    }
}

@media (min-width: 1100px) {
    .students-container {
        .div-cards-student {
            width: 80%;
        }

        .paginator {
            width: 40%;
        }
    }
}