<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<section class="students-container">
    <span class="title">{{courseTitle}}</span>

    <div class="div-cards-student">
        @for (student of students; track $index) {
        <app-student-card [studentInput]="student"></app-student-card>
        }
    </div>
    @if (pagination && memberParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false" [pageIndex]="memberParams.pageNumber - 1"
        aria-label="Select page" class="paginator">
    </mat-paginator>
    }
</section>