<nav>
    <section class="right">
        <div class="div-links">
            <div class="div-transsform-style">
                <button class="btn" [routerLink]="['/' + 'courses']" routerLinkActive #rla="routerLinkActive">
                    دوره ها
                </button>
                <button class="btn" [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">
                    درباره ما
                </button>
                <button class="btn" [routerLink]="['/' + 'contact-us']" routerLinkActive #rla="routerLinkActive">
                    تماس باما
                </button>
            </div>
        </div>
    </section>

    <div class="div-menu-button">
        <button class="menu-button" (click)="openMenu()">
            <mat-icon>menu</mat-icon>
        </button>

        <app-back-forward-button></app-back-forward-button>

        <div class="div-btns">
            @if (loggedInUserSig && loggedInUserSig(); as user) {
            <button class="profile" (click)="openProfile()">
                <span>{{loggedInUserSig()?.name?.charAt(0)?.toUpperCase()}}</span>
            </button>
            }
            @else {
            <button class="btn-login" routerLink="/account/login">
                <span class="text">ورود</span>
            </button>
            }

            <div class="div-open-profile" *ngIf="showProfile">
                <div class="div-button-back-page">
                    <button class="back-to-page" (click)="closeProfile()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <!-- @if (loggedInUserSig && loggedInUserSig(); as user) { -->
                <div class="div-description-of-user">
                    <span>نام: {{loggedInUserSig && loggedInUserSig()?.name}}</span>
                    <span>نام کاربری: {{loggedInUserSig && loggedInUserSig()?.userName}}</span>
                    <span>ایمیل: {{loggedInUserSig && loggedInUserSig()?.email}}</span>
                    <!-- <span>نام{{loggedInUserSig()?.name}}:</span> -->
                </div>

                <div class="div-routes">
                    <button [routerLink]="['/' + 'profile']" routerLinkActive
                        #rla="routerLinkActive"><span>پروفایل</span></button>

                    @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('manager')) {
                    <button [routerLink]="['/' + 'manager-panel']" routerLinkActive
                        #rla="routerLinkActive"><span>پنل-مدیر</span></button>
                    <button [routerLink]="['/' + 'members']" routerLinkActive
                        #rla="routerLinkActive"><span>کاربران</span></button>
                    }
                    @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('teacher')) {
                    <button [routerLink]="['/' + 'teacher-panel']" routerLinkActive
                        #rla="routerLinkActive"><span>پنل-معلم</span></button>
                    }
                </div>

                <div class="div-btn-log-out">
                    <span class="desc">شما وارد حساب کاربری شده اید میخواهید خارج بشید؟</span>
                    <button class="exit" (click)="logout()">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">خروج</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hamburger-menu">
        <div class="top">
            <button class="Btn" (click)="closeMenu()">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg>
                </div>

                <div class="text">خروج</div>
            </button>
        </div>

        <div class="bottom">
            <button [routerLink]="['/' + 'courses']" routerLinkActive #rla="routerLinkActive">دوره ها</button>
            <button [routerLink]="['/' + 'about']" routerLinkActive #rla="routerLinkActive">درباره ما</button>
            <button [routerLink]="['/' + 'contact-us']" routerLinkActive #rla="routerLinkActive">تماس با ما</button>
        </div>
    </div>

    <section class="left">
        <div class="div-btns">
            @if (loggedInUserSig && loggedInUserSig(); as user) {
            <button class="profile" (click)="openProfile()">
                <span>{{loggedInUserSig()?.name?.charAt(0)?.toUpperCase()}}</span>
            </button>
            }
            @else {
            <button class="btn-login" routerLink="/account/login">
                <span class="text">ورود</span>
            </button>
            }

            <div class="div-open-profile" *ngIf="showProfile">
                <div class="div-button-back-page">
                    <button class="back-to-page" (click)="closeProfile()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <!-- @if (loggedInUserSig && loggedInUserSig(); as user) { -->
                <div class="div-description-of-user">
                    <span>نام: {{loggedInUserSig && loggedInUserSig()?.name}}</span>
                    <span>نام کاربری: {{loggedInUserSig && loggedInUserSig()?.userName}}</span>
                    <span>ایمیل: {{loggedInUserSig && loggedInUserSig()?.email}}</span>
                    <!-- <span>نام{{loggedInUserSig()?.name}}:</span> -->
                </div>

                <div class="div-routes">
                    <button [routerLink]="['/' + 'profile']" routerLinkActive
                        #rla="routerLinkActive"><span>پروفایل</span></button>

                    @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('manager')) {
                    <button [routerLink]="['/' + 'manager-panel']" routerLinkActive
                        #rla="routerLinkActive"><span>پنل-مدیر</span></button>
                    <button [routerLink]="['/' + 'members']" routerLinkActive
                        #rla="routerLinkActive"><span>کاربران</span></button>
                    }
                    @if (loggedInUserSig && loggedInUserSig()?.roles?.includes('teacher')) {
                    <button [routerLink]="['/' + 'teacher-panel']" routerLinkActive
                        #rla="routerLinkActive"><span>پنل-معلم</span></button>
                    }
                </div>

                <div class="div-btn-log-out">
                    <span class="desc">شما وارد حساب کاربری شده اید میخواهید خارج بشید؟</span>
                    <button class="exit" (click)="logout()">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">خروج</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="div-logo">
            <img [routerLink]="['/' + 'home']" routerLinkActive #rla="routerLinkActive"
                src="../assets/images/logo-tolou-fanavari.png" alt="">
        </div>
    </section>
</nav>