.card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;

    .course-title {
        font-size: 17px;
        color: blue;
    }

    .text-isStarted-true {
        color: green;
        font-size: 14px;
    }

    .text-isStarted-false {
        color: red;
        font-size: 14px;
    }
}


@media (min-width: 768px) {
    .main-section {
        .background-card {
            flex-direction: row;

            .card-items {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1150px) {
    .main-section {
        .background-card {
            gap: 2rem;

            .card-items {
                width: 320px;
            }
        }
    }
}