<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="background">
    <form class="course-form" [formGroup]="addCourseFg" (ngSubmit)="addCourseFg.valid && add()">
        <div class="div-title">
            <span>اضافه کردن دوره جدید</span>
        </div>

        <div class="content">
            <mat-form-field appearance="outline">
                <mat-label>اسم دوره</mat-label>
                <input class="input" autoFocusDir type="text" formControlName="titleCtrl" label="Title" placeHolder=""
                    matInput>
                <mat-hint>اسم دوره جدید را وارد کنید</mat-hint>
                @if (TitleCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>شهریه</mat-label>
                <input class="input" type="text" matInput formControlName="tuitionCtrl" appCurrencyFormatter />
                <span matSuffix class="suffix-text">تومان</span>
                <mat-hint>شهریه دوره را وارد کنید</mat-hint>
                <mat-error *ngIf="TuitionCtrl.hasError('required')">
                    فرم رو پرکنید
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ساعت دوره</mat-label>
                <input class="input" autoFocusDir type="number" formControlName="hourseCtrl" label="Hourse"
                    placeHolder="" matInput>
                <mat-hint>ساعت کل دوره را وارد کنید</mat-hint>
                @if (HourseCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ساعت هر کلاس</mat-label>
                <input class="input" autoFocusDir type="number" formControlName="hoursePerClassCtrl"
                    label="Hourse Per Class" placeHolder="" matInput>
                <mat-hint>ساعت هر کلاس را وارد کنید</mat-hint>
                @if (HoursePerClassCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field>

            <!-- <ng-persian-datepicker [(ngModel)]="startDate" (ngModelChange)="onDateChange($event)">
            </ng-persian-datepicker> -->

            <!-- <mat-form-field appearance="outline">
                <mat-label>تاریخ شروع دوره</mat-label>
                <input class="input" formControlName="startCtrl" matInput [matDatepicker]="dp3" matInput>

                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
                @if (StartCtrl.hasError('required')) {
                <mat-error>فرم رو پرکنید</mat-error>
                }
            </mat-form-field> -->

            <!-- <mat-form-field appearance="outline">
                <mat-label>تاریخ شروع دوره</mat-label>
                <input class="input" [value]="shamsiDisplayDate" readonly (click)="openDatePicker()" matInput />
            </mat-form-field>

            <div class="div-button-date">
                <button class="open-date" (click)="openDatePicker()"></button>
            </div>

            <div class="div-background-date-picker">
                <button class="close-date" (click)="closeDatePicker()"></button>

                <div class="col offset-l2 l4 offset-m3 m6 offset-s2 s8">
                    <div class="datepicker-wrapper">
                        <ng-persian-datepicker [calendarIsGregorian]="false" (dateOnSelect)="onDateSelect($event)"
                            [dateFormat]="'jYYYY/jMM/jDD'" [dateGregorianFormat]="'YYYY-MM-DD'"
                            [(uiIsVisible)]="uiIsVisible" [uiTheme]="uiTheme" [uiYearView]="uiYearView"
                            [uiMonthView]="uiMonthView" [uiHideAfterSelectDate]="uiHideAfterSelectDate"
                            [uiHideOnOutsideClick]="uiHideOnOutsideClick" [uiTodayBtnEnable]="uiTodayBtnEnable">

                            <div class="input-field">
                                <input type="text" formControlName="dateCtrl" aria-label="Datepicker Input" />
                            </div>
                        </ng-persian-datepicker>
                    </div>
                </div>
            </div> -->

            <mat-form-field appearance="outline">
                <mat-label>تاریخ شروع دوره</mat-label>
                <input class="input" [value]="shamsiDisplayDate" readonly (click)="openDatePicker()" matInput />
            </mat-form-field>

            <ng-persian-datepicker [calendarIsGregorian]="false" (dateOnSelect)="onDateSelect($event)"
                [dateFormat]="'jYYYY/jMM/jDD'" [dateGregorianFormat]="'YYYY-MM-DD'" [(uiIsVisible)]="uiIsVisible"
                [uiTheme]="uiTheme" [uiYearView]="uiYearView" [uiMonthView]="uiMonthView"
                [uiHideAfterSelectDate]="uiHideAfterSelectDate" [uiHideOnOutsideClick]="uiHideOnOutsideClick"
                [uiTodayBtnEnable]="uiTodayBtnEnable">

                <!-- <div class="input-field">
                    <input type="text" formControlName="dateCtrl" aria-label="Datepicker Input" />
                </div> -->
            </ng-persian-datepicker>

            <div class="div-btn-add">
                <button type="submit" [disabled]="addCourseFg.invalid" mat-raised-button color="warn">ثبت دوره
                    جدید
                </button>
            </div>
        </div>
    </form>
</div>