.background {
    width: 100%;
    margin-top: 6rem;

    .course-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        position: relative;

        .div-title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            span {
                font-size: 16px;
                color: black;
                font-weight: 600;
            }
        }

        .content {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            border-radius: 5px;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            box-shadow: 5px 5px 10px #c3c3c3,
                -5px -5px 10px #fdfdfd;
            padding: 1rem;
            margin-bottom: 1rem;

            mat-form-field {
                width: 80%;

                .input {
                    height: 54px;
                    width: 100%;
                    border: none;
                    border-radius: 10px;
                    background: #e0e0e0;
                    box-shadow: inset 5px 5px 10px #cecece,
                        inset -5px -5px 10px #f2f2f2;
                }

                mat-label {
                    font-size: 15px;
                    font-weight: 800;
                    color: black;
                }

                mat-hint {
                    font-size: 12px;
                }

                mat-error {
                    color: red;
                    font-size: 12px;
                }
            }

            .div-button-date {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: yellow;

                .open-date {
                    background-color: green;
                    height: 30px;
                    width: 30px;
                    border: none;
                }
            }

            .div-background-date-picker {
                display: none;
                justify-content: center;
                align-items: center;
                width: 50%;
                position: absolute;
                left: 25%;
                height: 400px;
                background-color: red;

                .close-date {
                    background-color: blueviolet;
                    height: 30px;
                    width: 30px;
                    border: none;
                    display: none;
                }
            }

            .div-btn-add {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    margin-top: 10px;
                    height: 40px;
                    // width: 150px;
                    border: none;
                    border-radius: 15px;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    background: linear-gradient(145deg, #f0f0f0, #cacaca);
                    box-shadow: 5px 5px 10px #989898,
                        -5px -5px 10px #ffffff;

                    &:hover {
                        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15), -6px -6px 15px rgba(255, 255, 255, 0.8);
                    }
                }

                button:active {
                    transition: all .1s ease-in-out 0s;
                    background: #e0e0e0;
                    box-shadow: inset 5px 5px 10px #989898,
                        inset -5px -5px 10px #ffffff;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .background {
        .course-form {
            .div-title {
                span {
                    font-size: 18px;
                }
            }

            .content {
                width: 60%;
            }
        }
    }
}

@media (min-width: 1100px) {
    .background {
        .course-form {
            .div-title {
                span {
                    font-size: 18px;
                }
            }

            .content {
                width: 50%;

                mat-form-field {
                    width: 60%;
                }
            }
        }
    }
}

::ng-deep mat-form-field {
    height: 40px !important;

    .mat-mdc-text-field-wrapper {
        padding: 0px !important;
    }

    .mat-mdc-form-field-infix {
        text-align: right;
        padding: 0px !important;
    }
}