<header>
    <nav>
        <app-navbar />
    </nav>
</header>

<div class="container">
    <div class="div-profile">
        <div class="title">
            <span>پروفایل کاربر</span>
        </div>

        <div class="profile-card">

            <div class="profile-image">
                <div class="avatar-wrapper" (click)="fileInput.click()">
                    <img [src]="getProfilePhoto()" alt="Profile" />

                    <div class="avatar-hover-overlay">
                        <div class="hover-circle">
                            <span class="hover-plus">+</span>
                        </div>
                    </div>

                    <div class="avatar-plus-badge" (click)="$event.stopPropagation(); fileInput.click()">
                        <span>+</span>
                    </div>
                </div>

                <input #fileInput type="file" accept="image/*" hidden />
            </div>

            <div class="profile-info">
                <span class="description">نام: {{targetUserProfile?.name}}</span>
                <span class="description">نام خانوادگی: {{targetUserProfile?.lastName}}</span>
                <span class="description">نام کاربری: {{targetUserProfile?.userName}}</span>
                <span class="description">ایمیل: {{targetUserProfile?.email}}</span>
                <span class="description">شماره تلفن: {{targetUserProfile?.phoneNum}}</span>
                <span class="description">سن: {{targetUserProfile?.age}}</span>

                @if (isMale) {
                <span class="gender-men-span">جنسیت: آقا</span>
                } @else {
                <span class="gender-women-span">جنسیت: خانم</span>
                }
            </div>
        </div>
    </div>

    <div class="div-tabs">
        <mat-tab-group>
            <mat-tab label="ویرایش پروفایل">
                <div class="div-edit-profile">
                    <form class="update-member-form" [formGroup]="targetMemberEditFg"
                        (ngSubmit)="targetMemberEditFg.valid && updateTargetMember()">

                        <div class="div-title">
                            <span class="title">اصلاح اطلاعات کاربر</span>
                        </div>

                        <div class="content">
                            <mat-form-field appearance="outline">
                                <mat-label>نام</mat-label>
                                <input class="input" type="text" matInput formControlName="targetNameCtrl"
                                    placeholder="نام مورد نظر خود را وارد کنید" />
                                @if (TargetNameCtrl.hasError('required')) {
                                <mat-error>فرم رو پرکنید</mat-error>
                                }
                                @else if (TargetNameCtrl.hasError('minlength')) {
                                <mat-error>حداقل ۲ حرف مجاز است</mat-error>
                                }
                                @else if (TargetNameCtrl.hasError('maxlength')) {
                                <mat-error>حداکثر ۳۰ حرف مجاز است</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>نام خانوادگی</mat-label>
                                <input class="input" type="text" matInput formControlName="targetLastNameCtrl"
                                    placeholder="نام خانوادگی مورد نظر خود را وارد کنید" />
                                @if (TargetLastNameCtrl.hasError('required')) {
                                <mat-error>فرم رو پرکنید</mat-error>
                                }
                                @else if (TargetLastNameCtrl.hasError('minlength')) {
                                <mat-error>حداقل ۲ حرف مجاز است</mat-error>
                                }
                                @else if (TargetLastNameCtrl.hasError('maxlength')) {
                                <mat-error>حداکثر ۳۰ حرف مجاز است</mat-error>
                                }
                            </mat-form-field>

                            <div class="date-field">
                                <app-datepicker [formControl]="TargetDateOfBirthCtrl" [maxDate]="max" [minDate]="min"
                                    [label]="'تاریخ تولد'">
                                </app-datepicker>
                            </div>

                            <mat-form-field appearance="outline">
                                <mat-label>شماره تلفن</mat-label>
                                <span matPrefix dir="ltr">+98&nbsp;</span>
                                <input class="input" type="tel" maxlength="10" matInput
                                    formControlName="targetPhoneNumCtrl" dir="ltr" />
                                @if (TargetPhoneNumCtrl.hasError('required')) {
                                <mat-error>فرم رو پرکنید</mat-error>
                                }
                                @else if (TargetPhoneNumCtrl.hasError('pattern')) {
                                <mat-error>فرمت شماره موبایل معتبر نیست</mat-error>
                                }
                            </mat-form-field>
                        </div>

                        <div class="div-button-submit">
                            <button *ngIf="!targetProfileEditMode" class="button-edit-profile" type="button"
                                mat-raised-button (click)="enableTargetProfileEdit()">
                                ایجاد تغییرات
                            </button>

                            <button *ngIf="targetProfileEditMode" class="button-edit-profile" type="submit"
                                mat-raised-button color="primary" [disabled]="targetMemberEditFg.invalid">
                                ذخیره تغییرات
                            </button>

                            <button *ngIf="targetProfileEditMode" class="button-cancel" type="button" mat-stroked-button
                                (click)="cancelTargetProfileEdit()">
                                انصراف
                            </button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="دوره ها">
                @if (courses && targetUserProfile) {
                <ng-container>
                    <div class="div-courses">
                        <div class="title">
                            <span>دوره های کاربر</span>
                        </div>

                        @if (!loading) {
                        <div class="course-container">
                            @if (error) {
                            <div class="error-message">
                                {{ error }}
                            </div>
                            }

                            @if (shamsiCourses.length > 0) {
                            <div class="course-list">
                                @for (course of shamsiCourses; track $index) {
                                <div class="course-card">
                                    @if (isMale) {
                                    <span class="name-of-course-men">{{ course.title }}</span>
                                    } @else {
                                    <span class="name-of-course-women">{{ course.title }}</span>
                                    }
                                    <div class="tozihat-course">
                                        <span class="text">
                                            شهریه:
                                            {{ course.tuition | currency:'IRR' }}
                                        </span>

                                        <span class="text">
                                            مدت زمان دوره:
                                            @if (isMale) {
                                            <span class="name-of-course-men">{{ course.hours }}</span>
                                            } @else {
                                            <span class="name-of-course-women">{{ course.hours }}</span>
                                            }
                                            ساعت
                                        </span>

                                        <span class="text">
                                            مدت زمان هر جلسه:
                                            @if (isMale) {
                                            <span class="name-of-course-men">{{ course.hoursPerClass }}</span>
                                            } @else {
                                            <span class="name-of-course-women">{{ course.hoursPerClass }}</span>
                                            }
                                            ساعت
                                        </span>

                                        <span class="text">
                                            تاریخ شروع: {{ course.shamsiStart }}
                                        </span>

                                        @if (course.professorNames && course.professorNames.length > 0) {
                                        <span class="text">
                                            <span>
                                                {{ course.professorNames.length === 1 ? 'استاد:' : 'اساتید:' }}
                                            </span>
                                            <span class="teachers-name">
                                                {{ course.professorNames.join('، ') }}
                                            </span>
                                        </span>
                                        } @else {
                                        <span class="text">
                                            <span class="teachers-name">
                                                استاد:
                                            </span>
                                            <span class="green-text">
                                                نامشخص
                                            </span>
                                        </span>
                                        }

                                        <span class="text">
                                            وضعیت دوره:
                                            <span [ngClass]="{
                                                'green-text': getCourseStatus(course) === 'در حال برگزاری',
                                                'red-text': getCourseStatus(course) !== 'در حال برگزاری'}">
                                                {{ getCourseStatus(course) }}
                                            </span>
                                        </span>
                                    </div>


                                    <div class="div-button-show-classmate">
                                        <button
                                            [routerLink]="['/dashboard/attendences-card/' + targetUserProfile.userName + '/' + course.title]">
                                            دیدن حضور و غیاب
                                        </button>
                                        <button
                                            [routerLink]="['/dashboard' + '/target-member-enrolled-course/' + targetUserProfile.userName + '/' + course.title]">
                                            مشاهده پرداخت ها
                                        </button>
                                    </div>
                                </div>
                                }
                            </div>
                            }
                            @if (shamsiCourses.length === 0) {
                            <div class="no-courses">
                                <span>هیچ دوره‌ای ثبت‌نام نکرده‌اید.</span>
                            </div>
                            }
                        </div>
                        }
                        @else {
                        <div class="loading">در حال بارگذاری...</div>
                        }

                        <mat-paginator [length]="pagination?.totalItems || 0"
                            [pageSize]="pagination?.itemsPerPage || 10" [pageSizeOptions]="pageSizeOptions"
                            (page)="handlePageEvent($event)">
                        </mat-paginator>
                    </div>
                </ng-container>
                }
                @else {
                <ng-template>
                    <p>Course doesn't exist.</p>
                </ng-template>
                }
            </mat-tab>

            <mat-tab label="افزودن دوره">
                <div class="div-enrolled-course">
                    <form class="enrolled-form" [formGroup]="addEnrolledCourseFg"
                        (ngSubmit)="addEnrolledCourseFg.valid && addEnrolledCourse()">

                        <div class="content">

                            <mat-form-field appearance="outline">
                                <mat-label>نام دوره</mat-label>
                                <mat-select formControlName="titleCourseCtrl">
                                    <mat-option *ngFor="let course of showCourses" [value]="course.title">
                                        {{ course.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="TitleCourseCtrl.hasError('required')">
                                    !این فیلد خالی است
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>پیش پرداخت</mat-label>
                                <input type="text" matInput formControlName="paidAmountCtrl"
                                    placeholder="مثلاً 1,000,000" appCurrencyFormatter />
                                <mat-hint>مبلغی که در ابتدا از شهریه پرداخت می‌شود</mat-hint>
                                @if (PaidAmountCtrl.hasError('required')) {
                                <mat-error>!این فیلد خالی است</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تعداد اقساط</mat-label>
                                <input type="number" matInput min="0" formControlName="numberOfPaymentsCtrl"
                                    placeholder="مثلاً 3" />
                                <mat-hint>اگر ۰ وارد کنید، پرداخت قسطی نخواهد بود</mat-hint>
                                @if (NumberOfPaymentsCtrl.hasError('required')) {
                                <mat-error>!این فیلد خالی است</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ هر قسط</mat-label>
                                <input type="text" matInput formControlName="installmentAmountCtrl"
                                    placeholder="مثلاً 500,000" appCurrencyFormatter />
                                <mat-hint>در صورت قسط‌بندی، مبلغ هر قسط را وارد کنید</mat-hint>
                                @if (InstallmentAmountCtrl.hasError('required') && InstallmentAmountCtrl.enabled) {
                                <mat-error>!این فیلد خالی است</mat-error>
                                }
                            </mat-form-field>

                            <div class="buttons-row">
                                <button type="button" class="button-enrolled-cancel"
                                    (click)="onCancelAddEnrolledCourse()">
                                    انصراف
                                </button>

                                <button class="button-enrolled" type="submit" [disabled]="addEnrolledCourseFg.invalid">
                                    ذخیره اطلاعات
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="پرداخت شهریه">
                @if (courseTitles) {
                <div class="div-enrolled-course">
                    <form class="enrolled-form" [formGroup]="updateEnrolledCourseFg"
                        (ngSubmit)="updateEnrolledCourseFg.valid && updateEnrolledCourse()">
                        <div class="content">
                            <mat-form-field appearance="outline">
                                <mat-label>نام دوره</mat-label>
                                <mat-select formControlName="titleCourseUpdateCtrl">
                                    <mat-option *ngFor="let title of courseTitles" [value]="title">
                                        {{ title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="TitleCourseUpdateCtrl.hasError('required')">!این فیلد خالی
                                    است</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ پرداختی</mat-label>
                                <input type="text" formControlName="paidAmountUpdateCtrl" matInput appCurrencyFormatter>
                                <span matSuffix class="suffix-text">تومان</span>
                                @if (PaidAmountUpdateCtrl.hasError('required')) {
                                <mat-error>!این فیلد خالی است</mat-error>
                                }
                            </mat-form-field>

                            <div class="radio-inputs">
                                <mat-radio-group class="radio-group" aria-label="Select an option"
                                    formControlName="methodCtrl">
                                    <mat-radio-button class="radio-button" [value]="2">
                                        <div class="div-radio-items">
                                            <span>کارت خوان</span>
                                            <img src="../assets/images/iconKartKhon.png" alt="">
                                        </div>
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="1">
                                        <div class="div-radio-items">
                                            <span>نقدی</span>
                                            <img src="../assets/images/iconNaghdi.png" alt="">
                                        </div>
                                    </mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="0">
                                        <div class="div-radio-items">
                                            <span>کارت به کارت</span>
                                            <img src="../assets/images/iconKartBeKart.png" alt="">
                                        </div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="buttons-row">
                                <button type="button" class="button-enrolled-cancel"
                                    (click)="onCancelUpdateEnrolledCourse()">
                                    انصراف
                                </button>

                                <button class="button-enrolled" type="submit"
                                    [disabled]="updateEnrolledCourseFg.invalid">
                                    ذخیره اطلاعات
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
                }
            </mat-tab>
        </mat-tab-group>
    </div>
</div>