<header>
  <nav>
    <app-navbar />
  </nav>
</header>

<section id="section-main">
  <div class="div-background">
    <img class="left-side-img" src="../assets/images/loginPhotoRS.jpg" alt="">

    <form class="login-form" [formGroup]="loginFg" (ngSubmit)="loginFg.valid && login()">
      <div class="content">
        <span class="title">به آکادمی طلوع فناوری خوش آمدید</span>

        <!-- Email -->
        <mat-form-field appearance="outline">
          <mat-label>ایمیل</mat-label>
          <input matInput type="email" formControlName="emailCtrl" placeholder="ایمیل خود را وارد کنید"
            autocomplete="email" />
          <mat-hint>ایمیل خودرا وارد کنید</mat-hint>
          @if (EmailCtrl.hasError('required')) {
          <mat-error>این فیلد الزامی است</mat-error>
          }
          @else if (EmailCtrl.errors && EmailCtrl.hasError('pattern')) {
          <mat-error>ایمیل را به‌درستی وارد کنید</mat-error>
          }
          @else if (EmailCtrl.errors && EmailCtrl.hasError('maxlength')) {
          <mat-error>حداکثر ۵۰ کاراکتر</mat-error>
          }
        </mat-form-field>


        <!-- Password -->
        <mat-form-field appearance="outline">
          <mat-label>رمز عبور</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="passwordCtrl" matInput
            placeHolder="پسوورد">

          <button mat-icon-button matSuffix tabindex="-1" type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (PasswordCtrl.hasError('required')) {
          <mat-error>!این فیلد خالی است</mat-error>
          }
          @else if (PasswordCtrl.errors && PasswordCtrl.hasError('minlength')) {
          <mat-error>
            حداقل این مقدار باید باشد {{PasswordCtrl.errors['minlength'].requiredLength}} خیلی کوتاه است.
            .شما این مقدار وارد کردین {{PasswordCtrl.errors['minlength'].actualLength}}
          </mat-error>
          }
          @else if(PasswordCtrl.errors && PasswordCtrl.hasError('maxlength')) {
          <mat-error>خیلی بلنده. حداکثر: {{PasswordCtrl.errors['maxlength'].requiredLength}} حرف</mat-error>
          }
        </mat-form-field>

        <button class="button-login" type="submit" [disabled]="loginFg.invalid" mat-raised-button
          color="primary">ورود</button>

        <div class="div-forgot-pass">
          <span>رمز عبور خودرا فراموش کردید؟</span>
          <a href="/recovery">بازیابی رمزعبور</a>
        </div>
      </div>
    </form>
  </div>
</section>